/* prettier-ignore */
:root {
	--stuic-color-primary:                        #facc15;
	--stuic-color-primary-hover:                  color-mix(in oklab, var(--stuic-color-primary), black 10%);
	--stuic-color-primary-active:                 color-mix(in oklab, var(--stuic-color-primary), black 20%);
	--stuic-color-primary-foreground:             #000000;
	--stuic-color-primary-foreground-hover:       #000000;
	--stuic-color-primary-foreground-active:      #000000;

	--stuic-color-accent:                         #ec4899;
	--stuic-color-accent-hover:                   color-mix(in oklab, var(--stuic-color-accent), black 10%);
	--stuic-color-accent-active:                  color-mix(in oklab, var(--stuic-color-accent), black 20%);
	--stuic-color-accent-foreground:              #ffffff;
	--stuic-color-accent-foreground-hover:        #ffffff;
	--stuic-color-accent-foreground-active:       #ffffff;

	--stuic-color-destructive:                    #e11d48;
	--stuic-color-destructive-hover:              color-mix(in oklab, var(--stuic-color-destructive), black 10%);
	--stuic-color-destructive-active:             color-mix(in oklab, var(--stuic-color-destructive), black 20%);
	--stuic-color-destructive-foreground:         #ffffff;
	--stuic-color-destructive-foreground-hover:   #ffffff;
	--stuic-color-destructive-foreground-active:  #ffffff;

	--stuic-color-warning:                        #f97316;
	--stuic-color-warning-hover:                  color-mix(in oklab, var(--stuic-color-warning), black 10%);
	--stuic-color-warning-active:                 color-mix(in oklab, var(--stuic-color-warning), black 20%);
	--stuic-color-warning-foreground:             #ffffff;
	--stuic-color-warning-foreground-hover:       #ffffff;
	--stuic-color-warning-foreground-active:      #ffffff;

	--stuic-color-success:                        #059669;
	--stuic-color-success-hover:                  color-mix(in oklab, var(--stuic-color-success), black 10%);
	--stuic-color-success-active:                 color-mix(in oklab, var(--stuic-color-success), black 20%);
	--stuic-color-success-foreground:             #ffffff;
	--stuic-color-success-foreground-hover:       #ffffff;
	--stuic-color-success-foreground-active:      #ffffff;

	--stuic-color-surface-primary:                color-mix(in srgb, var(--stuic-color-primary) 15%, var(--stuic-color-background));
	--stuic-color-surface-primary-foreground:     color-mix(in srgb, var(--stuic-color-primary), black 50%);
	--stuic-color-surface-primary-border:         color-mix(in srgb, var(--stuic-color-primary) 30%, var(--stuic-color-background));
	--stuic-color-surface-accent:                 color-mix(in srgb, var(--stuic-color-accent) 15%, var(--stuic-color-background));
	--stuic-color-surface-accent-foreground:      color-mix(in srgb, var(--stuic-color-accent), black 50%);
	--stuic-color-surface-accent-border:          color-mix(in srgb, var(--stuic-color-accent) 30%, var(--stuic-color-background));
	--stuic-color-surface-destructive:            color-mix(in srgb, var(--stuic-color-destructive) 15%, var(--stuic-color-background));
	--stuic-color-surface-destructive-foreground: color-mix(in srgb, var(--stuic-color-destructive), black 50%);
	--stuic-color-surface-destructive-border:     color-mix(in srgb, var(--stuic-color-destructive) 30%, var(--stuic-color-background));
	--stuic-color-surface-warning:                color-mix(in srgb, var(--stuic-color-warning) 15%, var(--stuic-color-background));
	--stuic-color-surface-warning-foreground:     color-mix(in srgb, var(--stuic-color-warning), black 50%);
	--stuic-color-surface-warning-border:         color-mix(in srgb, var(--stuic-color-warning) 30%, var(--stuic-color-background));
	--stuic-color-surface-success:                color-mix(in srgb, var(--stuic-color-success) 15%, var(--stuic-color-background));
	--stuic-color-surface-success-foreground:     color-mix(in srgb, var(--stuic-color-success), black 50%);
	--stuic-color-surface-success-border:         color-mix(in srgb, var(--stuic-color-success) 30%, var(--stuic-color-background));
	--stuic-color-surface:                        #e7e4e7;
	--stuic-color-surface-hover:                  color-mix(in oklab, var(--stuic-color-surface), var(--stuic-color-foreground) 10%);
	--stuic-color-surface-active:                 color-mix(in oklab, var(--stuic-color-surface), var(--stuic-color-foreground) 20%);
	--stuic-color-surface-foreground:             #1d161e;
	--stuic-color-surface-foreground-hover:       #1d161e;
	--stuic-color-surface-foreground-active:      #1d161e;
	--stuic-color-surface-1:                      #d7d0d7;
	--stuic-color-surface-1-hover:                color-mix(in oklab, var(--stuic-color-surface-1), var(--stuic-color-foreground) 10%);
	--stuic-color-surface-1-active:               color-mix(in oklab, var(--stuic-color-surface-1), var(--stuic-color-foreground) 20%);
	--stuic-color-surface-1-foreground:           #1d161e;
	--stuic-color-surface-1-foreground-hover:     #1d161e;
	--stuic-color-surface-1-foreground-active:    #1d161e;

	--stuic-color-background:                     #fafafa;
	--stuic-color-background-hover:               #fafafa;
	--stuic-color-background-active:              #fafafa;
	--stuic-color-background-foreground:          #1d161e;
	--stuic-color-background-foreground-hover:    #1d161e;
	--stuic-color-background-foreground-active:   #1d161e;

	--stuic-color-muted:                          #f3f1f3;
	--stuic-color-muted-hover:                    color-mix(in oklab, var(--stuic-color-muted), var(--stuic-color-foreground) 10%);
	--stuic-color-muted-active:                   color-mix(in oklab, var(--stuic-color-muted), var(--stuic-color-foreground) 20%);
	--stuic-color-muted-foreground:               #79697b;
	--stuic-color-muted-foreground-hover:         #79697b;
	--stuic-color-muted-foreground-active:        #79697b;

	--stuic-color-foreground:                     #1d161e;
	--stuic-color-foreground-hover:               #1d161e;
	--stuic-color-foreground-active:              #1d161e;

	--stuic-color-border:                         #d7d0d7;
	--stuic-color-border-hover:                   color-mix(in oklab, var(--stuic-color-border), var(--stuic-color-foreground) 10%);
	--stuic-color-border-active:                  color-mix(in oklab, var(--stuic-color-border), var(--stuic-color-foreground) 20%);

	--stuic-color-input:                          #ffffff;
	--stuic-color-input-hover:                    #fafafa;
	--stuic-color-input-active:                   color-mix(in oklab, var(--stuic-color-input), var(--stuic-color-foreground) 20%);

	--stuic-color-ring:                           rgba(250, 204, 21, 0.2);
	--stuic-color-ring-hover:                     rgba(250, 204, 21, 0.2);
	--stuic-color-ring-active:                    rgba(250, 204, 21, 0.2);
}

/* prettier-ignore */
:root.dark {
	--stuic-color-primary:                        #facc15;
	--stuic-color-primary-hover:                  color-mix(in oklab, var(--stuic-color-primary), white 10%);
	--stuic-color-primary-active:                 color-mix(in oklab, var(--stuic-color-primary), white 20%);
	--stuic-color-primary-foreground:             #000000;
	--stuic-color-primary-foreground-hover:       #000000;
	--stuic-color-primary-foreground-active:      #000000;

	--stuic-color-accent:                         #ec4899;
	--stuic-color-accent-hover:                   color-mix(in oklab, var(--stuic-color-accent), white 10%);
	--stuic-color-accent-active:                  color-mix(in oklab, var(--stuic-color-accent), white 20%);
	--stuic-color-accent-foreground:              #ffffff;
	--stuic-color-accent-foreground-hover:        #ffffff;
	--stuic-color-accent-foreground-active:       #ffffff;

	--stuic-color-destructive:                    #f43f5e;
	--stuic-color-destructive-hover:              color-mix(in oklab, var(--stuic-color-destructive), white 10%);
	--stuic-color-destructive-active:             color-mix(in oklab, var(--stuic-color-destructive), white 20%);
	--stuic-color-destructive-foreground:         #ffffff;
	--stuic-color-destructive-foreground-hover:   #ffffff;
	--stuic-color-destructive-foreground-active:  #ffffff;

	--stuic-color-warning:                        #fb923c;
	--stuic-color-warning-hover:                  color-mix(in oklab, var(--stuic-color-warning), white 10%);
	--stuic-color-warning-active:                 color-mix(in oklab, var(--stuic-color-warning), white 20%);
	--stuic-color-warning-foreground:             #000000;
	--stuic-color-warning-foreground-hover:       #000000;
	--stuic-color-warning-foreground-active:      #000000;

	--stuic-color-success:                        #10b981;
	--stuic-color-success-hover:                  color-mix(in oklab, var(--stuic-color-success), white 10%);
	--stuic-color-success-active:                 color-mix(in oklab, var(--stuic-color-success), white 20%);
	--stuic-color-success-foreground:             #000000;
	--stuic-color-success-foreground-hover:       #000000;
	--stuic-color-success-foreground-active:      #000000;

	--stuic-color-surface-primary:                color-mix(in srgb, var(--stuic-color-primary) 15%, var(--stuic-color-background));
	--stuic-color-surface-primary-foreground:     color-mix(in srgb, var(--stuic-color-primary), white 50%);
	--stuic-color-surface-primary-border:         color-mix(in srgb, var(--stuic-color-primary) 30%, var(--stuic-color-background));
	--stuic-color-surface-accent:                 color-mix(in srgb, var(--stuic-color-accent) 15%, var(--stuic-color-background));
	--stuic-color-surface-accent-foreground:      color-mix(in srgb, var(--stuic-color-accent), white 50%);
	--stuic-color-surface-accent-border:          color-mix(in srgb, var(--stuic-color-accent) 30%, var(--stuic-color-background));
	--stuic-color-surface-destructive:            color-mix(in srgb, var(--stuic-color-destructive) 15%, var(--stuic-color-background));
	--stuic-color-surface-destructive-foreground: color-mix(in srgb, var(--stuic-color-destructive), white 50%);
	--stuic-color-surface-destructive-border:     color-mix(in srgb, var(--stuic-color-destructive) 30%, var(--stuic-color-background));
	--stuic-color-surface-warning:                color-mix(in srgb, var(--stuic-color-warning) 15%, var(--stuic-color-background));
	--stuic-color-surface-warning-foreground:     color-mix(in srgb, var(--stuic-color-warning), white 50%);
	--stuic-color-surface-warning-border:         color-mix(in srgb, var(--stuic-color-warning) 30%, var(--stuic-color-background));
	--stuic-color-surface-success:                color-mix(in srgb, var(--stuic-color-success) 15%, var(--stuic-color-background));
	--stuic-color-surface-success-foreground:     color-mix(in srgb, var(--stuic-color-success), white 50%);
	--stuic-color-surface-success-border:         color-mix(in srgb, var(--stuic-color-success) 30%, var(--stuic-color-background));
	--stuic-color-surface:                        #5b21b6;
	--stuic-color-surface-hover:                  color-mix(in oklab, var(--stuic-color-surface), var(--stuic-color-foreground) 10%);
	--stuic-color-surface-active:                 color-mix(in oklab, var(--stuic-color-surface), var(--stuic-color-foreground) 20%);
	--stuic-color-surface-foreground:             #ddd6fe;
	--stuic-color-surface-foreground-hover:       #ddd6fe;
	--stuic-color-surface-foreground-active:      #ddd6fe;
	--stuic-color-surface-1:                      #6d28d9;
	--stuic-color-surface-1-hover:                color-mix(in oklab, var(--stuic-color-surface-1), var(--stuic-color-foreground) 10%);
	--stuic-color-surface-1-active:               color-mix(in oklab, var(--stuic-color-surface-1), var(--stuic-color-foreground) 20%);
	--stuic-color-surface-1-foreground:           #ede9fe;
	--stuic-color-surface-1-foreground-hover:     #ede9fe;
	--stuic-color-surface-1-foreground-active:    #ede9fe;

	--stuic-color-background:                     #2e1065;
	--stuic-color-background-hover:               #2e1065;
	--stuic-color-background-active:              #2e1065;
	--stuic-color-background-foreground:          #f5f3ff;
	--stuic-color-background-foreground-hover:    #f5f3ff;
	--stuic-color-background-foreground-active:   #f5f3ff;

	--stuic-color-muted:                          #4c1d95;
	--stuic-color-muted-hover:                    color-mix(in oklab, var(--stuic-color-muted), var(--stuic-color-foreground) 10%);
	--stuic-color-muted-active:                   color-mix(in oklab, var(--stuic-color-muted), var(--stuic-color-foreground) 20%);
	--stuic-color-muted-foreground:               #c4b5fd;
	--stuic-color-muted-foreground-hover:         #c4b5fd;
	--stuic-color-muted-foreground-active:        #c4b5fd;

	--stuic-color-foreground:                     #f5f3ff;
	--stuic-color-foreground-hover:               #f5f3ff;
	--stuic-color-foreground-active:              #f5f3ff;

	--stuic-color-border:                         #5b21b6;
	--stuic-color-border-hover:                   color-mix(in oklab, var(--stuic-color-border), var(--stuic-color-foreground) 10%);
	--stuic-color-border-active:                  color-mix(in oklab, var(--stuic-color-border), var(--stuic-color-foreground) 20%);

	--stuic-color-input:                          #2e1065;
	--stuic-color-input-hover:                    #4c1d95;
	--stuic-color-input-active:                   color-mix(in oklab, var(--stuic-color-input), var(--stuic-color-foreground) 20%);

	--stuic-color-ring:                           rgba(250, 204, 21, 0.25);
	--stuic-color-ring-hover:                     rgba(250, 204, 21, 0.25);
	--stuic-color-ring-active:                    rgba(250, 204, 21, 0.25);
}

/* prettier-ignore */
@supports not (color: color-mix(in oklab, red, blue)) {
	:root {
		--stuic-color-primary-hover:                  #d9b111;
		--stuic-color-primary-active:                 #ba970c;

		--stuic-color-accent-hover:                   #cd3d84;
		--stuic-color-accent-active:                  #af3370;

		--stuic-color-destructive-hover:              #c4183d;
		--stuic-color-destructive-active:             #a71333;

		--stuic-color-warning-hover:                  #d96312;
		--stuic-color-warning-active:                 #b9540d;

		--stuic-color-success-hover:                  #04825a;
		--stuic-color-success-active:                 #036e4c;

		--stuic-color-surface-primary:                #faf3d8;
		--stuic-color-surface-primary-foreground:     #7d660b;
		--stuic-color-surface-primary-border:         #faecb5;
		--stuic-color-surface-accent:                 #f8dfeb;
		--stuic-color-surface-accent-foreground:      #76244d;
		--stuic-color-surface-accent-border:          #f6c5dd;
		--stuic-color-surface-destructive:            #f6d9df;
		--stuic-color-surface-destructive-foreground: #710f24;
		--stuic-color-surface-destructive-border:     #f3b8c5;
		--stuic-color-surface-warning:                #fae6d8;
		--stuic-color-surface-warning-foreground:     #7d3a0b;
		--stuic-color-surface-warning-border:         #fad1b6;
		--stuic-color-surface-success:                #d5ebe4;
		--stuic-color-surface-success-foreground:     #034b35;
		--stuic-color-surface-success-border:         #b0dcce;
		--stuic-color-surface-hover:                  #d0cdd0;
		--stuic-color-surface-active:                 #bab6ba;
		--stuic-color-surface-1-hover:                #c2bbc2;
		--stuic-color-surface-1-active:               #aea6ae;

		--stuic-color-muted-hover:                    #dbd8db;
		--stuic-color-muted-active:                   #c3c0c3;

		--stuic-color-border-hover:                   #c2bbc2;
		--stuic-color-border-active:                  #aea6ae;

		--stuic-color-input-active:                   #cccacd;
	}

	:root.dark {
		--stuic-color-primary-hover:                  #fbd248;
		--stuic-color-primary-active:                 #fbd764;

		--stuic-color-accent-hover:                   #f15fa3;
		--stuic-color-accent-active:                  #f573ad;

		--stuic-color-destructive-hover:              #f8596d;
		--stuic-color-destructive-active:             #fc6f7d;

		--stuic-color-warning-hover:                  #fd9e55;
		--stuic-color-warning-active:                 #fea96b;

		--stuic-color-success-hover:                  #43c08d;
		--stuic-color-success-active:                 #5fc899;

		--stuic-color-surface-primary:                #4d2c59;
		--stuic-color-surface-primary-foreground:     #fde68a;
		--stuic-color-surface-primary-border:         #6b484d;
		--stuic-color-surface-accent:                 #4a186d;
		--stuic-color-surface-accent-foreground:      #f6a3cc;
		--stuic-color-surface-accent-border:          #672175;
		--stuic-color-surface-destructive:            #4c1764;
		--stuic-color-surface-destructive-foreground: #fa9faf;
		--stuic-color-surface-destructive-border:     #691e63;
		--stuic-color-surface-warning:                #4d245f;
		--stuic-color-surface-warning-foreground:     #fdc99e;
		--stuic-color-surface-warning-border:         #6b3759;
		--stuic-color-surface-success:                #292969;
		--stuic-color-surface-success-foreground:     #88dcc0;
		--stuic-color-surface-success-border:         #25436d;
		--stuic-color-surface-hover:                  #673dbf;
		--stuic-color-surface-active:                 #7554c7;
		--stuic-color-surface-1-hover:                #7846df;
		--stuic-color-surface-1-active:               #845de4;

		--stuic-color-muted-hover:                    #5a37a1;
		--stuic-color-muted-active:                   #694dac;

		--stuic-color-border-hover:                   #673dbf;
		--stuic-color-border-active:                  #7554c7;

		--stuic-color-input-active:                   #4f3f84;
	}
}
