/* prettier-ignore */
:root {
	--stuic-color-primary:                        #1f2937;
	--stuic-color-primary-hover:                  color-mix(in oklab, var(--stuic-color-primary), black 10%);
	--stuic-color-primary-active:                 color-mix(in oklab, var(--stuic-color-primary), black 20%);
	--stuic-color-primary-foreground:             #ffffff;
	--stuic-color-primary-foreground-hover:       #ffffff;
	--stuic-color-primary-foreground-active:      #ffffff;

	--stuic-color-accent:                         #6b7280;
	--stuic-color-accent-hover:                   color-mix(in oklab, var(--stuic-color-accent), black 10%);
	--stuic-color-accent-active:                  color-mix(in oklab, var(--stuic-color-accent), black 20%);
	--stuic-color-accent-foreground:              #ffffff;
	--stuic-color-accent-foreground-hover:        #ffffff;
	--stuic-color-accent-foreground-active:       #ffffff;

	--stuic-color-destructive:                    #6b7280;
	--stuic-color-destructive-hover:              color-mix(in oklab, var(--stuic-color-destructive), black 10%);
	--stuic-color-destructive-active:             color-mix(in oklab, var(--stuic-color-destructive), black 20%);
	--stuic-color-destructive-foreground:         #ffffff;
	--stuic-color-destructive-foreground-hover:   #ffffff;
	--stuic-color-destructive-foreground-active:  #ffffff;

	--stuic-color-warning:                        #9ca3af;
	--stuic-color-warning-hover:                  color-mix(in oklab, var(--stuic-color-warning), black 10%);
	--stuic-color-warning-active:                 color-mix(in oklab, var(--stuic-color-warning), black 20%);
	--stuic-color-warning-foreground:             #000000;
	--stuic-color-warning-foreground-hover:       #000000;
	--stuic-color-warning-foreground-active:      #000000;

	--stuic-color-success:                        #6b7280;
	--stuic-color-success-hover:                  color-mix(in oklab, var(--stuic-color-success), black 10%);
	--stuic-color-success-active:                 color-mix(in oklab, var(--stuic-color-success), black 20%);
	--stuic-color-success-foreground:             #ffffff;
	--stuic-color-success-foreground-hover:       #ffffff;
	--stuic-color-success-foreground-active:      #ffffff;

	--stuic-color-surface-primary:                color-mix(in srgb, var(--stuic-color-primary) 15%, var(--stuic-color-background));
	--stuic-color-surface-primary-foreground:     color-mix(in srgb, var(--stuic-color-primary), black 50%);
	--stuic-color-surface-primary-border:         color-mix(in srgb, var(--stuic-color-primary) 30%, var(--stuic-color-background));
	--stuic-color-surface-accent:                 color-mix(in srgb, var(--stuic-color-accent) 15%, var(--stuic-color-background));
	--stuic-color-surface-accent-foreground:      color-mix(in srgb, var(--stuic-color-accent), black 50%);
	--stuic-color-surface-accent-border:          color-mix(in srgb, var(--stuic-color-accent) 30%, var(--stuic-color-background));
	--stuic-color-surface-destructive:            color-mix(in srgb, var(--stuic-color-destructive) 15%, var(--stuic-color-background));
	--stuic-color-surface-destructive-foreground: color-mix(in srgb, var(--stuic-color-destructive), black 50%);
	--stuic-color-surface-destructive-border:     color-mix(in srgb, var(--stuic-color-destructive) 30%, var(--stuic-color-background));
	--stuic-color-surface-warning:                color-mix(in srgb, var(--stuic-color-warning) 15%, var(--stuic-color-background));
	--stuic-color-surface-warning-foreground:     color-mix(in srgb, var(--stuic-color-warning), black 50%);
	--stuic-color-surface-warning-border:         color-mix(in srgb, var(--stuic-color-warning) 30%, var(--stuic-color-background));
	--stuic-color-surface-success:                color-mix(in srgb, var(--stuic-color-success) 15%, var(--stuic-color-background));
	--stuic-color-surface-success-foreground:     color-mix(in srgb, var(--stuic-color-success), black 50%);
	--stuic-color-surface-success-border:         color-mix(in srgb, var(--stuic-color-success) 30%, var(--stuic-color-background));
	--stuic-color-surface:                        #e5e7eb;
	--stuic-color-surface-hover:                  color-mix(in oklab, var(--stuic-color-surface), var(--stuic-color-foreground) 10%);
	--stuic-color-surface-active:                 color-mix(in oklab, var(--stuic-color-surface), var(--stuic-color-foreground) 20%);
	--stuic-color-surface-foreground:             #111827;
	--stuic-color-surface-foreground-hover:       #111827;
	--stuic-color-surface-foreground-active:      #111827;
	--stuic-color-surface-1:                      #d1d5db;
	--stuic-color-surface-1-hover:                color-mix(in oklab, var(--stuic-color-surface-1), var(--stuic-color-foreground) 10%);
	--stuic-color-surface-1-active:               color-mix(in oklab, var(--stuic-color-surface-1), var(--stuic-color-foreground) 20%);
	--stuic-color-surface-1-foreground:           #111827;
	--stuic-color-surface-1-foreground-hover:     #111827;
	--stuic-color-surface-1-foreground-active:    #111827;

	--stuic-color-background:                     #f9fafb;
	--stuic-color-background-hover:               #f9fafb;
	--stuic-color-background-active:              #f9fafb;
	--stuic-color-background-foreground:          #111827;
	--stuic-color-background-foreground-hover:    #111827;
	--stuic-color-background-foreground-active:   #111827;

	--stuic-color-muted:                          #f3f4f6;
	--stuic-color-muted-hover:                    color-mix(in oklab, var(--stuic-color-muted), var(--stuic-color-foreground) 10%);
	--stuic-color-muted-active:                   color-mix(in oklab, var(--stuic-color-muted), var(--stuic-color-foreground) 20%);
	--stuic-color-muted-foreground:               #6b7280;
	--stuic-color-muted-foreground-hover:         #6b7280;
	--stuic-color-muted-foreground-active:        #6b7280;

	--stuic-color-foreground:                     #111827;
	--stuic-color-foreground-hover:               #111827;
	--stuic-color-foreground-active:              #111827;

	--stuic-color-border:                         #d1d5db;
	--stuic-color-border-hover:                   color-mix(in oklab, var(--stuic-color-border), var(--stuic-color-foreground) 10%);
	--stuic-color-border-active:                  color-mix(in oklab, var(--stuic-color-border), var(--stuic-color-foreground) 20%);

	--stuic-color-input:                          #f9fafb;
	--stuic-color-input-hover:                    #f3f4f6;
	--stuic-color-input-active:                   color-mix(in oklab, var(--stuic-color-input), var(--stuic-color-foreground) 20%);

	--stuic-color-ring:                           rgba(31, 41, 55, 0.2);
	--stuic-color-ring-hover:                     rgba(31, 41, 55, 0.2);
	--stuic-color-ring-active:                    rgba(31, 41, 55, 0.2);
}

/* prettier-ignore */
:root.dark {
	--stuic-color-primary:                        #e5e7eb;
	--stuic-color-primary-hover:                  color-mix(in oklab, var(--stuic-color-primary), white 10%);
	--stuic-color-primary-active:                 color-mix(in oklab, var(--stuic-color-primary), white 20%);
	--stuic-color-primary-foreground:             #000000;
	--stuic-color-primary-foreground-hover:       #000000;
	--stuic-color-primary-foreground-active:      #000000;

	--stuic-color-accent:                         #6b7280;
	--stuic-color-accent-hover:                   color-mix(in oklab, var(--stuic-color-accent), white 10%);
	--stuic-color-accent-active:                  color-mix(in oklab, var(--stuic-color-accent), white 20%);
	--stuic-color-accent-foreground:              #ffffff;
	--stuic-color-accent-foreground-hover:        #ffffff;
	--stuic-color-accent-foreground-active:       #ffffff;

	--stuic-color-destructive:                    #6b7280;
	--stuic-color-destructive-hover:              color-mix(in oklab, var(--stuic-color-destructive), white 10%);
	--stuic-color-destructive-active:             color-mix(in oklab, var(--stuic-color-destructive), white 20%);
	--stuic-color-destructive-foreground:         #ffffff;
	--stuic-color-destructive-foreground-hover:   #ffffff;
	--stuic-color-destructive-foreground-active:  #ffffff;

	--stuic-color-warning:                        #9ca3af;
	--stuic-color-warning-hover:                  color-mix(in oklab, var(--stuic-color-warning), white 10%);
	--stuic-color-warning-active:                 color-mix(in oklab, var(--stuic-color-warning), white 20%);
	--stuic-color-warning-foreground:             #000000;
	--stuic-color-warning-foreground-hover:       #000000;
	--stuic-color-warning-foreground-active:      #000000;

	--stuic-color-success:                        #6b7280;
	--stuic-color-success-hover:                  color-mix(in oklab, var(--stuic-color-success), white 10%);
	--stuic-color-success-active:                 color-mix(in oklab, var(--stuic-color-success), white 20%);
	--stuic-color-success-foreground:             #ffffff;
	--stuic-color-success-foreground-hover:       #ffffff;
	--stuic-color-success-foreground-active:      #ffffff;

	--stuic-color-surface-primary:                color-mix(in srgb, var(--stuic-color-primary) 15%, var(--stuic-color-background));
	--stuic-color-surface-primary-foreground:     color-mix(in srgb, var(--stuic-color-primary), white 50%);
	--stuic-color-surface-primary-border:         color-mix(in srgb, var(--stuic-color-primary) 30%, var(--stuic-color-background));
	--stuic-color-surface-accent:                 color-mix(in srgb, var(--stuic-color-accent) 15%, var(--stuic-color-background));
	--stuic-color-surface-accent-foreground:      color-mix(in srgb, var(--stuic-color-accent), white 50%);
	--stuic-color-surface-accent-border:          color-mix(in srgb, var(--stuic-color-accent) 30%, var(--stuic-color-background));
	--stuic-color-surface-destructive:            color-mix(in srgb, var(--stuic-color-destructive) 15%, var(--stuic-color-background));
	--stuic-color-surface-destructive-foreground: color-mix(in srgb, var(--stuic-color-destructive), white 50%);
	--stuic-color-surface-destructive-border:     color-mix(in srgb, var(--stuic-color-destructive) 30%, var(--stuic-color-background));
	--stuic-color-surface-warning:                color-mix(in srgb, var(--stuic-color-warning) 15%, var(--stuic-color-background));
	--stuic-color-surface-warning-foreground:     color-mix(in srgb, var(--stuic-color-warning), white 50%);
	--stuic-color-surface-warning-border:         color-mix(in srgb, var(--stuic-color-warning) 30%, var(--stuic-color-background));
	--stuic-color-surface-success:                color-mix(in srgb, var(--stuic-color-success) 15%, var(--stuic-color-background));
	--stuic-color-surface-success-foreground:     color-mix(in srgb, var(--stuic-color-success), white 50%);
	--stuic-color-surface-success-border:         color-mix(in srgb, var(--stuic-color-success) 30%, var(--stuic-color-background));
	--stuic-color-surface:                        #374151;
	--stuic-color-surface-hover:                  color-mix(in oklab, var(--stuic-color-surface), var(--stuic-color-foreground) 10%);
	--stuic-color-surface-active:                 color-mix(in oklab, var(--stuic-color-surface), var(--stuic-color-foreground) 20%);
	--stuic-color-surface-foreground:             #d1d5db;
	--stuic-color-surface-foreground-hover:       #d1d5db;
	--stuic-color-surface-foreground-active:      #d1d5db;
	--stuic-color-surface-1:                      #4b5563;
	--stuic-color-surface-1-hover:                color-mix(in oklab, var(--stuic-color-surface-1), var(--stuic-color-foreground) 10%);
	--stuic-color-surface-1-active:               color-mix(in oklab, var(--stuic-color-surface-1), var(--stuic-color-foreground) 20%);
	--stuic-color-surface-1-foreground:           #e5e7eb;
	--stuic-color-surface-1-foreground-hover:     #e5e7eb;
	--stuic-color-surface-1-foreground-active:    #e5e7eb;

	--stuic-color-background:                     #111827;
	--stuic-color-background-hover:               #111827;
	--stuic-color-background-active:              #111827;
	--stuic-color-background-foreground:          #f9fafb;
	--stuic-color-background-foreground-hover:    #f9fafb;
	--stuic-color-background-foreground-active:   #f9fafb;

	--stuic-color-muted:                          #1f2937;
	--stuic-color-muted-hover:                    color-mix(in oklab, var(--stuic-color-muted), var(--stuic-color-foreground) 10%);
	--stuic-color-muted-active:                   color-mix(in oklab, var(--stuic-color-muted), var(--stuic-color-foreground) 20%);
	--stuic-color-muted-foreground:               #9ca3af;
	--stuic-color-muted-foreground-hover:         #9ca3af;
	--stuic-color-muted-foreground-active:        #9ca3af;

	--stuic-color-foreground:                     #f9fafb;
	--stuic-color-foreground-hover:               #f9fafb;
	--stuic-color-foreground-active:              #f9fafb;

	--stuic-color-border:                         #374151;
	--stuic-color-border-hover:                   color-mix(in oklab, var(--stuic-color-border), var(--stuic-color-foreground) 10%);
	--stuic-color-border-active:                  color-mix(in oklab, var(--stuic-color-border), var(--stuic-color-foreground) 20%);

	--stuic-color-input:                          #111827;
	--stuic-color-input-hover:                    #1f2937;
	--stuic-color-input-active:                   color-mix(in oklab, var(--stuic-color-input), var(--stuic-color-foreground) 20%);

	--stuic-color-ring:                           rgba(229, 231, 235, 0.25);
	--stuic-color-ring-hover:                     rgba(229, 231, 235, 0.25);
	--stuic-color-ring-active:                    rgba(229, 231, 235, 0.25);
}

/* prettier-ignore */
@supports not (color: color-mix(in oklab, red, blue)) {
	:root {
		--stuic-color-primary-hover:                  #19222e;
		--stuic-color-primary-active:                 #141c26;

		--stuic-color-accent-hover:                   #5c626e;
		--stuic-color-accent-active:                  #4e535d;

		--stuic-color-destructive-hover:              #5c626e;
		--stuic-color-destructive-active:             #4e535d;

		--stuic-color-warning-hover:                  #878d98;
		--stuic-color-warning-active:                 #737881;

		--stuic-color-success-hover:                  #5c626e;
		--stuic-color-success-active:                 #4e535d;

		--stuic-color-surface-primary:                #d8dbde;
		--stuic-color-surface-primary-foreground:     #10151c;
		--stuic-color-surface-primary-border:         #b8bbc0;
		--stuic-color-surface-accent:                 #e4e6e9;
		--stuic-color-surface-accent-foreground:      #363940;
		--stuic-color-surface-accent-border:          #ced1d6;
		--stuic-color-surface-destructive:            #e4e6e9;
		--stuic-color-surface-destructive-foreground: #363940;
		--stuic-color-surface-destructive-border:     #ced1d6;
		--stuic-color-surface-warning:                #ebedf0;
		--stuic-color-surface-warning-foreground:     #4e5258;
		--stuic-color-surface-warning-border:         #dde0e4;
		--stuic-color-surface-success:                #e4e6e9;
		--stuic-color-surface-success-foreground:     #363940;
		--stuic-color-surface-success-border:         #ced1d6;
		--stuic-color-surface-hover:                  #cdd0d5;
		--stuic-color-surface-active:                 #b5b9c0;
		--stuic-color-surface-1-hover:                #bbc0c7;
		--stuic-color-surface-1-active:               #a6abb4;

		--stuic-color-muted-hover:                    #d9dbdf;
		--stuic-color-muted-active:                   #c0c3c8;

		--stuic-color-border-hover:                   #bbc0c7;
		--stuic-color-border-active:                  #a6abb4;

		--stuic-color-input-active:                   #c4c7cc;
	}

	:root.dark {
		--stuic-color-primary-hover:                  #e8e9ed;
		--stuic-color-primary-active:                 #eaecef;

		--stuic-color-accent-hover:                   #797f8c;
		--stuic-color-accent-active:                  #878d98;

		--stuic-color-destructive-hover:              #797f8c;
		--stuic-color-destructive-active:             #878d98;

		--stuic-color-warning-hover:                  #a5acb7;
		--stuic-color-warning-active:                 #afb5bf;

		--stuic-color-success-hover:                  #797f8c;
		--stuic-color-success-active:                 #878d98;

		--stuic-color-surface-primary:                #313744;
		--stuic-color-surface-primary-foreground:     #f2f3f5;
		--stuic-color-surface-primary-border:         #515662;
		--stuic-color-surface-accent:                 #1e2634;
		--stuic-color-surface-accent-foreground:      #b5b9c0;
		--stuic-color-surface-accent-border:          #2c3342;
		--stuic-color-surface-destructive:            #1e2634;
		--stuic-color-surface-destructive-foreground: #b5b9c0;
		--stuic-color-surface-destructive-border:     #2c3342;
		--stuic-color-surface-warning:                #262d3b;
		--stuic-color-surface-warning-foreground:     #ced1d7;
		--stuic-color-surface-warning-border:         #3b4250;
		--stuic-color-surface-success:                #1e2634;
		--stuic-color-surface-success-foreground:     #b5b9c0;
		--stuic-color-surface-success-border:         #2c3342;
		--stuic-color-surface-hover:                  #485161;
		--stuic-color-surface-active:                 #5a6270;
		--stuic-color-surface-1-hover:                #5b6471;
		--stuic-color-surface-1-active:               #6b737f;

		--stuic-color-muted-hover:                    #313b48;
		--stuic-color-muted-active:                   #454e5a;

		--stuic-color-border-hover:                   #485161;
		--stuic-color-border-active:                  #5a6270;

		--stuic-color-input-active:                   #383e4c;
	}
}
