/* prettier-ignore */
:root {
	--stuic-color-primary:                        #463947;
	--stuic-color-primary-hover:                  color-mix(in oklab, var(--stuic-color-primary), black 10%);
	--stuic-color-primary-active:                 color-mix(in oklab, var(--stuic-color-primary), black 20%);
	--stuic-color-primary-foreground:             #ffffff;
	--stuic-color-primary-foreground-hover:       #ffffff;
	--stuic-color-primary-foreground-active:      #ffffff;

	--stuic-color-accent:                         #14b8a6;
	--stuic-color-accent-hover:                   color-mix(in oklab, var(--stuic-color-accent), black 10%);
	--stuic-color-accent-active:                  color-mix(in oklab, var(--stuic-color-accent), black 20%);
	--stuic-color-accent-foreground:              #ffffff;
	--stuic-color-accent-foreground-hover:        #ffffff;
	--stuic-color-accent-foreground-active:       #ffffff;

	--stuic-color-destructive:                    #e11d48;
	--stuic-color-destructive-hover:              color-mix(in oklab, var(--stuic-color-destructive), black 10%);
	--stuic-color-destructive-active:             color-mix(in oklab, var(--stuic-color-destructive), black 20%);
	--stuic-color-destructive-foreground:         #ffffff;
	--stuic-color-destructive-foreground-hover:   #ffffff;
	--stuic-color-destructive-foreground-active:  #ffffff;

	--stuic-color-warning:                        #f59e0b;
	--stuic-color-warning-hover:                  color-mix(in oklab, var(--stuic-color-warning), black 10%);
	--stuic-color-warning-active:                 color-mix(in oklab, var(--stuic-color-warning), black 20%);
	--stuic-color-warning-foreground:             #ffffff;
	--stuic-color-warning-foreground-hover:       #ffffff;
	--stuic-color-warning-foreground-active:      #ffffff;

	--stuic-color-success:                        #0d9488;
	--stuic-color-success-hover:                  color-mix(in oklab, var(--stuic-color-success), black 10%);
	--stuic-color-success-active:                 color-mix(in oklab, var(--stuic-color-success), black 20%);
	--stuic-color-success-foreground:             #ffffff;
	--stuic-color-success-foreground-hover:       #ffffff;
	--stuic-color-success-foreground-active:      #ffffff;

	--stuic-color-surface-primary:                color-mix(in srgb, var(--stuic-color-primary) 15%, var(--stuic-color-background));
	--stuic-color-surface-primary-foreground:     color-mix(in srgb, var(--stuic-color-primary), black 50%);
	--stuic-color-surface-primary-border:         color-mix(in srgb, var(--stuic-color-primary) 30%, var(--stuic-color-background));
	--stuic-color-surface-accent:                 color-mix(in srgb, var(--stuic-color-accent) 15%, var(--stuic-color-background));
	--stuic-color-surface-accent-foreground:      color-mix(in srgb, var(--stuic-color-accent), black 50%);
	--stuic-color-surface-accent-border:          color-mix(in srgb, var(--stuic-color-accent) 30%, var(--stuic-color-background));
	--stuic-color-surface-destructive:            color-mix(in srgb, var(--stuic-color-destructive) 15%, var(--stuic-color-background));
	--stuic-color-surface-destructive-foreground: color-mix(in srgb, var(--stuic-color-destructive), black 50%);
	--stuic-color-surface-destructive-border:     color-mix(in srgb, var(--stuic-color-destructive) 30%, var(--stuic-color-background));
	--stuic-color-surface-warning:                color-mix(in srgb, var(--stuic-color-warning) 15%, var(--stuic-color-background));
	--stuic-color-surface-warning-foreground:     color-mix(in srgb, var(--stuic-color-warning), black 50%);
	--stuic-color-surface-warning-border:         color-mix(in srgb, var(--stuic-color-warning) 30%, var(--stuic-color-background));
	--stuic-color-surface-success:                color-mix(in srgb, var(--stuic-color-success) 15%, var(--stuic-color-background));
	--stuic-color-surface-success-foreground:     color-mix(in srgb, var(--stuic-color-success), black 50%);
	--stuic-color-surface-success-border:         color-mix(in srgb, var(--stuic-color-success) 30%, var(--stuic-color-background));
	--stuic-color-surface:                        #e7e4e7;
	--stuic-color-surface-hover:                  color-mix(in oklab, var(--stuic-color-surface), var(--stuic-color-foreground) 10%);
	--stuic-color-surface-active:                 color-mix(in oklab, var(--stuic-color-surface), var(--stuic-color-foreground) 20%);
	--stuic-color-surface-foreground:             #1d161e;
	--stuic-color-surface-foreground-hover:       #1d161e;
	--stuic-color-surface-foreground-active:      #1d161e;
	--stuic-color-surface-1:                      #d7d0d7;
	--stuic-color-surface-1-hover:                color-mix(in oklab, var(--stuic-color-surface-1), var(--stuic-color-foreground) 10%);
	--stuic-color-surface-1-active:               color-mix(in oklab, var(--stuic-color-surface-1), var(--stuic-color-foreground) 20%);
	--stuic-color-surface-1-foreground:           #1d161e;
	--stuic-color-surface-1-foreground-hover:     #1d161e;
	--stuic-color-surface-1-foreground-active:    #1d161e;

	--stuic-color-background:                     #fafafa;
	--stuic-color-background-hover:               #fafafa;
	--stuic-color-background-active:              #fafafa;
	--stuic-color-background-foreground:          #1d161e;
	--stuic-color-background-foreground-hover:    #1d161e;
	--stuic-color-background-foreground-active:   #1d161e;

	--stuic-color-muted:                          #f3f1f3;
	--stuic-color-muted-hover:                    color-mix(in oklab, var(--stuic-color-muted), var(--stuic-color-foreground) 10%);
	--stuic-color-muted-active:                   color-mix(in oklab, var(--stuic-color-muted), var(--stuic-color-foreground) 20%);
	--stuic-color-muted-foreground:               #79697b;
	--stuic-color-muted-foreground-hover:         #79697b;
	--stuic-color-muted-foreground-active:        #79697b;

	--stuic-color-foreground:                     #1d161e;
	--stuic-color-foreground-hover:               #1d161e;
	--stuic-color-foreground-active:              #1d161e;

	--stuic-color-border:                         #d7d0d7;
	--stuic-color-border-hover:                   color-mix(in oklab, var(--stuic-color-border), var(--stuic-color-foreground) 10%);
	--stuic-color-border-active:                  color-mix(in oklab, var(--stuic-color-border), var(--stuic-color-foreground) 20%);

	--stuic-color-input:                          #ffffff;
	--stuic-color-input-hover:                    #fafafa;
	--stuic-color-input-active:                   color-mix(in oklab, var(--stuic-color-input), var(--stuic-color-foreground) 20%);

	--stuic-color-ring:                           rgba(70, 57, 71, 0.2);
	--stuic-color-ring-hover:                     rgba(70, 57, 71, 0.2);
	--stuic-color-ring-active:                    rgba(70, 57, 71, 0.2);
}

/* prettier-ignore */
:root.dark {
	--stuic-color-primary:                        #a89ea9;
	--stuic-color-primary-hover:                  color-mix(in oklab, var(--stuic-color-primary), white 10%);
	--stuic-color-primary-active:                 color-mix(in oklab, var(--stuic-color-primary), white 20%);
	--stuic-color-primary-foreground:             #000000;
	--stuic-color-primary-foreground-hover:       #000000;
	--stuic-color-primary-foreground-active:      #000000;

	--stuic-color-accent:                         #0d9488;
	--stuic-color-accent-hover:                   color-mix(in oklab, var(--stuic-color-accent), white 10%);
	--stuic-color-accent-active:                  color-mix(in oklab, var(--stuic-color-accent), white 20%);
	--stuic-color-accent-foreground:              #000000;
	--stuic-color-accent-foreground-hover:        #000000;
	--stuic-color-accent-foreground-active:       #000000;

	--stuic-color-destructive:                    #f43f5e;
	--stuic-color-destructive-hover:              color-mix(in oklab, var(--stuic-color-destructive), white 10%);
	--stuic-color-destructive-active:             color-mix(in oklab, var(--stuic-color-destructive), white 20%);
	--stuic-color-destructive-foreground:         #ffffff;
	--stuic-color-destructive-foreground-hover:   #ffffff;
	--stuic-color-destructive-foreground-active:  #ffffff;

	--stuic-color-warning:                        #fbbf24;
	--stuic-color-warning-hover:                  color-mix(in oklab, var(--stuic-color-warning), white 10%);
	--stuic-color-warning-active:                 color-mix(in oklab, var(--stuic-color-warning), white 20%);
	--stuic-color-warning-foreground:             #000000;
	--stuic-color-warning-foreground-hover:       #000000;
	--stuic-color-warning-foreground-active:      #000000;

	--stuic-color-success:                        #14b8a6;
	--stuic-color-success-hover:                  color-mix(in oklab, var(--stuic-color-success), white 10%);
	--stuic-color-success-active:                 color-mix(in oklab, var(--stuic-color-success), white 20%);
	--stuic-color-success-foreground:             #000000;
	--stuic-color-success-foreground-hover:       #000000;
	--stuic-color-success-foreground-active:      #000000;

	--stuic-color-surface-primary:                color-mix(in srgb, var(--stuic-color-primary) 15%, var(--stuic-color-background));
	--stuic-color-surface-primary-foreground:     color-mix(in srgb, var(--stuic-color-primary), white 50%);
	--stuic-color-surface-primary-border:         color-mix(in srgb, var(--stuic-color-primary) 30%, var(--stuic-color-background));
	--stuic-color-surface-accent:                 color-mix(in srgb, var(--stuic-color-accent) 15%, var(--stuic-color-background));
	--stuic-color-surface-accent-foreground:      color-mix(in srgb, var(--stuic-color-accent), white 50%);
	--stuic-color-surface-accent-border:          color-mix(in srgb, var(--stuic-color-accent) 30%, var(--stuic-color-background));
	--stuic-color-surface-destructive:            color-mix(in srgb, var(--stuic-color-destructive) 15%, var(--stuic-color-background));
	--stuic-color-surface-destructive-foreground: color-mix(in srgb, var(--stuic-color-destructive), white 50%);
	--stuic-color-surface-destructive-border:     color-mix(in srgb, var(--stuic-color-destructive) 30%, var(--stuic-color-background));
	--stuic-color-surface-warning:                color-mix(in srgb, var(--stuic-color-warning) 15%, var(--stuic-color-background));
	--stuic-color-surface-warning-foreground:     color-mix(in srgb, var(--stuic-color-warning), white 50%);
	--stuic-color-surface-warning-border:         color-mix(in srgb, var(--stuic-color-warning) 30%, var(--stuic-color-background));
	--stuic-color-surface-success:                color-mix(in srgb, var(--stuic-color-success) 15%, var(--stuic-color-background));
	--stuic-color-surface-success-foreground:     color-mix(in srgb, var(--stuic-color-success), white 50%);
	--stuic-color-surface-success-border:         color-mix(in srgb, var(--stuic-color-success) 30%, var(--stuic-color-background));
	--stuic-color-surface:                        #463947;
	--stuic-color-surface-hover:                  color-mix(in oklab, var(--stuic-color-surface), var(--stuic-color-foreground) 10%);
	--stuic-color-surface-active:                 color-mix(in oklab, var(--stuic-color-surface), var(--stuic-color-foreground) 20%);
	--stuic-color-surface-foreground:             #d7d0d7;
	--stuic-color-surface-foreground-hover:       #d7d0d7;
	--stuic-color-surface-foreground-active:      #d7d0d7;
	--stuic-color-surface-1:                      #594c5b;
	--stuic-color-surface-1-hover:                color-mix(in oklab, var(--stuic-color-surface-1), var(--stuic-color-foreground) 10%);
	--stuic-color-surface-1-active:               color-mix(in oklab, var(--stuic-color-surface-1), var(--stuic-color-foreground) 20%);
	--stuic-color-surface-1-foreground:           #e7e4e7;
	--stuic-color-surface-1-foreground-hover:     #e7e4e7;
	--stuic-color-surface-1-foreground-active:    #e7e4e7;

	--stuic-color-background:                     #1d161e;
	--stuic-color-background-hover:               #1d161e;
	--stuic-color-background-active:              #1d161e;
	--stuic-color-background-foreground:          #fafafa;
	--stuic-color-background-foreground-hover:    #fafafa;
	--stuic-color-background-foreground-active:   #fafafa;

	--stuic-color-muted:                          #2a212c;
	--stuic-color-muted-hover:                    color-mix(in oklab, var(--stuic-color-muted), var(--stuic-color-foreground) 10%);
	--stuic-color-muted-active:                   color-mix(in oklab, var(--stuic-color-muted), var(--stuic-color-foreground) 20%);
	--stuic-color-muted-foreground:               #a89ea9;
	--stuic-color-muted-foreground-hover:         #a89ea9;
	--stuic-color-muted-foreground-active:        #a89ea9;

	--stuic-color-foreground:                     #fafafa;
	--stuic-color-foreground-hover:               #fafafa;
	--stuic-color-foreground-active:              #fafafa;

	--stuic-color-border:                         #463947;
	--stuic-color-border-hover:                   color-mix(in oklab, var(--stuic-color-border), var(--stuic-color-foreground) 10%);
	--stuic-color-border-active:                  color-mix(in oklab, var(--stuic-color-border), var(--stuic-color-foreground) 20%);

	--stuic-color-input:                          #1d161e;
	--stuic-color-input-hover:                    #2a212c;
	--stuic-color-input-active:                   color-mix(in oklab, var(--stuic-color-input), var(--stuic-color-foreground) 20%);

	--stuic-color-ring:                           rgba(168, 158, 169, 0.25);
	--stuic-color-ring-hover:                     rgba(168, 158, 169, 0.25);
	--stuic-color-ring-active:                    rgba(168, 158, 169, 0.25);
}

/* prettier-ignore */
@supports not (color: color-mix(in oklab, red, blue)) {
	:root {
		--stuic-color-primary-hover:                  #3c303d;
		--stuic-color-primary-active:                 #322832;

		--stuic-color-accent-hover:                   #10a090;
		--stuic-color-accent-active:                  #0c887a;

		--stuic-color-destructive-hover:              #c4183d;
		--stuic-color-destructive-active:             #a71333;

		--stuic-color-warning-hover:                  #d58908;
		--stuic-color-warning-active:                 #b67406;

		--stuic-color-success-hover:                  #0a8075;
		--stuic-color-success-active:                 #076d63;

		--stuic-color-surface-primary:                #dfdddf;
		--stuic-color-surface-primary-foreground:     #231d24;
		--stuic-color-surface-primary-border:         #c4c0c4;
		--stuic-color-surface-accent:                 #d7f0ed;
		--stuic-color-surface-accent-foreground:      #0a5c53;
		--stuic-color-surface-accent-border:          #b5e6e1;
		--stuic-color-surface-destructive:            #f6d9df;
		--stuic-color-surface-destructive-foreground: #710f24;
		--stuic-color-surface-destructive-border:     #f3b8c5;
		--stuic-color-surface-warning:                #f9ecd6;
		--stuic-color-surface-warning-foreground:     #7b4f06;
		--stuic-color-surface-warning-border:         #f8deb2;
		--stuic-color-surface-success:                #d6ebe9;
		--stuic-color-surface-success-foreground:     #074a44;
		--stuic-color-surface-success-border:         #b3dbd8;
		--stuic-color-surface-hover:                  #d0cdd0;
		--stuic-color-surface-active:                 #bab6ba;
		--stuic-color-surface-1-hover:                #c2bbc2;
		--stuic-color-surface-1-active:               #aea6ae;

		--stuic-color-muted-hover:                    #dbd8db;
		--stuic-color-muted-active:                   #c3c0c3;

		--stuic-color-border-hover:                   #c2bbc2;
		--stuic-color-border-active:                  #aea6ae;

		--stuic-color-input-active:                   #cccacd;
	}

	:root.dark {
		--stuic-color-primary-hover:                  #b0a7b1;
		--stuic-color-primary-active:                 #b9b1ba;

		--stuic-color-accent-hover:                   #3b9f93;
		--stuic-color-accent-active:                  #56a99f;

		--stuic-color-destructive-hover:              #f8596d;
		--stuic-color-destructive-active:             #fc6f7d;

		--stuic-color-warning-hover:                  #fcc64c;
		--stuic-color-warning-active:                 #fccd66;

		--stuic-color-success-hover:                  #44bfaf;
		--stuic-color-success-active:                 #60c7b7;

		--stuic-color-surface-primary:                #322a33;
		--stuic-color-surface-primary-foreground:     #d3cfd4;
		--stuic-color-surface-primary-border:         #473f48;
		--stuic-color-surface-accent:                 #1b292e;
		--stuic-color-surface-accent-foreground:      #86cac3;
		--stuic-color-surface-accent-border:          #183c3e;
		--stuic-color-surface-destructive:            #3d1c28;
		--stuic-color-surface-destructive-foreground: #fa9faf;
		--stuic-color-surface-destructive-border:     #5e2231;
		--stuic-color-surface-warning:                #3e2f1f;
		--stuic-color-surface-warning-foreground:     #fddf92;
		--stuic-color-surface-warning-border:         #604920;
		--stuic-color-surface-success:                #1c2e32;
		--stuic-color-surface-success-foreground:     #8adcd3;
		--stuic-color-surface-success-border:         #1a4747;
		--stuic-color-surface-hover:                  #564a57;
		--stuic-color-surface-active:                 #675c68;
		--stuic-color-surface-1-hover:                #685c6a;
		--stuic-color-surface-1-active:               #776c78;

		--stuic-color-muted-hover:                    #3c333e;
		--stuic-color-muted-active:                   #4e4650;

		--stuic-color-border-hover:                   #564a57;
		--stuic-color-border-active:                  #675c68;

		--stuic-color-input-active:                   #433c44;
	}
}
