/* prettier-ignore */
:root {
	--stuic-color-primary:                        #2a212c;

	--stuic-color-primary-hover:                  color-mix(in oklch, var(--stuic-color-primary), black 10%);
	--stuic-color-primary-active:                 color-mix(in oklch, var(--stuic-color-primary), black 20%);
	--stuic-color-primary-foreground:             #ffffff;
	--stuic-color-primary-foreground-hover:       #ffffff;
	--stuic-color-primary-foreground-active:      #ffffff;

	--stuic-color-accent:                         #79697b;

	--stuic-color-accent-hover:                   color-mix(in oklch, var(--stuic-color-accent), black 10%);
	--stuic-color-accent-active:                  color-mix(in oklch, var(--stuic-color-accent), black 20%);
	--stuic-color-accent-foreground:              #ffffff;
	--stuic-color-accent-foreground-hover:        #ffffff;
	--stuic-color-accent-foreground-active:       #ffffff;

	--stuic-color-destructive:                    #79697b;

	--stuic-color-destructive-hover:              color-mix(in oklch, var(--stuic-color-destructive), black 10%);
	--stuic-color-destructive-active:             color-mix(in oklch, var(--stuic-color-destructive), black 20%);
	--stuic-color-destructive-foreground:         #ffffff;
	--stuic-color-destructive-foreground-hover:   #ffffff;
	--stuic-color-destructive-foreground-active:  #ffffff;

	--stuic-color-warning:                        #a89ea9;

	--stuic-color-warning-hover:                  color-mix(in oklch, var(--stuic-color-warning), black 10%);
	--stuic-color-warning-active:                 color-mix(in oklch, var(--stuic-color-warning), black 20%);
	--stuic-color-warning-foreground:             #000000;
	--stuic-color-warning-foreground-hover:       #000000;
	--stuic-color-warning-foreground-active:      #000000;

	--stuic-color-success:                        #79697b;

	--stuic-color-success-hover:                  color-mix(in oklch, var(--stuic-color-success), black 10%);
	--stuic-color-success-active:                 color-mix(in oklch, var(--stuic-color-success), black 20%);
	--stuic-color-success-foreground:             #ffffff;
	--stuic-color-success-foreground-hover:       #ffffff;
	--stuic-color-success-foreground-active:      #ffffff;

	--stuic-color-surface-primary:                color-mix(in srgb, var(--stuic-color-primary) 15%, var(--stuic-color-background));
	--stuic-color-surface-primary-foreground:     color-mix(in srgb, var(--stuic-color-primary), black 10%);
	--stuic-color-surface-primary-border:         color-mix(in srgb, var(--stuic-color-primary) 30%, var(--stuic-color-background));
	--stuic-color-surface-accent:                 color-mix(in srgb, var(--stuic-color-accent) 15%, var(--stuic-color-background));
	--stuic-color-surface-accent-foreground:      color-mix(in srgb, var(--stuic-color-accent), black 10%);
	--stuic-color-surface-accent-border:          color-mix(in srgb, var(--stuic-color-accent) 30%, var(--stuic-color-background));
	--stuic-color-surface-destructive:            color-mix(in srgb, var(--stuic-color-destructive) 15%, var(--stuic-color-background));
	--stuic-color-surface-destructive-foreground: color-mix(in srgb, var(--stuic-color-destructive), black 10%);
	--stuic-color-surface-destructive-border:     color-mix(in srgb, var(--stuic-color-destructive) 30%, var(--stuic-color-background));
	--stuic-color-surface-warning:                color-mix(in srgb, var(--stuic-color-warning) 15%, var(--stuic-color-background));
	--stuic-color-surface-warning-foreground:     color-mix(in srgb, var(--stuic-color-warning), black 10%);
	--stuic-color-surface-warning-border:         color-mix(in srgb, var(--stuic-color-warning) 30%, var(--stuic-color-background));
	--stuic-color-surface-success:                color-mix(in srgb, var(--stuic-color-success) 15%, var(--stuic-color-background));
	--stuic-color-surface-success-foreground:     color-mix(in srgb, var(--stuic-color-success), black 10%);
	--stuic-color-surface-success-border:         color-mix(in srgb, var(--stuic-color-success) 30%, var(--stuic-color-background));
	--stuic-color-surface-hover:                  color-mix(in oklch, var(--stuic-color-surface), black 10%);
	--stuic-color-surface-active:                 color-mix(in oklch, var(--stuic-color-surface), black 20%);
	--stuic-color-surface-foreground:             #1d161e;
	--stuic-color-surface-foreground-hover:       #1d161e;
	--stuic-color-surface-foreground-active:      #1d161e;

	--stuic-color-background:                     #fafafa;

	--stuic-color-background-hover:               #fafafa;
	--stuic-color-background-active:              #fafafa;
	--stuic-color-background-foreground:          #1d161e;
	--stuic-color-background-foreground-hover:    #1d161e;
	--stuic-color-background-foreground-active:   #1d161e;

	--stuic-color-muted:                          #f3f1f3;

	--stuic-color-muted-hover:                    color-mix(in oklch, var(--stuic-color-muted), black 10%);
	--stuic-color-muted-active:                   color-mix(in oklch, var(--stuic-color-muted), black 20%);
	--stuic-color-muted-foreground:               #79697b;
	--stuic-color-muted-foreground-hover:         #79697b;
	--stuic-color-muted-foreground-active:        #79697b;

	--stuic-color-surface:                        #e7e4e7;

	--stuic-color-surface-1:                      #d7d0d7;
	--stuic-color-surface-1-hover:                color-mix(in oklch, var(--stuic-color-surface-1), black 10%);
	--stuic-color-surface-1-active:               color-mix(in oklch, var(--stuic-color-surface-1), black 20%);
	--stuic-color-surface-1-foreground:           #1d161e;
	--stuic-color-surface-1-foreground-hover:     #1d161e;
	--stuic-color-surface-1-foreground-active:    #1d161e;

	--stuic-color-foreground:                     #1d161e;

	--stuic-color-foreground-hover:               #1d161e;
	--stuic-color-foreground-active:              #1d161e;

	--stuic-color-border:                         #d7d0d7;

	--stuic-color-border-hover:                   color-mix(in oklch, var(--stuic-color-border), black 10%);
	--stuic-color-border-active:                  color-mix(in oklch, var(--stuic-color-border), black 20%);

	--stuic-color-input:                          #fafafa;

	--stuic-color-input-hover:                    #f3f1f3;
	--stuic-color-input-active:                   color-mix(in oklch, var(--stuic-color-input), black 20%);

	--stuic-color-ring:                           color-mix(in srgb, #2a212c 20%, transparent);

	--stuic-color-ring-hover:                     color-mix(in srgb, #2a212c 20%, transparent);
	--stuic-color-ring-active:                    color-mix(in srgb, #2a212c 20%, transparent);
}

:root.dark {
	--stuic-color-primary:                        #e7e4e7;

	--stuic-color-primary-hover:                  color-mix(in oklch, var(--stuic-color-primary), white 10%);
	--stuic-color-primary-active:                 color-mix(in oklch, var(--stuic-color-primary), white 20%);
	--stuic-color-primary-foreground:             #000000;
	--stuic-color-primary-foreground-hover:       #000000;
	--stuic-color-primary-foreground-active:      #000000;

	--stuic-color-accent:                         #79697b;

	--stuic-color-accent-hover:                   color-mix(in oklch, var(--stuic-color-accent), white 10%);
	--stuic-color-accent-active:                  color-mix(in oklch, var(--stuic-color-accent), white 20%);
	--stuic-color-accent-foreground:              #ffffff;
	--stuic-color-accent-foreground-hover:        #ffffff;
	--stuic-color-accent-foreground-active:       #ffffff;

	--stuic-color-destructive:                    #79697b;

	--stuic-color-destructive-hover:              color-mix(in oklch, var(--stuic-color-destructive), white 10%);
	--stuic-color-destructive-active:             color-mix(in oklch, var(--stuic-color-destructive), white 20%);
	--stuic-color-destructive-foreground:         #ffffff;
	--stuic-color-destructive-foreground-hover:   #ffffff;
	--stuic-color-destructive-foreground-active:  #ffffff;

	--stuic-color-warning:                        #a89ea9;

	--stuic-color-warning-hover:                  color-mix(in oklch, var(--stuic-color-warning), white 10%);
	--stuic-color-warning-active:                 color-mix(in oklch, var(--stuic-color-warning), white 20%);
	--stuic-color-warning-foreground:             #000000;
	--stuic-color-warning-foreground-hover:       #000000;
	--stuic-color-warning-foreground-active:      #000000;

	--stuic-color-success:                        #79697b;

	--stuic-color-success-hover:                  color-mix(in oklch, var(--stuic-color-success), white 10%);
	--stuic-color-success-active:                 color-mix(in oklch, var(--stuic-color-success), white 20%);
	--stuic-color-success-foreground:             #ffffff;
	--stuic-color-success-foreground-hover:       #ffffff;
	--stuic-color-success-foreground-active:      #ffffff;

	--stuic-color-surface-primary:                color-mix(in srgb, var(--stuic-color-primary) 15%, var(--stuic-color-background));
	--stuic-color-surface-primary-foreground:     color-mix(in srgb, var(--stuic-color-primary), white 10%);
	--stuic-color-surface-primary-border:         color-mix(in srgb, var(--stuic-color-primary) 30%, var(--stuic-color-background));
	--stuic-color-surface-accent:                 color-mix(in srgb, var(--stuic-color-accent) 15%, var(--stuic-color-background));
	--stuic-color-surface-accent-foreground:      color-mix(in srgb, var(--stuic-color-accent), white 10%);
	--stuic-color-surface-accent-border:          color-mix(in srgb, var(--stuic-color-accent) 30%, var(--stuic-color-background));
	--stuic-color-surface-destructive:            color-mix(in srgb, var(--stuic-color-destructive) 15%, var(--stuic-color-background));
	--stuic-color-surface-destructive-foreground: color-mix(in srgb, var(--stuic-color-destructive), white 10%);
	--stuic-color-surface-destructive-border:     color-mix(in srgb, var(--stuic-color-destructive) 30%, var(--stuic-color-background));
	--stuic-color-surface-warning:                color-mix(in srgb, var(--stuic-color-warning) 15%, var(--stuic-color-background));
	--stuic-color-surface-warning-foreground:     color-mix(in srgb, var(--stuic-color-warning), white 10%);
	--stuic-color-surface-warning-border:         color-mix(in srgb, var(--stuic-color-warning) 30%, var(--stuic-color-background));
	--stuic-color-surface-success:                color-mix(in srgb, var(--stuic-color-success) 15%, var(--stuic-color-background));
	--stuic-color-surface-success-foreground:     color-mix(in srgb, var(--stuic-color-success), white 10%);
	--stuic-color-surface-success-border:         color-mix(in srgb, var(--stuic-color-success) 30%, var(--stuic-color-background));
	--stuic-color-surface-hover:                  color-mix(in oklch, var(--stuic-color-surface), white 10%);
	--stuic-color-surface-active:                 color-mix(in oklch, var(--stuic-color-surface), white 20%);
	--stuic-color-surface-foreground:             #d7d0d7;
	--stuic-color-surface-foreground-hover:       #d7d0d7;
	--stuic-color-surface-foreground-active:      #d7d0d7;

	--stuic-color-background:                     #1d161e;

	--stuic-color-background-hover:               #1d161e;
	--stuic-color-background-active:              #1d161e;
	--stuic-color-background-foreground:          #fafafa;
	--stuic-color-background-foreground-hover:    #fafafa;
	--stuic-color-background-foreground-active:   #fafafa;

	--stuic-color-muted:                          #2a212c;

	--stuic-color-muted-hover:                    color-mix(in oklch, var(--stuic-color-muted), white 10%);
	--stuic-color-muted-active:                   color-mix(in oklch, var(--stuic-color-muted), white 20%);
	--stuic-color-muted-foreground:               #a89ea9;
	--stuic-color-muted-foreground-hover:         #a89ea9;
	--stuic-color-muted-foreground-active:        #a89ea9;

	--stuic-color-surface:                        #463947;

	--stuic-color-surface-1:                      #594c5b;
	--stuic-color-surface-1-hover:                color-mix(in oklch, var(--stuic-color-surface-1), white 10%);
	--stuic-color-surface-1-active:               color-mix(in oklch, var(--stuic-color-surface-1), white 20%);
	--stuic-color-surface-1-foreground:           #e7e4e7;
	--stuic-color-surface-1-foreground-hover:     #e7e4e7;
	--stuic-color-surface-1-foreground-active:    #e7e4e7;

	--stuic-color-foreground:                     #fafafa;

	--stuic-color-foreground-hover:               #fafafa;
	--stuic-color-foreground-active:              #fafafa;

	--stuic-color-border:                         #463947;

	--stuic-color-border-hover:                   color-mix(in oklch, var(--stuic-color-border), white 10%);
	--stuic-color-border-active:                  color-mix(in oklch, var(--stuic-color-border), white 20%);

	--stuic-color-input:                          #1d161e;

	--stuic-color-input-hover:                    #2a212c;
	--stuic-color-input-active:                   color-mix(in oklch, var(--stuic-color-input), white 20%);

	--stuic-color-ring:                           color-mix(in srgb, #e7e4e7 25%, transparent);

	--stuic-color-ring-hover:                     color-mix(in srgb, #e7e4e7 25%, transparent);
	--stuic-color-ring-active:                    color-mix(in srgb, #e7e4e7 25%, transparent);
}
