/* prettier-ignore */
:root {
	--stuic-color-primary:                        #65a30d;
	--stuic-color-primary-hover:                  color-mix(in oklab, var(--stuic-color-primary), black 10%);
	--stuic-color-primary-active:                 color-mix(in oklab, var(--stuic-color-primary), black 20%);
	--stuic-color-primary-foreground:             #ffffff;
	--stuic-color-primary-foreground-hover:       #ffffff;
	--stuic-color-primary-foreground-active:      #ffffff;

	--stuic-color-accent:                         #d946ef;
	--stuic-color-accent-hover:                   color-mix(in oklab, var(--stuic-color-accent), black 10%);
	--stuic-color-accent-active:                  color-mix(in oklab, var(--stuic-color-accent), black 20%);
	--stuic-color-accent-foreground:              #ffffff;
	--stuic-color-accent-foreground-hover:        #ffffff;
	--stuic-color-accent-foreground-active:       #ffffff;

	--stuic-color-destructive:                    #dc2626;
	--stuic-color-destructive-hover:              color-mix(in oklab, var(--stuic-color-destructive), black 10%);
	--stuic-color-destructive-active:             color-mix(in oklab, var(--stuic-color-destructive), black 20%);
	--stuic-color-destructive-foreground:         #ffffff;
	--stuic-color-destructive-foreground-hover:   #ffffff;
	--stuic-color-destructive-foreground-active:  #ffffff;

	--stuic-color-warning:                        #eab308;
	--stuic-color-warning-hover:                  color-mix(in oklab, var(--stuic-color-warning), black 10%);
	--stuic-color-warning-active:                 color-mix(in oklab, var(--stuic-color-warning), black 20%);
	--stuic-color-warning-foreground:             #000000;
	--stuic-color-warning-foreground-hover:       #000000;
	--stuic-color-warning-foreground-active:      #000000;

	--stuic-color-success:                        #65a30d;
	--stuic-color-success-hover:                  color-mix(in oklab, var(--stuic-color-success), black 10%);
	--stuic-color-success-active:                 color-mix(in oklab, var(--stuic-color-success), black 20%);
	--stuic-color-success-foreground:             #000000;
	--stuic-color-success-foreground-hover:       #000000;
	--stuic-color-success-foreground-active:      #000000;

	--stuic-color-surface-primary:                color-mix(in srgb, var(--stuic-color-primary) 15%, var(--stuic-color-background));
	--stuic-color-surface-primary-foreground:     color-mix(in srgb, var(--stuic-color-primary), black 50%);
	--stuic-color-surface-primary-border:         color-mix(in srgb, var(--stuic-color-primary) 30%, var(--stuic-color-background));
	--stuic-color-surface-accent:                 color-mix(in srgb, var(--stuic-color-accent) 15%, var(--stuic-color-background));
	--stuic-color-surface-accent-foreground:      color-mix(in srgb, var(--stuic-color-accent), black 50%);
	--stuic-color-surface-accent-border:          color-mix(in srgb, var(--stuic-color-accent) 30%, var(--stuic-color-background));
	--stuic-color-surface-destructive:            color-mix(in srgb, var(--stuic-color-destructive) 15%, var(--stuic-color-background));
	--stuic-color-surface-destructive-foreground: color-mix(in srgb, var(--stuic-color-destructive), black 50%);
	--stuic-color-surface-destructive-border:     color-mix(in srgb, var(--stuic-color-destructive) 30%, var(--stuic-color-background));
	--stuic-color-surface-warning:                color-mix(in srgb, var(--stuic-color-warning) 15%, var(--stuic-color-background));
	--stuic-color-surface-warning-foreground:     color-mix(in srgb, var(--stuic-color-warning), black 50%);
	--stuic-color-surface-warning-border:         color-mix(in srgb, var(--stuic-color-warning) 30%, var(--stuic-color-background));
	--stuic-color-surface-success:                color-mix(in srgb, var(--stuic-color-success) 15%, var(--stuic-color-background));
	--stuic-color-surface-success-foreground:     color-mix(in srgb, var(--stuic-color-success), black 50%);
	--stuic-color-surface-success-border:         color-mix(in srgb, var(--stuic-color-success) 30%, var(--stuic-color-background));
	--stuic-color-surface:                        #d7d0d7;
	--stuic-color-surface-hover:                  color-mix(in oklab, var(--stuic-color-surface), var(--stuic-color-foreground) 10%);
	--stuic-color-surface-active:                 color-mix(in oklab, var(--stuic-color-surface), var(--stuic-color-foreground) 20%);
	--stuic-color-surface-foreground:             #1d161e;
	--stuic-color-surface-foreground-hover:       #1d161e;
	--stuic-color-surface-foreground-active:      #1d161e;
	--stuic-color-surface-1:                      #a89ea9;
	--stuic-color-surface-1-hover:                color-mix(in oklab, var(--stuic-color-surface-1), var(--stuic-color-foreground) 10%);
	--stuic-color-surface-1-active:               color-mix(in oklab, var(--stuic-color-surface-1), var(--stuic-color-foreground) 20%);
	--stuic-color-surface-1-foreground:           #1d161e;
	--stuic-color-surface-1-foreground-hover:     #1d161e;
	--stuic-color-surface-1-foreground-active:    #1d161e;

	--stuic-color-background:                     #f3f1f3;
	--stuic-color-background-hover:               #f3f1f3;
	--stuic-color-background-active:              #f3f1f3;
	--stuic-color-background-foreground:          #1d161e;
	--stuic-color-background-foreground-hover:    #1d161e;
	--stuic-color-background-foreground-active:   #1d161e;

	--stuic-color-muted:                          #e7e4e7;
	--stuic-color-muted-hover:                    color-mix(in oklab, var(--stuic-color-muted), var(--stuic-color-foreground) 10%);
	--stuic-color-muted-active:                   color-mix(in oklab, var(--stuic-color-muted), var(--stuic-color-foreground) 20%);
	--stuic-color-muted-foreground:               #79697b;
	--stuic-color-muted-foreground-hover:         #79697b;
	--stuic-color-muted-foreground-active:        #79697b;

	--stuic-color-foreground:                     #1d161e;
	--stuic-color-foreground-hover:               #1d161e;
	--stuic-color-foreground-active:              #1d161e;

	--stuic-color-border:                         #d7d0d7;
	--stuic-color-border-hover:                   color-mix(in oklab, var(--stuic-color-border), var(--stuic-color-foreground) 10%);
	--stuic-color-border-active:                  color-mix(in oklab, var(--stuic-color-border), var(--stuic-color-foreground) 20%);

	--stuic-color-input:                          #ffffff;
	--stuic-color-input-hover:                    #f3f1f3;
	--stuic-color-input-active:                   color-mix(in oklab, var(--stuic-color-input), var(--stuic-color-foreground) 20%);

	--stuic-color-ring:                           rgba(132, 204, 22, 0.25);
	--stuic-color-ring-hover:                     rgba(132, 204, 22, 0.25);
	--stuic-color-ring-active:                    rgba(132, 204, 22, 0.25);
}

/* prettier-ignore */
:root.dark {
	--stuic-color-primary:                        #a3e635;
	--stuic-color-primary-hover:                  color-mix(in oklab, var(--stuic-color-primary), white 10%);
	--stuic-color-primary-active:                 color-mix(in oklab, var(--stuic-color-primary), white 20%);
	--stuic-color-primary-foreground:             #000000;
	--stuic-color-primary-foreground-hover:       #000000;
	--stuic-color-primary-foreground-active:      #000000;

	--stuic-color-accent:                         #d946ef;
	--stuic-color-accent-hover:                   color-mix(in oklab, var(--stuic-color-accent), white 10%);
	--stuic-color-accent-active:                  color-mix(in oklab, var(--stuic-color-accent), white 20%);
	--stuic-color-accent-foreground:              #ffffff;
	--stuic-color-accent-foreground-hover:        #ffffff;
	--stuic-color-accent-foreground-active:       #ffffff;

	--stuic-color-destructive:                    #ef4444;
	--stuic-color-destructive-hover:              color-mix(in oklab, var(--stuic-color-destructive), white 10%);
	--stuic-color-destructive-active:             color-mix(in oklab, var(--stuic-color-destructive), white 20%);
	--stuic-color-destructive-foreground:         #ffffff;
	--stuic-color-destructive-foreground-hover:   #ffffff;
	--stuic-color-destructive-foreground-active:  #ffffff;

	--stuic-color-warning:                        #facc15;
	--stuic-color-warning-hover:                  color-mix(in oklab, var(--stuic-color-warning), white 10%);
	--stuic-color-warning-active:                 color-mix(in oklab, var(--stuic-color-warning), white 20%);
	--stuic-color-warning-foreground:             #000000;
	--stuic-color-warning-foreground-hover:       #000000;
	--stuic-color-warning-foreground-active:      #000000;

	--stuic-color-success:                        #a3e635;
	--stuic-color-success-hover:                  color-mix(in oklab, var(--stuic-color-success), white 10%);
	--stuic-color-success-active:                 color-mix(in oklab, var(--stuic-color-success), white 20%);
	--stuic-color-success-foreground:             #000000;
	--stuic-color-success-foreground-hover:       #000000;
	--stuic-color-success-foreground-active:      #000000;

	--stuic-color-surface-primary:                color-mix(in srgb, var(--stuic-color-primary) 15%, var(--stuic-color-background));
	--stuic-color-surface-primary-foreground:     color-mix(in srgb, var(--stuic-color-primary), white 50%);
	--stuic-color-surface-primary-border:         color-mix(in srgb, var(--stuic-color-primary) 30%, var(--stuic-color-background));
	--stuic-color-surface-accent:                 color-mix(in srgb, var(--stuic-color-accent) 15%, var(--stuic-color-background));
	--stuic-color-surface-accent-foreground:      color-mix(in srgb, var(--stuic-color-accent), white 50%);
	--stuic-color-surface-accent-border:          color-mix(in srgb, var(--stuic-color-accent) 30%, var(--stuic-color-background));
	--stuic-color-surface-destructive:            color-mix(in srgb, var(--stuic-color-destructive) 15%, var(--stuic-color-background));
	--stuic-color-surface-destructive-foreground: color-mix(in srgb, var(--stuic-color-destructive), white 50%);
	--stuic-color-surface-destructive-border:     color-mix(in srgb, var(--stuic-color-destructive) 30%, var(--stuic-color-background));
	--stuic-color-surface-warning:                color-mix(in srgb, var(--stuic-color-warning) 15%, var(--stuic-color-background));
	--stuic-color-surface-warning-foreground:     color-mix(in srgb, var(--stuic-color-warning), white 50%);
	--stuic-color-surface-warning-border:         color-mix(in srgb, var(--stuic-color-warning) 30%, var(--stuic-color-background));
	--stuic-color-surface-success:                color-mix(in srgb, var(--stuic-color-success) 15%, var(--stuic-color-background));
	--stuic-color-surface-success-foreground:     color-mix(in srgb, var(--stuic-color-success), white 50%);
	--stuic-color-surface-success-border:         color-mix(in srgb, var(--stuic-color-success) 30%, var(--stuic-color-background));
	--stuic-color-surface:                        #2a212c;
	--stuic-color-surface-hover:                  color-mix(in oklab, var(--stuic-color-surface), var(--stuic-color-foreground) 10%);
	--stuic-color-surface-active:                 color-mix(in oklab, var(--stuic-color-surface), var(--stuic-color-foreground) 20%);
	--stuic-color-surface-foreground:             #a89ea9;
	--stuic-color-surface-foreground-hover:       #a89ea9;
	--stuic-color-surface-foreground-active:      #a89ea9;
	--stuic-color-surface-1:                      #463947;
	--stuic-color-surface-1-hover:                color-mix(in oklab, var(--stuic-color-surface-1), var(--stuic-color-foreground) 10%);
	--stuic-color-surface-1-active:               color-mix(in oklab, var(--stuic-color-surface-1), var(--stuic-color-foreground) 20%);
	--stuic-color-surface-1-foreground:           #d7d0d7;
	--stuic-color-surface-1-foreground-hover:     #d7d0d7;
	--stuic-color-surface-1-foreground-active:    #d7d0d7;

	--stuic-color-background:                     #0c090c;
	--stuic-color-background-hover:               #0c090c;
	--stuic-color-background-active:              #0c090c;
	--stuic-color-background-foreground:          #fafafa;
	--stuic-color-background-foreground-hover:    #fafafa;
	--stuic-color-background-foreground-active:   #fafafa;

	--stuic-color-muted:                          #1d161e;
	--stuic-color-muted-hover:                    color-mix(in oklab, var(--stuic-color-muted), var(--stuic-color-foreground) 10%);
	--stuic-color-muted-active:                   color-mix(in oklab, var(--stuic-color-muted), var(--stuic-color-foreground) 20%);
	--stuic-color-muted-foreground:               #79697b;
	--stuic-color-muted-foreground-hover:         #79697b;
	--stuic-color-muted-foreground-active:        #79697b;

	--stuic-color-foreground:                     #fafafa;
	--stuic-color-foreground-hover:               #fafafa;
	--stuic-color-foreground-active:              #fafafa;

	--stuic-color-border:                         #463947;
	--stuic-color-border-hover:                   color-mix(in oklab, var(--stuic-color-border), var(--stuic-color-foreground) 10%);
	--stuic-color-border-active:                  color-mix(in oklab, var(--stuic-color-border), var(--stuic-color-foreground) 20%);

	--stuic-color-input:                          #0c090c;
	--stuic-color-input-hover:                    #1d161e;
	--stuic-color-input-active:                   color-mix(in oklab, var(--stuic-color-input), var(--stuic-color-foreground) 20%);

	--stuic-color-ring:                           rgba(163, 230, 53, 0.3);
	--stuic-color-ring-hover:                     rgba(163, 230, 53, 0.3);
	--stuic-color-ring-active:                    rgba(163, 230, 53, 0.3);
}

/* prettier-ignore */
@supports not (color: color-mix(in oklab, red, blue)) {
	:root {
		--stuic-color-primary-hover:                  #578d0a;
		--stuic-color-primary-active:                 #497807;

		--stuic-color-accent-hover:                   #bc3cd0;
		--stuic-color-accent-active:                  #a132b1;

		--stuic-color-destructive-hover:              #bf2020;
		--stuic-color-destructive-active:             #a31919;

		--stuic-color-warning-hover:                  #cb9b06;
		--stuic-color-warning-active:                 #ae8404;

		--stuic-color-success-hover:                  #578d0a;
		--stuic-color-success-active:                 #497807;

		--stuic-color-surface-primary:                #dee5d1;
		--stuic-color-surface-primary-foreground:     #335207;
		--stuic-color-surface-primary-border:         #c8daae;
		--stuic-color-surface-accent:                 #efd7f2;
		--stuic-color-surface-accent-foreground:      #6d2378;
		--stuic-color-surface-accent-border:          #ebbef2;
		--stuic-color-surface-destructive:            #f0d3d4;
		--stuic-color-surface-destructive-foreground: #6e1313;
		--stuic-color-surface-destructive-border:     #ecb4b5;
		--stuic-color-surface-warning:                #f2e8d0;
		--stuic-color-surface-warning-foreground:     #755a04;
		--stuic-color-surface-warning-border:         #f0deac;
		--stuic-color-surface-success:                #dee5d1;
		--stuic-color-surface-success-foreground:     #335207;
		--stuic-color-surface-success-border:         #c8daae;
		--stuic-color-surface-hover:                  #c2bbc2;
		--stuic-color-surface-active:                 #aea6ae;
		--stuic-color-surface-1-hover:                #998f9a;
		--stuic-color-surface-1-active:               #89808a;

		--stuic-color-muted-hover:                    #d0cdd0;
		--stuic-color-muted-active:                   #bab6ba;

		--stuic-color-border-hover:                   #c2bbc2;
		--stuic-color-border-active:                  #aea6ae;

		--stuic-color-input-active:                   #cccacd;
	}

	:root.dark {
		--stuic-color-primary-hover:                  #ace956;
		--stuic-color-primary-active:                 #b5ec6e;

		--stuic-color-accent-hover:                   #de5ff2;
		--stuic-color-accent-active:                  #e374f4;

		--stuic-color-destructive-hover:              #f45c57;
		--stuic-color-destructive-active:             #f8716a;

		--stuic-color-warning-hover:                  #fbd248;
		--stuic-color-warning-active:                 #fbd764;

		--stuic-color-success-hover:                  #ace956;
		--stuic-color-success-active:                 #b5ec6e;

		--stuic-color-surface-primary:                #232a12;
		--stuic-color-surface-primary-foreground:     #d1f39a;
		--stuic-color-surface-primary-border:         #394b18;
		--stuic-color-surface-accent:                 #2b122e;
		--stuic-color-surface-accent-foreground:      #eca3f7;
		--stuic-color-surface-accent-border:          #4a1b50;
		--stuic-color-surface-destructive:            #2e1214;
		--stuic-color-surface-destructive-foreground: #f7a2a2;
		--stuic-color-surface-destructive-border:     #501b1d;
		--stuic-color-surface-warning:                #30260d;
		--stuic-color-surface-warning-foreground:     #fde68a;
		--stuic-color-surface-warning-border:         #53440f;
		--stuic-color-surface-success:                #232a12;
		--stuic-color-surface-success-foreground:     #d1f39a;
		--stuic-color-surface-success-border:         #394b18;
		--stuic-color-surface-hover:                  #3c333e;
		--stuic-color-surface-active:                 #4e4650;
		--stuic-color-surface-1-hover:                #564a57;
		--stuic-color-surface-1-active:               #675c68;

		--stuic-color-muted-hover:                    #2f2930;
		--stuic-color-muted-active:                   #433c44;

		--stuic-color-border-hover:                   #564a57;
		--stuic-color-border-active:                  #675c68;

		--stuic-color-input-active:                   #333033;
	}
}
