/* prettier-ignore */
:root {
	--stuic-color-primary:                        #22292b;
	--stuic-color-primary-hover:                  color-mix(in oklab, var(--stuic-color-primary), black 10%);
	--stuic-color-primary-active:                 color-mix(in oklab, var(--stuic-color-primary), black 20%);
	--stuic-color-primary-foreground:             #ffffff;
	--stuic-color-primary-foreground-hover:       #ffffff;
	--stuic-color-primary-foreground-active:      #ffffff;

	--stuic-color-accent:                         #67787c;
	--stuic-color-accent-hover:                   color-mix(in oklab, var(--stuic-color-accent), black 10%);
	--stuic-color-accent-active:                  color-mix(in oklab, var(--stuic-color-accent), black 20%);
	--stuic-color-accent-foreground:              #ffffff;
	--stuic-color-accent-foreground-hover:        #ffffff;
	--stuic-color-accent-foreground-active:       #ffffff;

	--stuic-color-destructive:                    #67787c;
	--stuic-color-destructive-hover:              color-mix(in oklab, var(--stuic-color-destructive), black 10%);
	--stuic-color-destructive-active:             color-mix(in oklab, var(--stuic-color-destructive), black 20%);
	--stuic-color-destructive-foreground:         #ffffff;
	--stuic-color-destructive-foreground-hover:   #ffffff;
	--stuic-color-destructive-foreground-active:  #ffffff;

	--stuic-color-warning:                        #9ca8ab;
	--stuic-color-warning-hover:                  color-mix(in oklab, var(--stuic-color-warning), black 10%);
	--stuic-color-warning-active:                 color-mix(in oklab, var(--stuic-color-warning), black 20%);
	--stuic-color-warning-foreground:             #000000;
	--stuic-color-warning-foreground-hover:       #000000;
	--stuic-color-warning-foreground-active:      #000000;

	--stuic-color-success:                        #67787c;
	--stuic-color-success-hover:                  color-mix(in oklab, var(--stuic-color-success), black 10%);
	--stuic-color-success-active:                 color-mix(in oklab, var(--stuic-color-success), black 20%);
	--stuic-color-success-foreground:             #ffffff;
	--stuic-color-success-foreground-hover:       #ffffff;
	--stuic-color-success-foreground-active:      #ffffff;

	--stuic-color-surface-primary:                color-mix(in srgb, var(--stuic-color-primary) 15%, var(--stuic-color-background));
	--stuic-color-surface-primary-foreground:     color-mix(in srgb, var(--stuic-color-primary), black 50%);
	--stuic-color-surface-primary-border:         color-mix(in srgb, var(--stuic-color-primary) 30%, var(--stuic-color-background));
	--stuic-color-surface-accent:                 color-mix(in srgb, var(--stuic-color-accent) 15%, var(--stuic-color-background));
	--stuic-color-surface-accent-foreground:      color-mix(in srgb, var(--stuic-color-accent), black 50%);
	--stuic-color-surface-accent-border:          color-mix(in srgb, var(--stuic-color-accent) 30%, var(--stuic-color-background));
	--stuic-color-surface-destructive:            color-mix(in srgb, var(--stuic-color-destructive) 15%, var(--stuic-color-background));
	--stuic-color-surface-destructive-foreground: color-mix(in srgb, var(--stuic-color-destructive), black 50%);
	--stuic-color-surface-destructive-border:     color-mix(in srgb, var(--stuic-color-destructive) 30%, var(--stuic-color-background));
	--stuic-color-surface-warning:                color-mix(in srgb, var(--stuic-color-warning) 15%, var(--stuic-color-background));
	--stuic-color-surface-warning-foreground:     color-mix(in srgb, var(--stuic-color-warning), black 50%);
	--stuic-color-surface-warning-border:         color-mix(in srgb, var(--stuic-color-warning) 30%, var(--stuic-color-background));
	--stuic-color-surface-success:                color-mix(in srgb, var(--stuic-color-success) 15%, var(--stuic-color-background));
	--stuic-color-surface-success-foreground:     color-mix(in srgb, var(--stuic-color-success), black 50%);
	--stuic-color-surface-success-border:         color-mix(in srgb, var(--stuic-color-success) 30%, var(--stuic-color-background));
	--stuic-color-surface:                        #e3e7e8;
	--stuic-color-surface-hover:                  color-mix(in oklab, var(--stuic-color-surface), var(--stuic-color-foreground) 10%);
	--stuic-color-surface-active:                 color-mix(in oklab, var(--stuic-color-surface), var(--stuic-color-foreground) 20%);
	--stuic-color-surface-foreground:             #161b1d;
	--stuic-color-surface-foreground-hover:       #161b1d;
	--stuic-color-surface-foreground-active:      #161b1d;
	--stuic-color-surface-1:                      #d0d6d8;
	--stuic-color-surface-1-hover:                color-mix(in oklab, var(--stuic-color-surface-1), var(--stuic-color-foreground) 10%);
	--stuic-color-surface-1-active:               color-mix(in oklab, var(--stuic-color-surface-1), var(--stuic-color-foreground) 20%);
	--stuic-color-surface-1-foreground:           #161b1d;
	--stuic-color-surface-1-foreground-hover:     #161b1d;
	--stuic-color-surface-1-foreground-active:    #161b1d;

	--stuic-color-background:                     #f9fbfb;
	--stuic-color-background-hover:               #f9fbfb;
	--stuic-color-background-active:              #f9fbfb;
	--stuic-color-background-foreground:          #161b1d;
	--stuic-color-background-foreground-hover:    #161b1d;
	--stuic-color-background-foreground-active:   #161b1d;

	--stuic-color-muted:                          #f1f3f3;
	--stuic-color-muted-hover:                    color-mix(in oklab, var(--stuic-color-muted), var(--stuic-color-foreground) 10%);
	--stuic-color-muted-active:                   color-mix(in oklab, var(--stuic-color-muted), var(--stuic-color-foreground) 20%);
	--stuic-color-muted-foreground:               #67787c;
	--stuic-color-muted-foreground-hover:         #67787c;
	--stuic-color-muted-foreground-active:        #67787c;

	--stuic-color-foreground:                     #161b1d;
	--stuic-color-foreground-hover:               #161b1d;
	--stuic-color-foreground-active:              #161b1d;

	--stuic-color-border:                         #d0d6d8;
	--stuic-color-border-hover:                   color-mix(in oklab, var(--stuic-color-border), var(--stuic-color-foreground) 10%);
	--stuic-color-border-active:                  color-mix(in oklab, var(--stuic-color-border), var(--stuic-color-foreground) 20%);

	--stuic-color-input:                          #f9fbfb;
	--stuic-color-input-hover:                    #f1f3f3;
	--stuic-color-input-active:                   color-mix(in oklab, var(--stuic-color-input), var(--stuic-color-foreground) 20%);

	--stuic-color-ring:                           rgba(34, 41, 43, 0.2);
	--stuic-color-ring-hover:                     rgba(34, 41, 43, 0.2);
	--stuic-color-ring-active:                    rgba(34, 41, 43, 0.2);
}

/* prettier-ignore */
:root.dark {
	--stuic-color-primary:                        #e3e7e8;
	--stuic-color-primary-hover:                  color-mix(in oklab, var(--stuic-color-primary), white 10%);
	--stuic-color-primary-active:                 color-mix(in oklab, var(--stuic-color-primary), white 20%);
	--stuic-color-primary-foreground:             #000000;
	--stuic-color-primary-foreground-hover:       #000000;
	--stuic-color-primary-foreground-active:      #000000;

	--stuic-color-accent:                         #67787c;
	--stuic-color-accent-hover:                   color-mix(in oklab, var(--stuic-color-accent), white 10%);
	--stuic-color-accent-active:                  color-mix(in oklab, var(--stuic-color-accent), white 20%);
	--stuic-color-accent-foreground:              #ffffff;
	--stuic-color-accent-foreground-hover:        #ffffff;
	--stuic-color-accent-foreground-active:       #ffffff;

	--stuic-color-destructive:                    #67787c;
	--stuic-color-destructive-hover:              color-mix(in oklab, var(--stuic-color-destructive), white 10%);
	--stuic-color-destructive-active:             color-mix(in oklab, var(--stuic-color-destructive), white 20%);
	--stuic-color-destructive-foreground:         #ffffff;
	--stuic-color-destructive-foreground-hover:   #ffffff;
	--stuic-color-destructive-foreground-active:  #ffffff;

	--stuic-color-warning:                        #9ca8ab;
	--stuic-color-warning-hover:                  color-mix(in oklab, var(--stuic-color-warning), white 10%);
	--stuic-color-warning-active:                 color-mix(in oklab, var(--stuic-color-warning), white 20%);
	--stuic-color-warning-foreground:             #000000;
	--stuic-color-warning-foreground-hover:       #000000;
	--stuic-color-warning-foreground-active:      #000000;

	--stuic-color-success:                        #67787c;
	--stuic-color-success-hover:                  color-mix(in oklab, var(--stuic-color-success), white 10%);
	--stuic-color-success-active:                 color-mix(in oklab, var(--stuic-color-success), white 20%);
	--stuic-color-success-foreground:             #ffffff;
	--stuic-color-success-foreground-hover:       #ffffff;
	--stuic-color-success-foreground-active:      #ffffff;

	--stuic-color-surface-primary:                color-mix(in srgb, var(--stuic-color-primary) 15%, var(--stuic-color-background));
	--stuic-color-surface-primary-foreground:     color-mix(in srgb, var(--stuic-color-primary), white 50%);
	--stuic-color-surface-primary-border:         color-mix(in srgb, var(--stuic-color-primary) 30%, var(--stuic-color-background));
	--stuic-color-surface-accent:                 color-mix(in srgb, var(--stuic-color-accent) 15%, var(--stuic-color-background));
	--stuic-color-surface-accent-foreground:      color-mix(in srgb, var(--stuic-color-accent), white 50%);
	--stuic-color-surface-accent-border:          color-mix(in srgb, var(--stuic-color-accent) 30%, var(--stuic-color-background));
	--stuic-color-surface-destructive:            color-mix(in srgb, var(--stuic-color-destructive) 15%, var(--stuic-color-background));
	--stuic-color-surface-destructive-foreground: color-mix(in srgb, var(--stuic-color-destructive), white 50%);
	--stuic-color-surface-destructive-border:     color-mix(in srgb, var(--stuic-color-destructive) 30%, var(--stuic-color-background));
	--stuic-color-surface-warning:                color-mix(in srgb, var(--stuic-color-warning) 15%, var(--stuic-color-background));
	--stuic-color-surface-warning-foreground:     color-mix(in srgb, var(--stuic-color-warning), white 50%);
	--stuic-color-surface-warning-border:         color-mix(in srgb, var(--stuic-color-warning) 30%, var(--stuic-color-background));
	--stuic-color-surface-success:                color-mix(in srgb, var(--stuic-color-success) 15%, var(--stuic-color-background));
	--stuic-color-surface-success-foreground:     color-mix(in srgb, var(--stuic-color-success), white 50%);
	--stuic-color-surface-success-border:         color-mix(in srgb, var(--stuic-color-success) 30%, var(--stuic-color-background));
	--stuic-color-surface:                        #394447;
	--stuic-color-surface-hover:                  color-mix(in oklab, var(--stuic-color-surface), var(--stuic-color-foreground) 10%);
	--stuic-color-surface-active:                 color-mix(in oklab, var(--stuic-color-surface), var(--stuic-color-foreground) 20%);
	--stuic-color-surface-foreground:             #d0d6d8;
	--stuic-color-surface-foreground-hover:       #d0d6d8;
	--stuic-color-surface-foreground-active:      #d0d6d8;
	--stuic-color-surface-1:                      #4b585b;
	--stuic-color-surface-1-hover:                color-mix(in oklab, var(--stuic-color-surface-1), var(--stuic-color-foreground) 10%);
	--stuic-color-surface-1-active:               color-mix(in oklab, var(--stuic-color-surface-1), var(--stuic-color-foreground) 20%);
	--stuic-color-surface-1-foreground:           #e3e7e8;
	--stuic-color-surface-1-foreground-hover:     #e3e7e8;
	--stuic-color-surface-1-foreground-active:    #e3e7e8;

	--stuic-color-background:                     #161b1d;
	--stuic-color-background-hover:               #161b1d;
	--stuic-color-background-active:              #161b1d;
	--stuic-color-background-foreground:          #f9fbfb;
	--stuic-color-background-foreground-hover:    #f9fbfb;
	--stuic-color-background-foreground-active:   #f9fbfb;

	--stuic-color-muted:                          #22292b;
	--stuic-color-muted-hover:                    color-mix(in oklab, var(--stuic-color-muted), var(--stuic-color-foreground) 10%);
	--stuic-color-muted-active:                   color-mix(in oklab, var(--stuic-color-muted), var(--stuic-color-foreground) 20%);
	--stuic-color-muted-foreground:               #9ca8ab;
	--stuic-color-muted-foreground-hover:         #9ca8ab;
	--stuic-color-muted-foreground-active:        #9ca8ab;

	--stuic-color-foreground:                     #f9fbfb;
	--stuic-color-foreground-hover:               #f9fbfb;
	--stuic-color-foreground-active:              #f9fbfb;

	--stuic-color-border:                         #394447;
	--stuic-color-border-hover:                   color-mix(in oklab, var(--stuic-color-border), var(--stuic-color-foreground) 10%);
	--stuic-color-border-active:                  color-mix(in oklab, var(--stuic-color-border), var(--stuic-color-foreground) 20%);

	--stuic-color-input:                          #161b1d;
	--stuic-color-input-hover:                    #22292b;
	--stuic-color-input-active:                   color-mix(in oklab, var(--stuic-color-input), var(--stuic-color-foreground) 20%);

	--stuic-color-ring:                           rgba(227, 231, 232, 0.25);
	--stuic-color-ring-hover:                     rgba(227, 231, 232, 0.25);
	--stuic-color-ring-active:                    rgba(227, 231, 232, 0.25);
}

/* prettier-ignore */
@supports not (color: color-mix(in oklab, red, blue)) {
	:root {
		--stuic-color-primary-hover:                  #1c2224;
		--stuic-color-primary-active:                 #161c1d;

		--stuic-color-accent-hover:                   #59676b;
		--stuic-color-accent-active:                  #4b575a;

		--stuic-color-destructive-hover:              #59676b;
		--stuic-color-destructive-active:             #4b575a;

		--stuic-color-warning-hover:                  #879294;
		--stuic-color-warning-active:                 #737c7e;

		--stuic-color-success-hover:                  #59676b;
		--stuic-color-success-active:                 #4b575a;

		--stuic-color-surface-primary:                #d9dbdc;
		--stuic-color-surface-primary-foreground:     #111516;
		--stuic-color-surface-primary-border:         #b9bcbd;
		--stuic-color-surface-accent:                 #e3e7e8;
		--stuic-color-surface-accent-foreground:      #343c3e;
		--stuic-color-surface-accent-border:          #cdd4d5;
		--stuic-color-surface-destructive:            #e3e7e8;
		--stuic-color-surface-destructive-foreground: #343c3e;
		--stuic-color-surface-destructive-border:     #cdd4d5;
		--stuic-color-surface-warning:                #ebefef;
		--stuic-color-surface-warning-foreground:     #4e5456;
		--stuic-color-surface-warning-border:         #dde2e3;
		--stuic-color-surface-success:                #e3e7e8;
		--stuic-color-surface-success-foreground:     #343c3e;
		--stuic-color-surface-success-border:         #cdd4d5;
		--stuic-color-surface-hover:                  #ccd0d1;
		--stuic-color-surface-active:                 #b5b9bb;
		--stuic-color-surface-1-hover:                #bbc1c3;
		--stuic-color-surface-1-active:               #a6acae;

		--stuic-color-muted-hover:                    #d8dbdb;
		--stuic-color-muted-active:                   #c0c3c3;

		--stuic-color-border-hover:                   #bbc1c3;
		--stuic-color-border-active:                  #a6acae;

		--stuic-color-input-active:                   #c6c9c9;
	}

	:root.dark {
		--stuic-color-primary-hover:                  #e6e9ea;
		--stuic-color-primary-active:                 #e9eced;

		--stuic-color-accent-hover:                   #758588;
		--stuic-color-accent-active:                  #849195;

		--stuic-color-destructive-hover:              #758588;
		--stuic-color-destructive-active:             #849195;

		--stuic-color-warning-hover:                  #a6b0b3;
		--stuic-color-warning-active:                 #afb9bb;

		--stuic-color-success-hover:                  #758588;
		--stuic-color-success-active:                 #849195;

		--stuic-color-surface-primary:                #353a3b;
		--stuic-color-surface-primary-foreground:     #f1f3f3;
		--stuic-color-surface-primary-border:         #53585a;
		--stuic-color-surface-accent:                 #22292b;
		--stuic-color-surface-accent-foreground:      #b3bcbe;
		--stuic-color-surface-accent-border:          #2e3739;
		--stuic-color-surface-destructive:            #22292b;
		--stuic-color-surface-destructive-foreground: #b3bcbe;
		--stuic-color-surface-destructive-border:     #2e3739;
		--stuic-color-surface-warning:                #2a3032;
		--stuic-color-surface-warning-foreground:     #ced3d5;
		--stuic-color-surface-warning-border:         #3e4548;
		--stuic-color-surface-success:                #22292b;
		--stuic-color-surface-success-foreground:     #b3bcbe;
		--stuic-color-surface-success-border:         #2e3739;
		--stuic-color-surface-hover:                  #4a5457;
		--stuic-color-surface-active:                 #5b6568;
		--stuic-color-surface-1-hover:                #5b676a;
		--stuic-color-surface-1-active:               #6b7679;

		--stuic-color-muted-hover:                    #343b3d;
		--stuic-color-muted-active:                   #474e4f;

		--stuic-color-border-hover:                   #4a5457;
		--stuic-color-border-active:                  #5b6568;

		--stuic-color-input-active:                   #3c4143;
	}
}
