/* prettier-ignore */
:root {
	--stuic-color-primary:                        #4f46e5;
	--stuic-color-primary-hover:                  color-mix(in oklab, var(--stuic-color-primary), black 10%);
	--stuic-color-primary-active:                 color-mix(in oklab, var(--stuic-color-primary), black 20%);
	--stuic-color-primary-foreground:             #ffffff;
	--stuic-color-primary-foreground-hover:       #ffffff;
	--stuic-color-primary-foreground-active:      #ffffff;

	--stuic-color-accent:                         #0ea5e9;
	--stuic-color-accent-hover:                   color-mix(in oklab, var(--stuic-color-accent), black 10%);
	--stuic-color-accent-active:                  color-mix(in oklab, var(--stuic-color-accent), black 20%);
	--stuic-color-accent-foreground:              #ffffff;
	--stuic-color-accent-foreground-hover:        #ffffff;
	--stuic-color-accent-foreground-active:       #ffffff;

	--stuic-color-destructive:                    #e11d48;
	--stuic-color-destructive-hover:              color-mix(in oklab, var(--stuic-color-destructive), black 10%);
	--stuic-color-destructive-active:             color-mix(in oklab, var(--stuic-color-destructive), black 20%);
	--stuic-color-destructive-foreground:         #ffffff;
	--stuic-color-destructive-foreground-hover:   #ffffff;
	--stuic-color-destructive-foreground-active:  #ffffff;

	--stuic-color-warning:                        #f59e0b;
	--stuic-color-warning-hover:                  color-mix(in oklab, var(--stuic-color-warning), black 10%);
	--stuic-color-warning-active:                 color-mix(in oklab, var(--stuic-color-warning), black 20%);
	--stuic-color-warning-foreground:             #ffffff;
	--stuic-color-warning-foreground-hover:       #ffffff;
	--stuic-color-warning-foreground-active:      #ffffff;

	--stuic-color-success:                        #059669;
	--stuic-color-success-hover:                  color-mix(in oklab, var(--stuic-color-success), black 10%);
	--stuic-color-success-active:                 color-mix(in oklab, var(--stuic-color-success), black 20%);
	--stuic-color-success-foreground:             #ffffff;
	--stuic-color-success-foreground-hover:       #ffffff;
	--stuic-color-success-foreground-active:      #ffffff;

	--stuic-color-surface-primary:                color-mix(in srgb, var(--stuic-color-primary) 15%, var(--stuic-color-background));
	--stuic-color-surface-primary-foreground:     color-mix(in srgb, var(--stuic-color-primary), black 50%);
	--stuic-color-surface-primary-border:         color-mix(in srgb, var(--stuic-color-primary) 30%, var(--stuic-color-background));
	--stuic-color-surface-accent:                 color-mix(in srgb, var(--stuic-color-accent) 15%, var(--stuic-color-background));
	--stuic-color-surface-accent-foreground:      color-mix(in srgb, var(--stuic-color-accent), black 50%);
	--stuic-color-surface-accent-border:          color-mix(in srgb, var(--stuic-color-accent) 30%, var(--stuic-color-background));
	--stuic-color-surface-destructive:            color-mix(in srgb, var(--stuic-color-destructive) 15%, var(--stuic-color-background));
	--stuic-color-surface-destructive-foreground: color-mix(in srgb, var(--stuic-color-destructive), black 50%);
	--stuic-color-surface-destructive-border:     color-mix(in srgb, var(--stuic-color-destructive) 30%, var(--stuic-color-background));
	--stuic-color-surface-warning:                color-mix(in srgb, var(--stuic-color-warning) 15%, var(--stuic-color-background));
	--stuic-color-surface-warning-foreground:     color-mix(in srgb, var(--stuic-color-warning), black 50%);
	--stuic-color-surface-warning-border:         color-mix(in srgb, var(--stuic-color-warning) 30%, var(--stuic-color-background));
	--stuic-color-surface-success:                color-mix(in srgb, var(--stuic-color-success) 15%, var(--stuic-color-background));
	--stuic-color-surface-success-foreground:     color-mix(in srgb, var(--stuic-color-success), black 50%);
	--stuic-color-surface-success-border:         color-mix(in srgb, var(--stuic-color-success) 30%, var(--stuic-color-background));
	--stuic-color-surface:                        #e3e7e8;
	--stuic-color-surface-hover:                  color-mix(in oklab, var(--stuic-color-surface), var(--stuic-color-foreground) 10%);
	--stuic-color-surface-active:                 color-mix(in oklab, var(--stuic-color-surface), var(--stuic-color-foreground) 20%);
	--stuic-color-surface-foreground:             #161b1d;
	--stuic-color-surface-foreground-hover:       #161b1d;
	--stuic-color-surface-foreground-active:      #161b1d;
	--stuic-color-surface-1:                      #d0d6d8;
	--stuic-color-surface-1-hover:                color-mix(in oklab, var(--stuic-color-surface-1), var(--stuic-color-foreground) 10%);
	--stuic-color-surface-1-active:               color-mix(in oklab, var(--stuic-color-surface-1), var(--stuic-color-foreground) 20%);
	--stuic-color-surface-1-foreground:           #161b1d;
	--stuic-color-surface-1-foreground-hover:     #161b1d;
	--stuic-color-surface-1-foreground-active:    #161b1d;

	--stuic-color-background:                     #f9fbfb;
	--stuic-color-background-hover:               #f9fbfb;
	--stuic-color-background-active:              #f9fbfb;
	--stuic-color-background-foreground:          #161b1d;
	--stuic-color-background-foreground-hover:    #161b1d;
	--stuic-color-background-foreground-active:   #161b1d;

	--stuic-color-muted:                          #f1f3f3;
	--stuic-color-muted-hover:                    color-mix(in oklab, var(--stuic-color-muted), var(--stuic-color-foreground) 10%);
	--stuic-color-muted-active:                   color-mix(in oklab, var(--stuic-color-muted), var(--stuic-color-foreground) 20%);
	--stuic-color-muted-foreground:               #67787c;
	--stuic-color-muted-foreground-hover:         #67787c;
	--stuic-color-muted-foreground-active:        #67787c;

	--stuic-color-foreground:                     #161b1d;
	--stuic-color-foreground-hover:               #161b1d;
	--stuic-color-foreground-active:              #161b1d;

	--stuic-color-border:                         #d0d6d8;
	--stuic-color-border-hover:                   color-mix(in oklab, var(--stuic-color-border), var(--stuic-color-foreground) 10%);
	--stuic-color-border-active:                  color-mix(in oklab, var(--stuic-color-border), var(--stuic-color-foreground) 20%);

	--stuic-color-input:                          #ffffff;
	--stuic-color-input-hover:                    #f9fbfb;
	--stuic-color-input-active:                   color-mix(in oklab, var(--stuic-color-input), var(--stuic-color-foreground) 20%);

	--stuic-color-ring:                           rgba(79, 70, 229, 0.2);
	--stuic-color-ring-hover:                     rgba(79, 70, 229, 0.2);
	--stuic-color-ring-active:                    rgba(79, 70, 229, 0.2);
}

/* prettier-ignore */
:root.dark {
	--stuic-color-primary:                        #6366f1;
	--stuic-color-primary-hover:                  color-mix(in oklab, var(--stuic-color-primary), white 10%);
	--stuic-color-primary-active:                 color-mix(in oklab, var(--stuic-color-primary), white 20%);
	--stuic-color-primary-foreground:             #ffffff;
	--stuic-color-primary-foreground-hover:       #ffffff;
	--stuic-color-primary-foreground-active:      #ffffff;

	--stuic-color-accent:                         #0ea5e9;
	--stuic-color-accent-hover:                   color-mix(in oklab, var(--stuic-color-accent), white 10%);
	--stuic-color-accent-active:                  color-mix(in oklab, var(--stuic-color-accent), white 20%);
	--stuic-color-accent-foreground:              #ffffff;
	--stuic-color-accent-foreground-hover:        #ffffff;
	--stuic-color-accent-foreground-active:       #ffffff;

	--stuic-color-destructive:                    #f43f5e;
	--stuic-color-destructive-hover:              color-mix(in oklab, var(--stuic-color-destructive), white 10%);
	--stuic-color-destructive-active:             color-mix(in oklab, var(--stuic-color-destructive), white 20%);
	--stuic-color-destructive-foreground:         #ffffff;
	--stuic-color-destructive-foreground-hover:   #ffffff;
	--stuic-color-destructive-foreground-active:  #ffffff;

	--stuic-color-warning:                        #fbbf24;
	--stuic-color-warning-hover:                  color-mix(in oklab, var(--stuic-color-warning), white 10%);
	--stuic-color-warning-active:                 color-mix(in oklab, var(--stuic-color-warning), white 20%);
	--stuic-color-warning-foreground:             #000000;
	--stuic-color-warning-foreground-hover:       #000000;
	--stuic-color-warning-foreground-active:      #000000;

	--stuic-color-success:                        #10b981;
	--stuic-color-success-hover:                  color-mix(in oklab, var(--stuic-color-success), white 10%);
	--stuic-color-success-active:                 color-mix(in oklab, var(--stuic-color-success), white 20%);
	--stuic-color-success-foreground:             #000000;
	--stuic-color-success-foreground-hover:       #000000;
	--stuic-color-success-foreground-active:      #000000;

	--stuic-color-surface-primary:                color-mix(in srgb, var(--stuic-color-primary) 15%, var(--stuic-color-background));
	--stuic-color-surface-primary-foreground:     color-mix(in srgb, var(--stuic-color-primary), white 50%);
	--stuic-color-surface-primary-border:         color-mix(in srgb, var(--stuic-color-primary) 30%, var(--stuic-color-background));
	--stuic-color-surface-accent:                 color-mix(in srgb, var(--stuic-color-accent) 15%, var(--stuic-color-background));
	--stuic-color-surface-accent-foreground:      color-mix(in srgb, var(--stuic-color-accent), white 50%);
	--stuic-color-surface-accent-border:          color-mix(in srgb, var(--stuic-color-accent) 30%, var(--stuic-color-background));
	--stuic-color-surface-destructive:            color-mix(in srgb, var(--stuic-color-destructive) 15%, var(--stuic-color-background));
	--stuic-color-surface-destructive-foreground: color-mix(in srgb, var(--stuic-color-destructive), white 50%);
	--stuic-color-surface-destructive-border:     color-mix(in srgb, var(--stuic-color-destructive) 30%, var(--stuic-color-background));
	--stuic-color-surface-warning:                color-mix(in srgb, var(--stuic-color-warning) 15%, var(--stuic-color-background));
	--stuic-color-surface-warning-foreground:     color-mix(in srgb, var(--stuic-color-warning), white 50%);
	--stuic-color-surface-warning-border:         color-mix(in srgb, var(--stuic-color-warning) 30%, var(--stuic-color-background));
	--stuic-color-surface-success:                color-mix(in srgb, var(--stuic-color-success) 15%, var(--stuic-color-background));
	--stuic-color-surface-success-foreground:     color-mix(in srgb, var(--stuic-color-success), white 50%);
	--stuic-color-surface-success-border:         color-mix(in srgb, var(--stuic-color-success) 30%, var(--stuic-color-background));
	--stuic-color-surface:                        #394447;
	--stuic-color-surface-hover:                  color-mix(in oklab, var(--stuic-color-surface), var(--stuic-color-foreground) 10%);
	--stuic-color-surface-active:                 color-mix(in oklab, var(--stuic-color-surface), var(--stuic-color-foreground) 20%);
	--stuic-color-surface-foreground:             #d0d6d8;
	--stuic-color-surface-foreground-hover:       #d0d6d8;
	--stuic-color-surface-foreground-active:      #d0d6d8;
	--stuic-color-surface-1:                      #4b585b;
	--stuic-color-surface-1-hover:                color-mix(in oklab, var(--stuic-color-surface-1), var(--stuic-color-foreground) 10%);
	--stuic-color-surface-1-active:               color-mix(in oklab, var(--stuic-color-surface-1), var(--stuic-color-foreground) 20%);
	--stuic-color-surface-1-foreground:           #e3e7e8;
	--stuic-color-surface-1-foreground-hover:     #e3e7e8;
	--stuic-color-surface-1-foreground-active:    #e3e7e8;

	--stuic-color-background:                     #161b1d;
	--stuic-color-background-hover:               #161b1d;
	--stuic-color-background-active:              #161b1d;
	--stuic-color-background-foreground:          #f9fbfb;
	--stuic-color-background-foreground-hover:    #f9fbfb;
	--stuic-color-background-foreground-active:   #f9fbfb;

	--stuic-color-muted:                          #22292b;
	--stuic-color-muted-hover:                    color-mix(in oklab, var(--stuic-color-muted), var(--stuic-color-foreground) 10%);
	--stuic-color-muted-active:                   color-mix(in oklab, var(--stuic-color-muted), var(--stuic-color-foreground) 20%);
	--stuic-color-muted-foreground:               #9ca8ab;
	--stuic-color-muted-foreground-hover:         #9ca8ab;
	--stuic-color-muted-foreground-active:        #9ca8ab;

	--stuic-color-foreground:                     #f9fbfb;
	--stuic-color-foreground-hover:               #f9fbfb;
	--stuic-color-foreground-active:              #f9fbfb;

	--stuic-color-border:                         #394447;
	--stuic-color-border-hover:                   color-mix(in oklab, var(--stuic-color-border), var(--stuic-color-foreground) 10%);
	--stuic-color-border-active:                  color-mix(in oklab, var(--stuic-color-border), var(--stuic-color-foreground) 20%);

	--stuic-color-input:                          #161b1d;
	--stuic-color-input-hover:                    #22292b;
	--stuic-color-input-active:                   color-mix(in oklab, var(--stuic-color-input), var(--stuic-color-foreground) 20%);

	--stuic-color-ring:                           rgba(129, 140, 248, 0.25);
	--stuic-color-ring-hover:                     rgba(129, 140, 248, 0.25);
	--stuic-color-ring-active:                    rgba(129, 140, 248, 0.25);
}

/* prettier-ignore */
@supports not (color: color-mix(in oklab, red, blue)) {
	:root {
		--stuic-color-primary-hover:                  #443cc7;
		--stuic-color-primary-active:                 #3832aa;

		--stuic-color-accent-hover:                   #0b8fcb;
		--stuic-color-accent-active:                  #0779ad;

		--stuic-color-destructive-hover:              #c4183d;
		--stuic-color-destructive-active:             #a71333;

		--stuic-color-warning-hover:                  #d58908;
		--stuic-color-warning-active:                 #b67406;

		--stuic-color-success-hover:                  #04825a;
		--stuic-color-success-active:                 #036e4c;

		--stuic-color-surface-primary:                #e0e0f8;
		--stuic-color-surface-primary-foreground:     #282373;
		--stuic-color-surface-primary-border:         #c6c5f4;
		--stuic-color-surface-accent:                 #d6eef8;
		--stuic-color-surface-accent-foreground:      #075375;
		--stuic-color-surface-accent-border:          #b3e1f6;
		--stuic-color-surface-destructive:            #f5dae0;
		--stuic-color-surface-destructive-foreground: #710f24;
		--stuic-color-surface-destructive-border:     #f2b8c5;
		--stuic-color-surface-warning:                #f8edd7;
		--stuic-color-surface-warning-foreground:     #7b4f06;
		--stuic-color-surface-warning-border:         #f8dfb3;
		--stuic-color-surface-success:                #d4ece5;
		--stuic-color-surface-success-foreground:     #034b35;
		--stuic-color-surface-success-border:         #b0ddcf;
		--stuic-color-surface-hover:                  #ccd0d1;
		--stuic-color-surface-active:                 #b5b9bb;
		--stuic-color-surface-1-hover:                #bbc1c3;
		--stuic-color-surface-1-active:               #a6acae;

		--stuic-color-muted-hover:                    #d8dbdb;
		--stuic-color-muted-active:                   #c0c3c3;

		--stuic-color-border-hover:                   #bbc1c3;
		--stuic-color-border-active:                  #a6acae;

		--stuic-color-input-active:                   #cacccc;
	}

	:root.dark {
		--stuic-color-primary-hover:                  #7077f4;
		--stuic-color-primary-active:                 #7d87f7;

		--stuic-color-accent-hover:                   #3faeec;
		--stuic-color-accent-active:                  #5bb8ef;

		--stuic-color-destructive-hover:              #f8596d;
		--stuic-color-destructive-active:             #fc6f7d;

		--stuic-color-warning-hover:                  #fcc64c;
		--stuic-color-warning-active:                 #fccd66;

		--stuic-color-success-hover:                  #43c08d;
		--stuic-color-success-active:                 #5fc899;

		--stuic-color-surface-primary:                #22263d;
		--stuic-color-surface-primary-foreground:     #b1b3f8;
		--stuic-color-surface-primary-border:         #2d315d;
		--stuic-color-surface-accent:                 #15303c;
		--stuic-color-surface-accent-foreground:      #87d2f4;
		--stuic-color-surface-accent-border:          #14445a;
		--stuic-color-surface-destructive:            #372027;
		--stuic-color-surface-destructive-foreground: #fa9faf;
		--stuic-color-surface-destructive-border:     #592631;
		--stuic-color-surface-warning:                #38341e;
		--stuic-color-surface-warning-foreground:     #fddf92;
		--stuic-color-surface-warning-border:         #5b4c1f;
		--stuic-color-surface-success:                #15332c;
		--stuic-color-surface-success-foreground:     #88dcc0;
		--stuic-color-surface-success-border:         #144a3b;
		--stuic-color-surface-hover:                  #4a5457;
		--stuic-color-surface-active:                 #5b6568;
		--stuic-color-surface-1-hover:                #5b676a;
		--stuic-color-surface-1-active:               #6b7679;

		--stuic-color-muted-hover:                    #343b3d;
		--stuic-color-muted-active:                   #474e4f;

		--stuic-color-border-hover:                   #4a5457;
		--stuic-color-border-active:                  #5b6568;

		--stuic-color-input-active:                   #3c4143;
	}
}
