/* prettier-ignore */
:root {
	--stuic-color-primary:                        #7c3aed;
	--stuic-color-primary-hover:                  color-mix(in oklab, var(--stuic-color-primary), black 10%);
	--stuic-color-primary-active:                 color-mix(in oklab, var(--stuic-color-primary), black 20%);
	--stuic-color-primary-foreground:             #ffffff;
	--stuic-color-primary-foreground-hover:       #ffffff;
	--stuic-color-primary-foreground-active:      #ffffff;

	--stuic-color-accent:                         #06b6d4;
	--stuic-color-accent-hover:                   color-mix(in oklab, var(--stuic-color-accent), black 10%);
	--stuic-color-accent-active:                  color-mix(in oklab, var(--stuic-color-accent), black 20%);
	--stuic-color-accent-foreground:              #ffffff;
	--stuic-color-accent-foreground-hover:        #ffffff;
	--stuic-color-accent-foreground-active:       #ffffff;

	--stuic-color-destructive:                    #e11d48;
	--stuic-color-destructive-hover:              color-mix(in oklab, var(--stuic-color-destructive), black 10%);
	--stuic-color-destructive-active:             color-mix(in oklab, var(--stuic-color-destructive), black 20%);
	--stuic-color-destructive-foreground:         #ffffff;
	--stuic-color-destructive-foreground-hover:   #ffffff;
	--stuic-color-destructive-foreground-active:  #ffffff;

	--stuic-color-warning:                        #f59e0b;
	--stuic-color-warning-hover:                  color-mix(in oklab, var(--stuic-color-warning), black 10%);
	--stuic-color-warning-active:                 color-mix(in oklab, var(--stuic-color-warning), black 20%);
	--stuic-color-warning-foreground:             #ffffff;
	--stuic-color-warning-foreground-hover:       #ffffff;
	--stuic-color-warning-foreground-active:      #ffffff;

	--stuic-color-success:                        #059669;
	--stuic-color-success-hover:                  color-mix(in oklab, var(--stuic-color-success), black 10%);
	--stuic-color-success-active:                 color-mix(in oklab, var(--stuic-color-success), black 20%);
	--stuic-color-success-foreground:             #ffffff;
	--stuic-color-success-foreground-hover:       #ffffff;
	--stuic-color-success-foreground-active:      #ffffff;

	--stuic-color-surface-primary:                color-mix(in srgb, var(--stuic-color-primary) 15%, var(--stuic-color-background));
	--stuic-color-surface-primary-foreground:     color-mix(in srgb, var(--stuic-color-primary), black 50%);
	--stuic-color-surface-primary-border:         color-mix(in srgb, var(--stuic-color-primary) 30%, var(--stuic-color-background));
	--stuic-color-surface-accent:                 color-mix(in srgb, var(--stuic-color-accent) 15%, var(--stuic-color-background));
	--stuic-color-surface-accent-foreground:      color-mix(in srgb, var(--stuic-color-accent), black 50%);
	--stuic-color-surface-accent-border:          color-mix(in srgb, var(--stuic-color-accent) 30%, var(--stuic-color-background));
	--stuic-color-surface-destructive:            color-mix(in srgb, var(--stuic-color-destructive) 15%, var(--stuic-color-background));
	--stuic-color-surface-destructive-foreground: color-mix(in srgb, var(--stuic-color-destructive), black 50%);
	--stuic-color-surface-destructive-border:     color-mix(in srgb, var(--stuic-color-destructive) 30%, var(--stuic-color-background));
	--stuic-color-surface-warning:                color-mix(in srgb, var(--stuic-color-warning) 15%, var(--stuic-color-background));
	--stuic-color-surface-warning-foreground:     color-mix(in srgb, var(--stuic-color-warning), black 50%);
	--stuic-color-surface-warning-border:         color-mix(in srgb, var(--stuic-color-warning) 30%, var(--stuic-color-background));
	--stuic-color-surface-success:                color-mix(in srgb, var(--stuic-color-success) 15%, var(--stuic-color-background));
	--stuic-color-surface-success-foreground:     color-mix(in srgb, var(--stuic-color-success), black 50%);
	--stuic-color-surface-success-border:         color-mix(in srgb, var(--stuic-color-success) 30%, var(--stuic-color-background));
	--stuic-color-surface:                        #e3e7e8;
	--stuic-color-surface-hover:                  color-mix(in oklab, var(--stuic-color-surface), var(--stuic-color-foreground) 10%);
	--stuic-color-surface-active:                 color-mix(in oklab, var(--stuic-color-surface), var(--stuic-color-foreground) 20%);
	--stuic-color-surface-foreground:             #161b1d;
	--stuic-color-surface-foreground-hover:       #161b1d;
	--stuic-color-surface-foreground-active:      #161b1d;
	--stuic-color-surface-1:                      #d0d6d8;
	--stuic-color-surface-1-hover:                color-mix(in oklab, var(--stuic-color-surface-1), var(--stuic-color-foreground) 10%);
	--stuic-color-surface-1-active:               color-mix(in oklab, var(--stuic-color-surface-1), var(--stuic-color-foreground) 20%);
	--stuic-color-surface-1-foreground:           #161b1d;
	--stuic-color-surface-1-foreground-hover:     #161b1d;
	--stuic-color-surface-1-foreground-active:    #161b1d;

	--stuic-color-background:                     #f9fbfb;
	--stuic-color-background-hover:               #f9fbfb;
	--stuic-color-background-active:              #f9fbfb;
	--stuic-color-background-foreground:          #161b1d;
	--stuic-color-background-foreground-hover:    #161b1d;
	--stuic-color-background-foreground-active:   #161b1d;

	--stuic-color-muted:                          #f1f3f3;
	--stuic-color-muted-hover:                    color-mix(in oklab, var(--stuic-color-muted), var(--stuic-color-foreground) 10%);
	--stuic-color-muted-active:                   color-mix(in oklab, var(--stuic-color-muted), var(--stuic-color-foreground) 20%);
	--stuic-color-muted-foreground:               #67787c;
	--stuic-color-muted-foreground-hover:         #67787c;
	--stuic-color-muted-foreground-active:        #67787c;

	--stuic-color-foreground:                     #161b1d;
	--stuic-color-foreground-hover:               #161b1d;
	--stuic-color-foreground-active:              #161b1d;

	--stuic-color-border:                         #d0d6d8;
	--stuic-color-border-hover:                   color-mix(in oklab, var(--stuic-color-border), var(--stuic-color-foreground) 10%);
	--stuic-color-border-active:                  color-mix(in oklab, var(--stuic-color-border), var(--stuic-color-foreground) 20%);

	--stuic-color-input:                          #ffffff;
	--stuic-color-input-hover:                    #f9fbfb;
	--stuic-color-input-active:                   color-mix(in oklab, var(--stuic-color-input), var(--stuic-color-foreground) 20%);

	--stuic-color-ring:                           rgba(139, 92, 246, 0.2);
	--stuic-color-ring-hover:                     rgba(139, 92, 246, 0.2);
	--stuic-color-ring-active:                    rgba(139, 92, 246, 0.2);
}

/* prettier-ignore */
:root.dark {
	--stuic-color-primary:                        #8b5cf6;
	--stuic-color-primary-hover:                  color-mix(in oklab, var(--stuic-color-primary), white 10%);
	--stuic-color-primary-active:                 color-mix(in oklab, var(--stuic-color-primary), white 20%);
	--stuic-color-primary-foreground:             #ffffff;
	--stuic-color-primary-foreground-hover:       #ffffff;
	--stuic-color-primary-foreground-active:      #ffffff;

	--stuic-color-accent:                         #06b6d4;
	--stuic-color-accent-hover:                   color-mix(in oklab, var(--stuic-color-accent), white 10%);
	--stuic-color-accent-active:                  color-mix(in oklab, var(--stuic-color-accent), white 20%);
	--stuic-color-accent-foreground:              #000000;
	--stuic-color-accent-foreground-hover:        #000000;
	--stuic-color-accent-foreground-active:       #000000;

	--stuic-color-destructive:                    #f43f5e;
	--stuic-color-destructive-hover:              color-mix(in oklab, var(--stuic-color-destructive), white 10%);
	--stuic-color-destructive-active:             color-mix(in oklab, var(--stuic-color-destructive), white 20%);
	--stuic-color-destructive-foreground:         #ffffff;
	--stuic-color-destructive-foreground-hover:   #ffffff;
	--stuic-color-destructive-foreground-active:  #ffffff;

	--stuic-color-warning:                        #fbbf24;
	--stuic-color-warning-hover:                  color-mix(in oklab, var(--stuic-color-warning), white 10%);
	--stuic-color-warning-active:                 color-mix(in oklab, var(--stuic-color-warning), white 20%);
	--stuic-color-warning-foreground:             #000000;
	--stuic-color-warning-foreground-hover:       #000000;
	--stuic-color-warning-foreground-active:      #000000;

	--stuic-color-success:                        #10b981;
	--stuic-color-success-hover:                  color-mix(in oklab, var(--stuic-color-success), white 10%);
	--stuic-color-success-active:                 color-mix(in oklab, var(--stuic-color-success), white 20%);
	--stuic-color-success-foreground:             #000000;
	--stuic-color-success-foreground-hover:       #000000;
	--stuic-color-success-foreground-active:      #000000;

	--stuic-color-surface-primary:                color-mix(in srgb, var(--stuic-color-primary) 15%, var(--stuic-color-background));
	--stuic-color-surface-primary-foreground:     color-mix(in srgb, var(--stuic-color-primary), white 50%);
	--stuic-color-surface-primary-border:         color-mix(in srgb, var(--stuic-color-primary) 30%, var(--stuic-color-background));
	--stuic-color-surface-accent:                 color-mix(in srgb, var(--stuic-color-accent) 15%, var(--stuic-color-background));
	--stuic-color-surface-accent-foreground:      color-mix(in srgb, var(--stuic-color-accent), white 50%);
	--stuic-color-surface-accent-border:          color-mix(in srgb, var(--stuic-color-accent) 30%, var(--stuic-color-background));
	--stuic-color-surface-destructive:            color-mix(in srgb, var(--stuic-color-destructive) 15%, var(--stuic-color-background));
	--stuic-color-surface-destructive-foreground: color-mix(in srgb, var(--stuic-color-destructive), white 50%);
	--stuic-color-surface-destructive-border:     color-mix(in srgb, var(--stuic-color-destructive) 30%, var(--stuic-color-background));
	--stuic-color-surface-warning:                color-mix(in srgb, var(--stuic-color-warning) 15%, var(--stuic-color-background));
	--stuic-color-surface-warning-foreground:     color-mix(in srgb, var(--stuic-color-warning), white 50%);
	--stuic-color-surface-warning-border:         color-mix(in srgb, var(--stuic-color-warning) 30%, var(--stuic-color-background));
	--stuic-color-surface-success:                color-mix(in srgb, var(--stuic-color-success) 15%, var(--stuic-color-background));
	--stuic-color-surface-success-foreground:     color-mix(in srgb, var(--stuic-color-success), white 50%);
	--stuic-color-surface-success-border:         color-mix(in srgb, var(--stuic-color-success) 30%, var(--stuic-color-background));
	--stuic-color-surface:                        #22292b;
	--stuic-color-surface-hover:                  color-mix(in oklab, var(--stuic-color-surface), var(--stuic-color-foreground) 10%);
	--stuic-color-surface-active:                 color-mix(in oklab, var(--stuic-color-surface), var(--stuic-color-foreground) 20%);
	--stuic-color-surface-foreground:             #9ca8ab;
	--stuic-color-surface-foreground-hover:       #9ca8ab;
	--stuic-color-surface-foreground-active:      #9ca8ab;
	--stuic-color-surface-1:                      #394447;
	--stuic-color-surface-1-hover:                color-mix(in oklab, var(--stuic-color-surface-1), var(--stuic-color-foreground) 10%);
	--stuic-color-surface-1-active:               color-mix(in oklab, var(--stuic-color-surface-1), var(--stuic-color-foreground) 20%);
	--stuic-color-surface-1-foreground:           #d0d6d8;
	--stuic-color-surface-1-foreground-hover:     #d0d6d8;
	--stuic-color-surface-1-foreground-active:    #d0d6d8;

	--stuic-color-background:                     #090b0c;
	--stuic-color-background-hover:               #090b0c;
	--stuic-color-background-active:              #090b0c;
	--stuic-color-background-foreground:          #f9fbfb;
	--stuic-color-background-foreground-hover:    #f9fbfb;
	--stuic-color-background-foreground-active:   #f9fbfb;

	--stuic-color-muted:                          #161b1d;
	--stuic-color-muted-hover:                    color-mix(in oklab, var(--stuic-color-muted), var(--stuic-color-foreground) 10%);
	--stuic-color-muted-active:                   color-mix(in oklab, var(--stuic-color-muted), var(--stuic-color-foreground) 20%);
	--stuic-color-muted-foreground:               #67787c;
	--stuic-color-muted-foreground-hover:         #67787c;
	--stuic-color-muted-foreground-active:        #67787c;

	--stuic-color-foreground:                     #f9fbfb;
	--stuic-color-foreground-hover:               #f9fbfb;
	--stuic-color-foreground-active:              #f9fbfb;

	--stuic-color-border:                         #394447;
	--stuic-color-border-hover:                   color-mix(in oklab, var(--stuic-color-border), var(--stuic-color-foreground) 10%);
	--stuic-color-border-active:                  color-mix(in oklab, var(--stuic-color-border), var(--stuic-color-foreground) 20%);

	--stuic-color-input:                          #090b0c;
	--stuic-color-input-hover:                    #161b1d;
	--stuic-color-input-active:                   color-mix(in oklab, var(--stuic-color-input), var(--stuic-color-foreground) 20%);

	--stuic-color-ring:                           rgba(167, 139, 250, 0.25);
	--stuic-color-ring-hover:                     rgba(167, 139, 250, 0.25);
	--stuic-color-ring-active:                    rgba(167, 139, 250, 0.25);
}

/* prettier-ignore */
@supports not (color: color-mix(in oklab, red, blue)) {
	:root {
		--stuic-color-primary-hover:                  #6b31ce;
		--stuic-color-primary-active:                 #5a28b0;

		--stuic-color-accent-hover:                   #049eb8;
		--stuic-color-accent-active:                  #03869d;

		--stuic-color-destructive-hover:              #c4183d;
		--stuic-color-destructive-active:             #a71333;

		--stuic-color-warning-hover:                  #d58908;
		--stuic-color-warning-active:                 #b67406;

		--stuic-color-success-hover:                  #04825a;
		--stuic-color-success-active:                 #036e4c;

		--stuic-color-surface-primary:                #e6def9;
		--stuic-color-surface-primary-foreground:     #3e1d77;
		--stuic-color-surface-primary-border:         #d3c1f7;
		--stuic-color-surface-accent:                 #d5f1f5;
		--stuic-color-surface-accent-foreground:      #035b6a;
		--stuic-color-surface-accent-border:          #b0e6ef;
		--stuic-color-surface-destructive:            #f5dae0;
		--stuic-color-surface-destructive-foreground: #710f24;
		--stuic-color-surface-destructive-border:     #f2b8c5;
		--stuic-color-surface-warning:                #f8edd7;
		--stuic-color-surface-warning-foreground:     #7b4f06;
		--stuic-color-surface-warning-border:         #f8dfb3;
		--stuic-color-surface-success:                #d4ece5;
		--stuic-color-surface-success-foreground:     #034b35;
		--stuic-color-surface-success-border:         #b0ddcf;
		--stuic-color-surface-hover:                  #ccd0d1;
		--stuic-color-surface-active:                 #b5b9bb;
		--stuic-color-surface-1-hover:                #bbc1c3;
		--stuic-color-surface-1-active:               #a6acae;

		--stuic-color-muted-hover:                    #d8dbdb;
		--stuic-color-muted-active:                   #c0c3c3;

		--stuic-color-border-hover:                   #bbc1c3;
		--stuic-color-border-active:                  #a6acae;

		--stuic-color-input-active:                   #cacccc;
	}

	:root.dark {
		--stuic-color-primary-hover:                  #956ff8;
		--stuic-color-primary-active:                 #9f81fb;

		--stuic-color-accent-hover:                   #41bed9;
		--stuic-color-accent-active:                  #5fc5dd;

		--stuic-color-destructive-hover:              #f8596d;
		--stuic-color-destructive-active:             #fc6f7d;

		--stuic-color-warning-hover:                  #fcc64c;
		--stuic-color-warning-active:                 #fccd66;

		--stuic-color-success-hover:                  #43c08d;
		--stuic-color-success-active:                 #5fc899;

		--stuic-color-surface-primary:                #1c172f;
		--stuic-color-surface-primary-foreground:     #c5aefb;
		--stuic-color-surface-primary-border:         #302352;
		--stuic-color-surface-accent:                 #09252a;
		--stuic-color-surface-accent-foreground:      #83dbea;
		--stuic-color-surface-accent-border:          #083e48;
		--stuic-color-surface-destructive:            #2c1318;
		--stuic-color-surface-destructive-foreground: #fa9faf;
		--stuic-color-surface-destructive-border:     #501b25;
		--stuic-color-surface-warning:                #2d2610;
		--stuic-color-surface-warning-foreground:     #fddf92;
		--stuic-color-surface-warning-border:         #524113;
		--stuic-color-surface-success:                #0a251e;
		--stuic-color-surface-success-foreground:     #88dcc0;
		--stuic-color-surface-success-border:         #0b3f2f;
		--stuic-color-surface-hover:                  #343b3d;
		--stuic-color-surface-active:                 #474e4f;
		--stuic-color-surface-1-hover:                #4a5457;
		--stuic-color-surface-1-active:               #5b6568;

		--stuic-color-muted-hover:                    #282d2f;
		--stuic-color-muted-active:                   #3c4143;

		--stuic-color-border-hover:                   #4a5457;
		--stuic-color-border-active:                  #5b6568;

		--stuic-color-input-active:                   #303233;
	}
}
