/* prettier-ignore */
:root {
	--stuic-color-primary:                        #c026d3;
	--stuic-color-primary-hover:                  color-mix(in oklab, var(--stuic-color-primary), black 10%);
	--stuic-color-primary-active:                 color-mix(in oklab, var(--stuic-color-primary), black 20%);
	--stuic-color-primary-foreground:             #ffffff;
	--stuic-color-primary-foreground-hover:       #ffffff;
	--stuic-color-primary-foreground-active:      #ffffff;

	--stuic-color-accent:                         #22d3ee;
	--stuic-color-accent-hover:                   color-mix(in oklab, var(--stuic-color-accent), black 10%);
	--stuic-color-accent-active:                  color-mix(in oklab, var(--stuic-color-accent), black 20%);
	--stuic-color-accent-foreground:              #083344;
	--stuic-color-accent-foreground-hover:        #083344;
	--stuic-color-accent-foreground-active:       #083344;

	--stuic-color-destructive:                    #dc2626;
	--stuic-color-destructive-hover:              color-mix(in oklab, var(--stuic-color-destructive), black 10%);
	--stuic-color-destructive-active:             color-mix(in oklab, var(--stuic-color-destructive), black 20%);
	--stuic-color-destructive-foreground:         #ffffff;
	--stuic-color-destructive-foreground-hover:   #ffffff;
	--stuic-color-destructive-foreground-active:  #ffffff;

	--stuic-color-warning:                        #f59e0b;
	--stuic-color-warning-hover:                  color-mix(in oklab, var(--stuic-color-warning), black 10%);
	--stuic-color-warning-active:                 color-mix(in oklab, var(--stuic-color-warning), black 20%);
	--stuic-color-warning-foreground:             #ffffff;
	--stuic-color-warning-foreground-hover:       #ffffff;
	--stuic-color-warning-foreground-active:      #ffffff;

	--stuic-color-success:                        #059669;
	--stuic-color-success-hover:                  color-mix(in oklab, var(--stuic-color-success), black 10%);
	--stuic-color-success-active:                 color-mix(in oklab, var(--stuic-color-success), black 20%);
	--stuic-color-success-foreground:             #ffffff;
	--stuic-color-success-foreground-hover:       #ffffff;
	--stuic-color-success-foreground-active:      #ffffff;

	--stuic-color-surface-primary:                color-mix(in srgb, var(--stuic-color-primary) 15%, var(--stuic-color-background));
	--stuic-color-surface-primary-foreground:     color-mix(in srgb, var(--stuic-color-primary), black 50%);
	--stuic-color-surface-primary-border:         color-mix(in srgb, var(--stuic-color-primary) 30%, var(--stuic-color-background));
	--stuic-color-surface-accent:                 color-mix(in srgb, var(--stuic-color-accent) 15%, var(--stuic-color-background));
	--stuic-color-surface-accent-foreground:      color-mix(in srgb, var(--stuic-color-accent), black 50%);
	--stuic-color-surface-accent-border:          color-mix(in srgb, var(--stuic-color-accent) 30%, var(--stuic-color-background));
	--stuic-color-surface-destructive:            color-mix(in srgb, var(--stuic-color-destructive) 15%, var(--stuic-color-background));
	--stuic-color-surface-destructive-foreground: color-mix(in srgb, var(--stuic-color-destructive), black 50%);
	--stuic-color-surface-destructive-border:     color-mix(in srgb, var(--stuic-color-destructive) 30%, var(--stuic-color-background));
	--stuic-color-surface-warning:                color-mix(in srgb, var(--stuic-color-warning) 15%, var(--stuic-color-background));
	--stuic-color-surface-warning-foreground:     color-mix(in srgb, var(--stuic-color-warning), black 50%);
	--stuic-color-surface-warning-border:         color-mix(in srgb, var(--stuic-color-warning) 30%, var(--stuic-color-background));
	--stuic-color-surface-success:                color-mix(in srgb, var(--stuic-color-success) 15%, var(--stuic-color-background));
	--stuic-color-surface-success-foreground:     color-mix(in srgb, var(--stuic-color-success), black 50%);
	--stuic-color-surface-success-border:         color-mix(in srgb, var(--stuic-color-success) 30%, var(--stuic-color-background));
	--stuic-color-surface:                        #ddd6fe;
	--stuic-color-surface-hover:                  color-mix(in oklab, var(--stuic-color-surface), var(--stuic-color-foreground) 10%);
	--stuic-color-surface-active:                 color-mix(in oklab, var(--stuic-color-surface), var(--stuic-color-foreground) 20%);
	--stuic-color-surface-foreground:             #2e1065;
	--stuic-color-surface-foreground-hover:       #2e1065;
	--stuic-color-surface-foreground-active:      #2e1065;
	--stuic-color-surface-1:                      #c4b5fd;
	--stuic-color-surface-1-hover:                color-mix(in oklab, var(--stuic-color-surface-1), var(--stuic-color-foreground) 10%);
	--stuic-color-surface-1-active:               color-mix(in oklab, var(--stuic-color-surface-1), var(--stuic-color-foreground) 20%);
	--stuic-color-surface-1-foreground:           #2e1065;
	--stuic-color-surface-1-foreground-hover:     #2e1065;
	--stuic-color-surface-1-foreground-active:    #2e1065;

	--stuic-color-background:                     #f5f3ff;
	--stuic-color-background-hover:               #f5f3ff;
	--stuic-color-background-active:              #f5f3ff;
	--stuic-color-background-foreground:          #2e1065;
	--stuic-color-background-foreground-hover:    #2e1065;
	--stuic-color-background-foreground-active:   #2e1065;

	--stuic-color-muted:                          #ede9fe;
	--stuic-color-muted-hover:                    color-mix(in oklab, var(--stuic-color-muted), var(--stuic-color-foreground) 10%);
	--stuic-color-muted-active:                   color-mix(in oklab, var(--stuic-color-muted), var(--stuic-color-foreground) 20%);
	--stuic-color-muted-foreground:               #7c3aed;
	--stuic-color-muted-foreground-hover:         #7c3aed;
	--stuic-color-muted-foreground-active:        #7c3aed;

	--stuic-color-foreground:                     #2e1065;
	--stuic-color-foreground-hover:               #2e1065;
	--stuic-color-foreground-active:              #2e1065;

	--stuic-color-border:                         #c4b5fd;
	--stuic-color-border-hover:                   color-mix(in oklab, var(--stuic-color-border), var(--stuic-color-foreground) 10%);
	--stuic-color-border-active:                  color-mix(in oklab, var(--stuic-color-border), var(--stuic-color-foreground) 20%);

	--stuic-color-input:                          #ffffff;
	--stuic-color-input-hover:                    #f5f3ff;
	--stuic-color-input-active:                   color-mix(in oklab, var(--stuic-color-input), var(--stuic-color-foreground) 20%);

	--stuic-color-ring:                           rgba(192, 38, 211, 0.2);
	--stuic-color-ring-hover:                     rgba(192, 38, 211, 0.2);
	--stuic-color-ring-active:                    rgba(192, 38, 211, 0.2);
}

/* prettier-ignore */
:root.dark {
	--stuic-color-primary:                        #d946ef;
	--stuic-color-primary-hover:                  color-mix(in oklab, var(--stuic-color-primary), white 10%);
	--stuic-color-primary-active:                 color-mix(in oklab, var(--stuic-color-primary), white 20%);
	--stuic-color-primary-foreground:             #ffffff;
	--stuic-color-primary-foreground-hover:       #ffffff;
	--stuic-color-primary-foreground-active:      #ffffff;

	--stuic-color-accent:                         #22d3ee;
	--stuic-color-accent-hover:                   color-mix(in oklab, var(--stuic-color-accent), white 10%);
	--stuic-color-accent-active:                  color-mix(in oklab, var(--stuic-color-accent), white 20%);
	--stuic-color-accent-foreground:              #083344;
	--stuic-color-accent-foreground-hover:        #083344;
	--stuic-color-accent-foreground-active:       #083344;

	--stuic-color-destructive:                    #ef4444;
	--stuic-color-destructive-hover:              color-mix(in oklab, var(--stuic-color-destructive), white 10%);
	--stuic-color-destructive-active:             color-mix(in oklab, var(--stuic-color-destructive), white 20%);
	--stuic-color-destructive-foreground:         #ffffff;
	--stuic-color-destructive-foreground-hover:   #ffffff;
	--stuic-color-destructive-foreground-active:  #ffffff;

	--stuic-color-warning:                        #fbbf24;
	--stuic-color-warning-hover:                  color-mix(in oklab, var(--stuic-color-warning), white 10%);
	--stuic-color-warning-active:                 color-mix(in oklab, var(--stuic-color-warning), white 20%);
	--stuic-color-warning-foreground:             #000000;
	--stuic-color-warning-foreground-hover:       #000000;
	--stuic-color-warning-foreground-active:      #000000;

	--stuic-color-success:                        #10b981;
	--stuic-color-success-hover:                  color-mix(in oklab, var(--stuic-color-success), white 10%);
	--stuic-color-success-active:                 color-mix(in oklab, var(--stuic-color-success), white 20%);
	--stuic-color-success-foreground:             #000000;
	--stuic-color-success-foreground-hover:       #000000;
	--stuic-color-success-foreground-active:      #000000;

	--stuic-color-surface-primary:                color-mix(in srgb, var(--stuic-color-primary) 15%, var(--stuic-color-background));
	--stuic-color-surface-primary-foreground:     color-mix(in srgb, var(--stuic-color-primary), white 50%);
	--stuic-color-surface-primary-border:         color-mix(in srgb, var(--stuic-color-primary) 30%, var(--stuic-color-background));
	--stuic-color-surface-accent:                 color-mix(in srgb, var(--stuic-color-accent) 15%, var(--stuic-color-background));
	--stuic-color-surface-accent-foreground:      color-mix(in srgb, var(--stuic-color-accent), white 50%);
	--stuic-color-surface-accent-border:          color-mix(in srgb, var(--stuic-color-accent) 30%, var(--stuic-color-background));
	--stuic-color-surface-destructive:            color-mix(in srgb, var(--stuic-color-destructive) 15%, var(--stuic-color-background));
	--stuic-color-surface-destructive-foreground: color-mix(in srgb, var(--stuic-color-destructive), white 50%);
	--stuic-color-surface-destructive-border:     color-mix(in srgb, var(--stuic-color-destructive) 30%, var(--stuic-color-background));
	--stuic-color-surface-warning:                color-mix(in srgb, var(--stuic-color-warning) 15%, var(--stuic-color-background));
	--stuic-color-surface-warning-foreground:     color-mix(in srgb, var(--stuic-color-warning), white 50%);
	--stuic-color-surface-warning-border:         color-mix(in srgb, var(--stuic-color-warning) 30%, var(--stuic-color-background));
	--stuic-color-surface-success:                color-mix(in srgb, var(--stuic-color-success) 15%, var(--stuic-color-background));
	--stuic-color-surface-success-foreground:     color-mix(in srgb, var(--stuic-color-success), white 50%);
	--stuic-color-surface-success-border:         color-mix(in srgb, var(--stuic-color-success) 30%, var(--stuic-color-background));
	--stuic-color-surface:                        #3730a3;
	--stuic-color-surface-hover:                  color-mix(in oklab, var(--stuic-color-surface), var(--stuic-color-foreground) 10%);
	--stuic-color-surface-active:                 color-mix(in oklab, var(--stuic-color-surface), var(--stuic-color-foreground) 20%);
	--stuic-color-surface-foreground:             #c7d2fe;
	--stuic-color-surface-foreground-hover:       #c7d2fe;
	--stuic-color-surface-foreground-active:      #c7d2fe;
	--stuic-color-surface-1:                      #4338ca;
	--stuic-color-surface-1-hover:                color-mix(in oklab, var(--stuic-color-surface-1), var(--stuic-color-foreground) 10%);
	--stuic-color-surface-1-active:               color-mix(in oklab, var(--stuic-color-surface-1), var(--stuic-color-foreground) 20%);
	--stuic-color-surface-1-foreground:           #e0e7ff;
	--stuic-color-surface-1-foreground-hover:     #e0e7ff;
	--stuic-color-surface-1-foreground-active:    #e0e7ff;

	--stuic-color-background:                     #1e1b4b;
	--stuic-color-background-hover:               #1e1b4b;
	--stuic-color-background-active:              #1e1b4b;
	--stuic-color-background-foreground:          #eef2ff;
	--stuic-color-background-foreground-hover:    #eef2ff;
	--stuic-color-background-foreground-active:   #eef2ff;

	--stuic-color-muted:                          #312e81;
	--stuic-color-muted-hover:                    color-mix(in oklab, var(--stuic-color-muted), var(--stuic-color-foreground) 10%);
	--stuic-color-muted-active:                   color-mix(in oklab, var(--stuic-color-muted), var(--stuic-color-foreground) 20%);
	--stuic-color-muted-foreground:               #a5b4fc;
	--stuic-color-muted-foreground-hover:         #a5b4fc;
	--stuic-color-muted-foreground-active:        #a5b4fc;

	--stuic-color-foreground:                     #eef2ff;
	--stuic-color-foreground-hover:               #eef2ff;
	--stuic-color-foreground-active:              #eef2ff;

	--stuic-color-border:                         #3730a3;
	--stuic-color-border-hover:                   color-mix(in oklab, var(--stuic-color-border), var(--stuic-color-foreground) 10%);
	--stuic-color-border-active:                  color-mix(in oklab, var(--stuic-color-border), var(--stuic-color-foreground) 20%);

	--stuic-color-input:                          #1e1b4b;
	--stuic-color-input-hover:                    #312e81;
	--stuic-color-input-active:                   color-mix(in oklab, var(--stuic-color-input), var(--stuic-color-foreground) 20%);

	--stuic-color-ring:                           rgba(232, 121, 249, 0.25);
	--stuic-color-ring-hover:                     rgba(232, 121, 249, 0.25);
	--stuic-color-ring-active:                    rgba(232, 121, 249, 0.25);
}

/* prettier-ignore */
@supports not (color: color-mix(in oklab, red, blue)) {
	:root {
		--stuic-color-primary-hover:                  #a720b7;
		--stuic-color-primary-active:                 #8e199c;

		--stuic-color-accent-hover:                   #1cb7cf;
		--stuic-color-accent-active:                  #169cb1;

		--stuic-color-destructive-hover:              #bf2020;
		--stuic-color-destructive-active:             #a31919;

		--stuic-color-warning-hover:                  #d58908;
		--stuic-color-warning-active:                 #b67406;

		--stuic-color-success-hover:                  #04825a;
		--stuic-color-success-active:                 #036e4c;

		--stuic-color-surface-primary:                #edd4f8;
		--stuic-color-surface-primary-foreground:     #60136a;
		--stuic-color-surface-primary-border:         #e5b5f2;
		--stuic-color-surface-accent:                 #d5eefc;
		--stuic-color-surface-accent-foreground:      #116a77;
		--stuic-color-surface-accent-border:          #b6e9fa;
		--stuic-color-surface-destructive:            #f1d4de;
		--stuic-color-surface-destructive-foreground: #6e1313;
		--stuic-color-surface-destructive-border:     #eeb5be;
		--stuic-color-surface-warning:                #f5e6da;
		--stuic-color-surface-warning-foreground:     #7b4f06;
		--stuic-color-surface-warning-border:         #f5dab6;
		--stuic-color-surface-success:                #d1e5e9;
		--stuic-color-surface-success-foreground:     #034b35;
		--stuic-color-surface-success-border:         #add7d2;
		--stuic-color-surface-hover:                  #c9c1ee;
		--stuic-color-surface-active:                 #b6addf;
		--stuic-color-surface-1-hover:                #b3a4ed;
		--stuic-color-surface-1-active:               #a393dd;

		--stuic-color-muted-hover:                    #d7d2ef;
		--stuic-color-muted-active:                   #c2bcdf;

		--stuic-color-border-hover:                   #b3a4ed;
		--stuic-color-border-active:                  #a393dd;

		--stuic-color-input-active:                   #cfcde1;
	}

	:root.dark {
		--stuic-color-primary-hover:                  #de5ff2;
		--stuic-color-primary-active:                 #e374f4;

		--stuic-color-accent-hover:                   #4fd8f0;
		--stuic-color-accent-active:                  #6bddf2;

		--stuic-color-destructive-hover:              #f45c57;
		--stuic-color-destructive-active:             #f8716a;

		--stuic-color-warning-hover:                  #fcc64c;
		--stuic-color-warning-active:                 #fccd66;

		--stuic-color-success-hover:                  #43c08d;
		--stuic-color-success-active:                 #5fc899;

		--stuic-color-surface-primary:                #3a2164;
		--stuic-color-surface-primary-foreground:     #eca3f7;
		--stuic-color-surface-primary-border:         #56287c;
		--stuic-color-surface-accent:                 #1f3763;
		--stuic-color-surface-accent-foreground:      #91e9f7;
		--stuic-color-surface-accent-border:          #1f527c;
		--stuic-color-surface-destructive:            #3d214a;
		--stuic-color-surface-destructive-foreground: #f7a2a2;
		--stuic-color-surface-destructive-border:     #5d2749;
		--stuic-color-surface-warning:                #3f3445;
		--stuic-color-surface-warning-foreground:     #fddf92;
		--stuic-color-surface-warning-border:         #604c3f;
		--stuic-color-surface-success:                #1c3353;
		--stuic-color-surface-success-foreground:     #88dcc0;
		--stuic-color-surface-success-border:         #1a4a5b;
		--stuic-color-surface-hover:                  #4546ad;
		--stuic-color-surface-active:                 #545ab8;
		--stuic-color-surface-1-hover:                #4f4fd1;
		--stuic-color-surface-1-active:               #5d63d8;

		--stuic-color-muted-hover:                    #40428e;
		--stuic-color-muted-active:                   #50559b;

		--stuic-color-border-hover:                   #4546ad;
		--stuic-color-border-active:                  #545ab8;

		--stuic-color-input-active:                   #40426d;
	}
}
