/* prettier-ignore */
:root {
	--stuic-color-primary:                        #2b2b22;
	--stuic-color-primary-hover:                  color-mix(in oklab, var(--stuic-color-primary), black 10%);
	--stuic-color-primary-active:                 color-mix(in oklab, var(--stuic-color-primary), black 20%);
	--stuic-color-primary-foreground:             #ffffff;
	--stuic-color-primary-foreground-hover:       #ffffff;
	--stuic-color-primary-foreground-active:      #ffffff;

	--stuic-color-accent:                         #7c7c67;
	--stuic-color-accent-hover:                   color-mix(in oklab, var(--stuic-color-accent), black 10%);
	--stuic-color-accent-active:                  color-mix(in oklab, var(--stuic-color-accent), black 20%);
	--stuic-color-accent-foreground:              #ffffff;
	--stuic-color-accent-foreground-hover:        #ffffff;
	--stuic-color-accent-foreground-active:       #ffffff;

	--stuic-color-destructive:                    #7c7c67;
	--stuic-color-destructive-hover:              color-mix(in oklab, var(--stuic-color-destructive), black 10%);
	--stuic-color-destructive-active:             color-mix(in oklab, var(--stuic-color-destructive), black 20%);
	--stuic-color-destructive-foreground:         #ffffff;
	--stuic-color-destructive-foreground-hover:   #ffffff;
	--stuic-color-destructive-foreground-active:  #ffffff;

	--stuic-color-warning:                        #abab9c;
	--stuic-color-warning-hover:                  color-mix(in oklab, var(--stuic-color-warning), black 10%);
	--stuic-color-warning-active:                 color-mix(in oklab, var(--stuic-color-warning), black 20%);
	--stuic-color-warning-foreground:             #000000;
	--stuic-color-warning-foreground-hover:       #000000;
	--stuic-color-warning-foreground-active:      #000000;

	--stuic-color-success:                        #7c7c67;
	--stuic-color-success-hover:                  color-mix(in oklab, var(--stuic-color-success), black 10%);
	--stuic-color-success-active:                 color-mix(in oklab, var(--stuic-color-success), black 20%);
	--stuic-color-success-foreground:             #ffffff;
	--stuic-color-success-foreground-hover:       #ffffff;
	--stuic-color-success-foreground-active:      #ffffff;

	--stuic-color-surface-primary:                color-mix(in srgb, var(--stuic-color-primary) 15%, var(--stuic-color-background));
	--stuic-color-surface-primary-foreground:     color-mix(in srgb, var(--stuic-color-primary), black 50%);
	--stuic-color-surface-primary-border:         color-mix(in srgb, var(--stuic-color-primary) 30%, var(--stuic-color-background));
	--stuic-color-surface-accent:                 color-mix(in srgb, var(--stuic-color-accent) 15%, var(--stuic-color-background));
	--stuic-color-surface-accent-foreground:      color-mix(in srgb, var(--stuic-color-accent), black 50%);
	--stuic-color-surface-accent-border:          color-mix(in srgb, var(--stuic-color-accent) 30%, var(--stuic-color-background));
	--stuic-color-surface-destructive:            color-mix(in srgb, var(--stuic-color-destructive) 15%, var(--stuic-color-background));
	--stuic-color-surface-destructive-foreground: color-mix(in srgb, var(--stuic-color-destructive), black 50%);
	--stuic-color-surface-destructive-border:     color-mix(in srgb, var(--stuic-color-destructive) 30%, var(--stuic-color-background));
	--stuic-color-surface-warning:                color-mix(in srgb, var(--stuic-color-warning) 15%, var(--stuic-color-background));
	--stuic-color-surface-warning-foreground:     color-mix(in srgb, var(--stuic-color-warning), black 50%);
	--stuic-color-surface-warning-border:         color-mix(in srgb, var(--stuic-color-warning) 30%, var(--stuic-color-background));
	--stuic-color-surface-success:                color-mix(in srgb, var(--stuic-color-success) 15%, var(--stuic-color-background));
	--stuic-color-surface-success-foreground:     color-mix(in srgb, var(--stuic-color-success), black 50%);
	--stuic-color-surface-success-border:         color-mix(in srgb, var(--stuic-color-success) 30%, var(--stuic-color-background));
	--stuic-color-surface:                        #e8e8e3;
	--stuic-color-surface-hover:                  color-mix(in oklab, var(--stuic-color-surface), var(--stuic-color-foreground) 10%);
	--stuic-color-surface-active:                 color-mix(in oklab, var(--stuic-color-surface), var(--stuic-color-foreground) 20%);
	--stuic-color-surface-foreground:             #1d1d16;
	--stuic-color-surface-foreground-hover:       #1d1d16;
	--stuic-color-surface-foreground-active:      #1d1d16;
	--stuic-color-surface-1:                      #d8d8d0;
	--stuic-color-surface-1-hover:                color-mix(in oklab, var(--stuic-color-surface-1), var(--stuic-color-foreground) 10%);
	--stuic-color-surface-1-active:               color-mix(in oklab, var(--stuic-color-surface-1), var(--stuic-color-foreground) 20%);
	--stuic-color-surface-1-foreground:           #1d1d16;
	--stuic-color-surface-1-foreground-hover:     #1d1d16;
	--stuic-color-surface-1-foreground-active:    #1d1d16;

	--stuic-color-background:                     #fbfbf9;
	--stuic-color-background-hover:               #fbfbf9;
	--stuic-color-background-active:              #fbfbf9;
	--stuic-color-background-foreground:          #1d1d16;
	--stuic-color-background-foreground-hover:    #1d1d16;
	--stuic-color-background-foreground-active:   #1d1d16;

	--stuic-color-muted:                          #f4f4f0;
	--stuic-color-muted-hover:                    color-mix(in oklab, var(--stuic-color-muted), var(--stuic-color-foreground) 10%);
	--stuic-color-muted-active:                   color-mix(in oklab, var(--stuic-color-muted), var(--stuic-color-foreground) 20%);
	--stuic-color-muted-foreground:               #7c7c67;
	--stuic-color-muted-foreground-hover:         #7c7c67;
	--stuic-color-muted-foreground-active:        #7c7c67;

	--stuic-color-foreground:                     #1d1d16;
	--stuic-color-foreground-hover:               #1d1d16;
	--stuic-color-foreground-active:              #1d1d16;

	--stuic-color-border:                         #d8d8d0;
	--stuic-color-border-hover:                   color-mix(in oklab, var(--stuic-color-border), var(--stuic-color-foreground) 10%);
	--stuic-color-border-active:                  color-mix(in oklab, var(--stuic-color-border), var(--stuic-color-foreground) 20%);

	--stuic-color-input:                          #fbfbf9;
	--stuic-color-input-hover:                    #f4f4f0;
	--stuic-color-input-active:                   color-mix(in oklab, var(--stuic-color-input), var(--stuic-color-foreground) 20%);

	--stuic-color-ring:                           rgba(43, 43, 34, 0.2);
	--stuic-color-ring-hover:                     rgba(43, 43, 34, 0.2);
	--stuic-color-ring-active:                    rgba(43, 43, 34, 0.2);
}

/* prettier-ignore */
:root.dark {
	--stuic-color-primary:                        #e8e8e3;
	--stuic-color-primary-hover:                  color-mix(in oklab, var(--stuic-color-primary), white 10%);
	--stuic-color-primary-active:                 color-mix(in oklab, var(--stuic-color-primary), white 20%);
	--stuic-color-primary-foreground:             #000000;
	--stuic-color-primary-foreground-hover:       #000000;
	--stuic-color-primary-foreground-active:      #000000;

	--stuic-color-accent:                         #7c7c67;
	--stuic-color-accent-hover:                   color-mix(in oklab, var(--stuic-color-accent), white 10%);
	--stuic-color-accent-active:                  color-mix(in oklab, var(--stuic-color-accent), white 20%);
	--stuic-color-accent-foreground:              #ffffff;
	--stuic-color-accent-foreground-hover:        #ffffff;
	--stuic-color-accent-foreground-active:       #ffffff;

	--stuic-color-destructive:                    #7c7c67;
	--stuic-color-destructive-hover:              color-mix(in oklab, var(--stuic-color-destructive), white 10%);
	--stuic-color-destructive-active:             color-mix(in oklab, var(--stuic-color-destructive), white 20%);
	--stuic-color-destructive-foreground:         #ffffff;
	--stuic-color-destructive-foreground-hover:   #ffffff;
	--stuic-color-destructive-foreground-active:  #ffffff;

	--stuic-color-warning:                        #abab9c;
	--stuic-color-warning-hover:                  color-mix(in oklab, var(--stuic-color-warning), white 10%);
	--stuic-color-warning-active:                 color-mix(in oklab, var(--stuic-color-warning), white 20%);
	--stuic-color-warning-foreground:             #000000;
	--stuic-color-warning-foreground-hover:       #000000;
	--stuic-color-warning-foreground-active:      #000000;

	--stuic-color-success:                        #7c7c67;
	--stuic-color-success-hover:                  color-mix(in oklab, var(--stuic-color-success), white 10%);
	--stuic-color-success-active:                 color-mix(in oklab, var(--stuic-color-success), white 20%);
	--stuic-color-success-foreground:             #ffffff;
	--stuic-color-success-foreground-hover:       #ffffff;
	--stuic-color-success-foreground-active:      #ffffff;

	--stuic-color-surface-primary:                color-mix(in srgb, var(--stuic-color-primary) 15%, var(--stuic-color-background));
	--stuic-color-surface-primary-foreground:     color-mix(in srgb, var(--stuic-color-primary), white 50%);
	--stuic-color-surface-primary-border:         color-mix(in srgb, var(--stuic-color-primary) 30%, var(--stuic-color-background));
	--stuic-color-surface-accent:                 color-mix(in srgb, var(--stuic-color-accent) 15%, var(--stuic-color-background));
	--stuic-color-surface-accent-foreground:      color-mix(in srgb, var(--stuic-color-accent), white 50%);
	--stuic-color-surface-accent-border:          color-mix(in srgb, var(--stuic-color-accent) 30%, var(--stuic-color-background));
	--stuic-color-surface-destructive:            color-mix(in srgb, var(--stuic-color-destructive) 15%, var(--stuic-color-background));
	--stuic-color-surface-destructive-foreground: color-mix(in srgb, var(--stuic-color-destructive), white 50%);
	--stuic-color-surface-destructive-border:     color-mix(in srgb, var(--stuic-color-destructive) 30%, var(--stuic-color-background));
	--stuic-color-surface-warning:                color-mix(in srgb, var(--stuic-color-warning) 15%, var(--stuic-color-background));
	--stuic-color-surface-warning-foreground:     color-mix(in srgb, var(--stuic-color-warning), white 50%);
	--stuic-color-surface-warning-border:         color-mix(in srgb, var(--stuic-color-warning) 30%, var(--stuic-color-background));
	--stuic-color-surface-success:                color-mix(in srgb, var(--stuic-color-success) 15%, var(--stuic-color-background));
	--stuic-color-surface-success-foreground:     color-mix(in srgb, var(--stuic-color-success), white 50%);
	--stuic-color-surface-success-border:         color-mix(in srgb, var(--stuic-color-success) 30%, var(--stuic-color-background));
	--stuic-color-surface:                        #474739;
	--stuic-color-surface-hover:                  color-mix(in oklab, var(--stuic-color-surface), var(--stuic-color-foreground) 10%);
	--stuic-color-surface-active:                 color-mix(in oklab, var(--stuic-color-surface), var(--stuic-color-foreground) 20%);
	--stuic-color-surface-foreground:             #d8d8d0;
	--stuic-color-surface-foreground-hover:       #d8d8d0;
	--stuic-color-surface-foreground-active:      #d8d8d0;
	--stuic-color-surface-1:                      #5b5b4b;
	--stuic-color-surface-1-hover:                color-mix(in oklab, var(--stuic-color-surface-1), var(--stuic-color-foreground) 10%);
	--stuic-color-surface-1-active:               color-mix(in oklab, var(--stuic-color-surface-1), var(--stuic-color-foreground) 20%);
	--stuic-color-surface-1-foreground:           #e8e8e3;
	--stuic-color-surface-1-foreground-hover:     #e8e8e3;
	--stuic-color-surface-1-foreground-active:    #e8e8e3;

	--stuic-color-background:                     #1d1d16;
	--stuic-color-background-hover:               #1d1d16;
	--stuic-color-background-active:              #1d1d16;
	--stuic-color-background-foreground:          #fbfbf9;
	--stuic-color-background-foreground-hover:    #fbfbf9;
	--stuic-color-background-foreground-active:   #fbfbf9;

	--stuic-color-muted:                          #2b2b22;
	--stuic-color-muted-hover:                    color-mix(in oklab, var(--stuic-color-muted), var(--stuic-color-foreground) 10%);
	--stuic-color-muted-active:                   color-mix(in oklab, var(--stuic-color-muted), var(--stuic-color-foreground) 20%);
	--stuic-color-muted-foreground:               #abab9c;
	--stuic-color-muted-foreground-hover:         #abab9c;
	--stuic-color-muted-foreground-active:        #abab9c;

	--stuic-color-foreground:                     #fbfbf9;
	--stuic-color-foreground-hover:               #fbfbf9;
	--stuic-color-foreground-active:              #fbfbf9;

	--stuic-color-border:                         #474739;
	--stuic-color-border-hover:                   color-mix(in oklab, var(--stuic-color-border), var(--stuic-color-foreground) 10%);
	--stuic-color-border-active:                  color-mix(in oklab, var(--stuic-color-border), var(--stuic-color-foreground) 20%);

	--stuic-color-input:                          #1d1d16;
	--stuic-color-input-hover:                    #2b2b22;
	--stuic-color-input-active:                   color-mix(in oklab, var(--stuic-color-input), var(--stuic-color-foreground) 20%);

	--stuic-color-ring:                           rgba(232, 232, 227, 0.25);
	--stuic-color-ring-hover:                     rgba(232, 232, 227, 0.25);
	--stuic-color-ring-active:                    rgba(232, 232, 227, 0.25);
}

/* prettier-ignore */
@supports not (color: color-mix(in oklab, red, blue)) {
	:root {
		--stuic-color-primary-hover:                  #24241c;
		--stuic-color-primary-active:                 #1d1d16;

		--stuic-color-accent-hover:                   #6b6b59;
		--stuic-color-accent-active:                  #5a5a4b;

		--stuic-color-destructive-hover:              #6b6b59;
		--stuic-color-destructive-active:             #5a5a4b;

		--stuic-color-warning-hover:                  #949487;
		--stuic-color-warning-active:                 #7e7e73;

		--stuic-color-success-hover:                  #6b6b59;
		--stuic-color-success-active:                 #5a5a4b;

		--stuic-color-surface-primary:                #dcdcd9;
		--stuic-color-surface-primary-foreground:     #161611;
		--stuic-color-surface-primary-border:         #bdbdb9;
		--stuic-color-surface-accent:                 #e8e8e3;
		--stuic-color-surface-accent-foreground:      #3e3e34;
		--stuic-color-surface-accent-border:          #d5d5cd;
		--stuic-color-surface-destructive:            #e8e8e3;
		--stuic-color-surface-destructive-foreground: #3e3e34;
		--stuic-color-surface-destructive-border:     #d5d5cd;
		--stuic-color-surface-warning:                #efefeb;
		--stuic-color-surface-warning-foreground:     #56564e;
		--stuic-color-surface-warning-border:         #e3e3dd;
		--stuic-color-surface-success:                #e8e8e3;
		--stuic-color-surface-success-foreground:     #3e3e34;
		--stuic-color-surface-success-border:         #d5d5cd;
		--stuic-color-surface-hover:                  #d1d1cc;
		--stuic-color-surface-active:                 #bbbbb5;
		--stuic-color-surface-1-hover:                #c3c3bb;
		--stuic-color-surface-1-active:               #aeaea6;

		--stuic-color-muted-hover:                    #dcdcd7;
		--stuic-color-muted-active:                   #c4c4bf;

		--stuic-color-border-hover:                   #c3c3bb;
		--stuic-color-border-active:                  #aeaea6;

		--stuic-color-input-active:                   #c9c9c6;
	}

	:root.dark {
		--stuic-color-primary-hover:                  #eaeae6;
		--stuic-color-primary-active:                 #edede9;

		--stuic-color-accent-hover:                   #888875;
		--stuic-color-accent-active:                  #959584;

		--stuic-color-destructive-hover:              #888875;
		--stuic-color-destructive-active:             #959584;

		--stuic-color-warning-hover:                  #b3b3a6;
		--stuic-color-warning-active:                 #bbbbaf;

		--stuic-color-success-hover:                  #888875;
		--stuic-color-success-active:                 #959584;

		--stuic-color-surface-primary:                #3b3b35;
		--stuic-color-surface-primary-foreground:     #f3f3f1;
		--stuic-color-surface-primary-border:         #5a5a53;
		--stuic-color-surface-accent:                 #2b2b22;
		--stuic-color-surface-accent-foreground:      #bebeb3;
		--stuic-color-surface-accent-border:          #39392e;
		--stuic-color-surface-destructive:            #2b2b22;
		--stuic-color-surface-destructive-foreground: #bebeb3;
		--stuic-color-surface-destructive-border:     #39392e;
		--stuic-color-surface-warning:                #32322a;
		--stuic-color-surface-warning-foreground:     #d5d5ce;
		--stuic-color-surface-warning-border:         #48483e;
		--stuic-color-surface-success:                #2b2b22;
		--stuic-color-surface-success-foreground:     #bebeb3;
		--stuic-color-surface-success-border:         #39392e;
		--stuic-color-surface-hover:                  #57574a;
		--stuic-color-surface-active:                 #68685b;
		--stuic-color-surface-1-hover:                #6a6a5b;
		--stuic-color-surface-1-active:               #79796b;

		--stuic-color-muted-hover:                    #3d3d34;
		--stuic-color-muted-active:                   #4f4f47;

		--stuic-color-border-hover:                   #57574a;
		--stuic-color-border-active:                  #68685b;

		--stuic-color-input-active:                   #43433c;
	}
}
