/* prettier-ignore */
:root {
	--stuic-color-primary:                        #474739;
	--stuic-color-primary-hover:                  color-mix(in oklab, var(--stuic-color-primary), black 10%);
	--stuic-color-primary-active:                 color-mix(in oklab, var(--stuic-color-primary), black 20%);
	--stuic-color-primary-foreground:             #ffffff;
	--stuic-color-primary-foreground-hover:       #ffffff;
	--stuic-color-primary-foreground-active:      #ffffff;

	--stuic-color-accent:                         #d97706;
	--stuic-color-accent-hover:                   color-mix(in oklab, var(--stuic-color-accent), black 10%);
	--stuic-color-accent-active:                  color-mix(in oklab, var(--stuic-color-accent), black 20%);
	--stuic-color-accent-foreground:              #ffffff;
	--stuic-color-accent-foreground-hover:        #ffffff;
	--stuic-color-accent-foreground-active:       #ffffff;

	--stuic-color-destructive:                    #dc2626;
	--stuic-color-destructive-hover:              color-mix(in oklab, var(--stuic-color-destructive), black 10%);
	--stuic-color-destructive-active:             color-mix(in oklab, var(--stuic-color-destructive), black 20%);
	--stuic-color-destructive-foreground:         #ffffff;
	--stuic-color-destructive-foreground-hover:   #ffffff;
	--stuic-color-destructive-foreground-active:  #ffffff;

	--stuic-color-warning:                        #f59e0b;
	--stuic-color-warning-hover:                  color-mix(in oklab, var(--stuic-color-warning), black 10%);
	--stuic-color-warning-active:                 color-mix(in oklab, var(--stuic-color-warning), black 20%);
	--stuic-color-warning-foreground:             #ffffff;
	--stuic-color-warning-foreground-hover:       #ffffff;
	--stuic-color-warning-foreground-active:      #ffffff;

	--stuic-color-success:                        #059669;
	--stuic-color-success-hover:                  color-mix(in oklab, var(--stuic-color-success), black 10%);
	--stuic-color-success-active:                 color-mix(in oklab, var(--stuic-color-success), black 20%);
	--stuic-color-success-foreground:             #ffffff;
	--stuic-color-success-foreground-hover:       #ffffff;
	--stuic-color-success-foreground-active:      #ffffff;

	--stuic-color-surface-primary:                color-mix(in srgb, var(--stuic-color-primary) 15%, var(--stuic-color-background));
	--stuic-color-surface-primary-foreground:     color-mix(in srgb, var(--stuic-color-primary), black 50%);
	--stuic-color-surface-primary-border:         color-mix(in srgb, var(--stuic-color-primary) 30%, var(--stuic-color-background));
	--stuic-color-surface-accent:                 color-mix(in srgb, var(--stuic-color-accent) 15%, var(--stuic-color-background));
	--stuic-color-surface-accent-foreground:      color-mix(in srgb, var(--stuic-color-accent), black 50%);
	--stuic-color-surface-accent-border:          color-mix(in srgb, var(--stuic-color-accent) 30%, var(--stuic-color-background));
	--stuic-color-surface-destructive:            color-mix(in srgb, var(--stuic-color-destructive) 15%, var(--stuic-color-background));
	--stuic-color-surface-destructive-foreground: color-mix(in srgb, var(--stuic-color-destructive), black 50%);
	--stuic-color-surface-destructive-border:     color-mix(in srgb, var(--stuic-color-destructive) 30%, var(--stuic-color-background));
	--stuic-color-surface-warning:                color-mix(in srgb, var(--stuic-color-warning) 15%, var(--stuic-color-background));
	--stuic-color-surface-warning-foreground:     color-mix(in srgb, var(--stuic-color-warning), black 50%);
	--stuic-color-surface-warning-border:         color-mix(in srgb, var(--stuic-color-warning) 30%, var(--stuic-color-background));
	--stuic-color-surface-success:                color-mix(in srgb, var(--stuic-color-success) 15%, var(--stuic-color-background));
	--stuic-color-surface-success-foreground:     color-mix(in srgb, var(--stuic-color-success), black 50%);
	--stuic-color-surface-success-border:         color-mix(in srgb, var(--stuic-color-success) 30%, var(--stuic-color-background));
	--stuic-color-surface:                        #e8e8e3;
	--stuic-color-surface-hover:                  color-mix(in oklab, var(--stuic-color-surface), var(--stuic-color-foreground) 10%);
	--stuic-color-surface-active:                 color-mix(in oklab, var(--stuic-color-surface), var(--stuic-color-foreground) 20%);
	--stuic-color-surface-foreground:             #1d1d16;
	--stuic-color-surface-foreground-hover:       #1d1d16;
	--stuic-color-surface-foreground-active:      #1d1d16;
	--stuic-color-surface-1:                      #d8d8d0;
	--stuic-color-surface-1-hover:                color-mix(in oklab, var(--stuic-color-surface-1), var(--stuic-color-foreground) 10%);
	--stuic-color-surface-1-active:               color-mix(in oklab, var(--stuic-color-surface-1), var(--stuic-color-foreground) 20%);
	--stuic-color-surface-1-foreground:           #1d1d16;
	--stuic-color-surface-1-foreground-hover:     #1d1d16;
	--stuic-color-surface-1-foreground-active:    #1d1d16;

	--stuic-color-background:                     #fbfbf9;
	--stuic-color-background-hover:               #fbfbf9;
	--stuic-color-background-active:              #fbfbf9;
	--stuic-color-background-foreground:          #1d1d16;
	--stuic-color-background-foreground-hover:    #1d1d16;
	--stuic-color-background-foreground-active:   #1d1d16;

	--stuic-color-muted:                          #f4f4f0;
	--stuic-color-muted-hover:                    color-mix(in oklab, var(--stuic-color-muted), var(--stuic-color-foreground) 10%);
	--stuic-color-muted-active:                   color-mix(in oklab, var(--stuic-color-muted), var(--stuic-color-foreground) 20%);
	--stuic-color-muted-foreground:               #7c7c67;
	--stuic-color-muted-foreground-hover:         #7c7c67;
	--stuic-color-muted-foreground-active:        #7c7c67;

	--stuic-color-foreground:                     #1d1d16;
	--stuic-color-foreground-hover:               #1d1d16;
	--stuic-color-foreground-active:              #1d1d16;

	--stuic-color-border:                         #d8d8d0;
	--stuic-color-border-hover:                   color-mix(in oklab, var(--stuic-color-border), var(--stuic-color-foreground) 10%);
	--stuic-color-border-active:                  color-mix(in oklab, var(--stuic-color-border), var(--stuic-color-foreground) 20%);

	--stuic-color-input:                          #fbfbf9;
	--stuic-color-input-hover:                    #f4f4f0;
	--stuic-color-input-active:                   color-mix(in oklab, var(--stuic-color-input), var(--stuic-color-foreground) 20%);

	--stuic-color-ring:                           rgba(71, 71, 57, 0.2);
	--stuic-color-ring-hover:                     rgba(71, 71, 57, 0.2);
	--stuic-color-ring-active:                    rgba(71, 71, 57, 0.2);
}

/* prettier-ignore */
:root.dark {
	--stuic-color-primary:                        #abab9c;
	--stuic-color-primary-hover:                  color-mix(in oklab, var(--stuic-color-primary), white 10%);
	--stuic-color-primary-active:                 color-mix(in oklab, var(--stuic-color-primary), white 20%);
	--stuic-color-primary-foreground:             #000000;
	--stuic-color-primary-foreground-hover:       #000000;
	--stuic-color-primary-foreground-active:      #000000;

	--stuic-color-accent:                         #f59e0b;
	--stuic-color-accent-hover:                   color-mix(in oklab, var(--stuic-color-accent), white 10%);
	--stuic-color-accent-active:                  color-mix(in oklab, var(--stuic-color-accent), white 20%);
	--stuic-color-accent-foreground:              #000000;
	--stuic-color-accent-foreground-hover:        #000000;
	--stuic-color-accent-foreground-active:       #000000;

	--stuic-color-destructive:                    #ef4444;
	--stuic-color-destructive-hover:              color-mix(in oklab, var(--stuic-color-destructive), white 10%);
	--stuic-color-destructive-active:             color-mix(in oklab, var(--stuic-color-destructive), white 20%);
	--stuic-color-destructive-foreground:         #ffffff;
	--stuic-color-destructive-foreground-hover:   #ffffff;
	--stuic-color-destructive-foreground-active:  #ffffff;

	--stuic-color-warning:                        #fbbf24;
	--stuic-color-warning-hover:                  color-mix(in oklab, var(--stuic-color-warning), white 10%);
	--stuic-color-warning-active:                 color-mix(in oklab, var(--stuic-color-warning), white 20%);
	--stuic-color-warning-foreground:             #000000;
	--stuic-color-warning-foreground-hover:       #000000;
	--stuic-color-warning-foreground-active:      #000000;

	--stuic-color-success:                        #10b981;
	--stuic-color-success-hover:                  color-mix(in oklab, var(--stuic-color-success), white 10%);
	--stuic-color-success-active:                 color-mix(in oklab, var(--stuic-color-success), white 20%);
	--stuic-color-success-foreground:             #000000;
	--stuic-color-success-foreground-hover:       #000000;
	--stuic-color-success-foreground-active:      #000000;

	--stuic-color-surface-primary:                color-mix(in srgb, var(--stuic-color-primary) 15%, var(--stuic-color-background));
	--stuic-color-surface-primary-foreground:     color-mix(in srgb, var(--stuic-color-primary), white 50%);
	--stuic-color-surface-primary-border:         color-mix(in srgb, var(--stuic-color-primary) 30%, var(--stuic-color-background));
	--stuic-color-surface-accent:                 color-mix(in srgb, var(--stuic-color-accent) 15%, var(--stuic-color-background));
	--stuic-color-surface-accent-foreground:      color-mix(in srgb, var(--stuic-color-accent), white 50%);
	--stuic-color-surface-accent-border:          color-mix(in srgb, var(--stuic-color-accent) 30%, var(--stuic-color-background));
	--stuic-color-surface-destructive:            color-mix(in srgb, var(--stuic-color-destructive) 15%, var(--stuic-color-background));
	--stuic-color-surface-destructive-foreground: color-mix(in srgb, var(--stuic-color-destructive), white 50%);
	--stuic-color-surface-destructive-border:     color-mix(in srgb, var(--stuic-color-destructive) 30%, var(--stuic-color-background));
	--stuic-color-surface-warning:                color-mix(in srgb, var(--stuic-color-warning) 15%, var(--stuic-color-background));
	--stuic-color-surface-warning-foreground:     color-mix(in srgb, var(--stuic-color-warning), white 50%);
	--stuic-color-surface-warning-border:         color-mix(in srgb, var(--stuic-color-warning) 30%, var(--stuic-color-background));
	--stuic-color-surface-success:                color-mix(in srgb, var(--stuic-color-success) 15%, var(--stuic-color-background));
	--stuic-color-surface-success-foreground:     color-mix(in srgb, var(--stuic-color-success), white 50%);
	--stuic-color-surface-success-border:         color-mix(in srgb, var(--stuic-color-success) 30%, var(--stuic-color-background));
	--stuic-color-surface:                        #474739;
	--stuic-color-surface-hover:                  color-mix(in oklab, var(--stuic-color-surface), var(--stuic-color-foreground) 10%);
	--stuic-color-surface-active:                 color-mix(in oklab, var(--stuic-color-surface), var(--stuic-color-foreground) 20%);
	--stuic-color-surface-foreground:             #d8d8d0;
	--stuic-color-surface-foreground-hover:       #d8d8d0;
	--stuic-color-surface-foreground-active:      #d8d8d0;
	--stuic-color-surface-1:                      #5b5b4b;
	--stuic-color-surface-1-hover:                color-mix(in oklab, var(--stuic-color-surface-1), var(--stuic-color-foreground) 10%);
	--stuic-color-surface-1-active:               color-mix(in oklab, var(--stuic-color-surface-1), var(--stuic-color-foreground) 20%);
	--stuic-color-surface-1-foreground:           #e8e8e3;
	--stuic-color-surface-1-foreground-hover:     #e8e8e3;
	--stuic-color-surface-1-foreground-active:    #e8e8e3;

	--stuic-color-background:                     #1d1d16;
	--stuic-color-background-hover:               #1d1d16;
	--stuic-color-background-active:              #1d1d16;
	--stuic-color-background-foreground:          #fbfbf9;
	--stuic-color-background-foreground-hover:    #fbfbf9;
	--stuic-color-background-foreground-active:   #fbfbf9;

	--stuic-color-muted:                          #2b2b22;
	--stuic-color-muted-hover:                    color-mix(in oklab, var(--stuic-color-muted), var(--stuic-color-foreground) 10%);
	--stuic-color-muted-active:                   color-mix(in oklab, var(--stuic-color-muted), var(--stuic-color-foreground) 20%);
	--stuic-color-muted-foreground:               #abab9c;
	--stuic-color-muted-foreground-hover:         #abab9c;
	--stuic-color-muted-foreground-active:        #abab9c;

	--stuic-color-foreground:                     #fbfbf9;
	--stuic-color-foreground-hover:               #fbfbf9;
	--stuic-color-foreground-active:              #fbfbf9;

	--stuic-color-border:                         #5b5b4b;
	--stuic-color-border-hover:                   color-mix(in oklab, var(--stuic-color-border), var(--stuic-color-foreground) 10%);
	--stuic-color-border-active:                  color-mix(in oklab, var(--stuic-color-border), var(--stuic-color-foreground) 20%);

	--stuic-color-input:                          #1d1d16;
	--stuic-color-input-hover:                    #2b2b22;
	--stuic-color-input-active:                   color-mix(in oklab, var(--stuic-color-input), var(--stuic-color-foreground) 20%);

	--stuic-color-ring:                           rgba(171, 171, 156, 0.25);
	--stuic-color-ring-hover:                     rgba(171, 171, 156, 0.25);
	--stuic-color-ring-active:                    rgba(171, 171, 156, 0.25);
}

/* prettier-ignore */
@supports not (color: color-mix(in oklab, red, blue)) {
	:root {
		--stuic-color-primary-hover:                  #3d3d30;
		--stuic-color-primary-active:                 #323228;

		--stuic-color-accent-hover:                   #bc6704;
		--stuic-color-accent-active:                  #a15703;

		--stuic-color-destructive-hover:              #bf2020;
		--stuic-color-destructive-active:             #a31919;

		--stuic-color-warning-hover:                  #d58908;
		--stuic-color-warning-active:                 #b67406;

		--stuic-color-success-hover:                  #04825a;
		--stuic-color-success-active:                 #036e4c;

		--stuic-color-surface-primary:                #e0e0dc;
		--stuic-color-surface-primary-foreground:     #24241d;
		--stuic-color-surface-primary-border:         #c5c5bf;
		--stuic-color-surface-accent:                 #f6e7d5;
		--stuic-color-surface-accent-foreground:      #6d3c03;
		--stuic-color-surface-accent-border:          #f1d3b0;
		--stuic-color-surface-destructive:            #f6dbd9;
		--stuic-color-surface-destructive-foreground: #6e1313;
		--stuic-color-surface-destructive-border:     #f2bbba;
		--stuic-color-surface-warning:                #faedd5;
		--stuic-color-surface-warning-foreground:     #7b4f06;
		--stuic-color-surface-warning-border:         #f9dfb2;
		--stuic-color-surface-success:                #d6ece3;
		--stuic-color-surface-success-foreground:     #034b35;
		--stuic-color-surface-success-border:         #b1ddce;
		--stuic-color-surface-hover:                  #d1d1cc;
		--stuic-color-surface-active:                 #bbbbb5;
		--stuic-color-surface-1-hover:                #c3c3bb;
		--stuic-color-surface-1-active:               #aeaea6;

		--stuic-color-muted-hover:                    #dcdcd7;
		--stuic-color-muted-active:                   #c4c4bf;

		--stuic-color-border-hover:                   #c3c3bb;
		--stuic-color-border-active:                  #aeaea6;

		--stuic-color-input-active:                   #c9c9c6;
	}

	:root.dark {
		--stuic-color-primary-hover:                  #b3b3a6;
		--stuic-color-primary-active:                 #bbbbaf;

		--stuic-color-accent-hover:                   #f7a83f;
		--stuic-color-accent-active:                  #f9b35b;

		--stuic-color-destructive-hover:              #f45c57;
		--stuic-color-destructive-active:             #f8716a;

		--stuic-color-warning-hover:                  #fcc64c;
		--stuic-color-warning-active:                 #fccd66;

		--stuic-color-success-hover:                  #43c08d;
		--stuic-color-success-active:                 #5fc899;

		--stuic-color-surface-primary:                #32322a;
		--stuic-color-surface-primary-foreground:     #d5d5ce;
		--stuic-color-surface-primary-border:         #48483e;
		--stuic-color-surface-accent:                 #3d3014;
		--stuic-color-surface-accent-foreground:      #facf85;
		--stuic-color-surface-accent-border:          #5e4413;
		--stuic-color-surface-destructive:            #3d231d;
		--stuic-color-surface-destructive-foreground: #f7a2a2;
		--stuic-color-surface-destructive-border:     #5c2924;
		--stuic-color-surface-warning:                #3e3518;
		--stuic-color-surface-warning-foreground:     #fddf92;
		--stuic-color-surface-warning-border:         #604e1a;
		--stuic-color-surface-success:                #1b3426;
		--stuic-color-surface-success-foreground:     #88dcc0;
		--stuic-color-surface-success-border:         #194c36;
		--stuic-color-surface-hover:                  #57574a;
		--stuic-color-surface-active:                 #68685b;
		--stuic-color-surface-1-hover:                #6a6a5b;
		--stuic-color-surface-1-active:               #79796b;

		--stuic-color-muted-hover:                    #3d3d34;
		--stuic-color-muted-active:                   #4f4f47;

		--stuic-color-border-hover:                   #6a6a5b;
		--stuic-color-border-active:                  #79796b;

		--stuic-color-input-active:                   #43433c;
	}
}
