/* prettier-ignore */
:root {
	--stuic-color-primary:                        #2563eb;
	--stuic-color-primary-hover:                  color-mix(in oklab, var(--stuic-color-primary), black 10%);
	--stuic-color-primary-active:                 color-mix(in oklab, var(--stuic-color-primary), black 20%);
	--stuic-color-primary-foreground:             #ffffff;
	--stuic-color-primary-foreground-hover:       #ffffff;
	--stuic-color-primary-foreground-active:      #ffffff;

	--stuic-color-accent:                         #8b5cf6;
	--stuic-color-accent-hover:                   color-mix(in oklab, var(--stuic-color-accent), black 10%);
	--stuic-color-accent-active:                  color-mix(in oklab, var(--stuic-color-accent), black 20%);
	--stuic-color-accent-foreground:              #ffffff;
	--stuic-color-accent-foreground-hover:        #ffffff;
	--stuic-color-accent-foreground-active:       #ffffff;

	--stuic-color-destructive:                    #dc2626;
	--stuic-color-destructive-hover:              color-mix(in oklab, var(--stuic-color-destructive), black 10%);
	--stuic-color-destructive-active:             color-mix(in oklab, var(--stuic-color-destructive), black 20%);
	--stuic-color-destructive-foreground:         #ffffff;
	--stuic-color-destructive-foreground-hover:   #ffffff;
	--stuic-color-destructive-foreground-active:  #ffffff;

	--stuic-color-warning:                        #f59e0b;
	--stuic-color-warning-hover:                  color-mix(in oklab, var(--stuic-color-warning), black 10%);
	--stuic-color-warning-active:                 color-mix(in oklab, var(--stuic-color-warning), black 20%);
	--stuic-color-warning-foreground:             #ffffff;
	--stuic-color-warning-foreground-hover:       #ffffff;
	--stuic-color-warning-foreground-active:      #ffffff;

	--stuic-color-success:                        #16a34a;
	--stuic-color-success-hover:                  color-mix(in oklab, var(--stuic-color-success), black 10%);
	--stuic-color-success-active:                 color-mix(in oklab, var(--stuic-color-success), black 20%);
	--stuic-color-success-foreground:             #ffffff;
	--stuic-color-success-foreground-hover:       #ffffff;
	--stuic-color-success-foreground-active:      #ffffff;

	--stuic-color-surface-primary:                color-mix(in srgb, var(--stuic-color-primary) 15%, var(--stuic-color-background));
	--stuic-color-surface-primary-foreground:     color-mix(in srgb, var(--stuic-color-primary), black 50%);
	--stuic-color-surface-primary-border:         color-mix(in srgb, var(--stuic-color-primary) 30%, var(--stuic-color-background));
	--stuic-color-surface-accent:                 color-mix(in srgb, var(--stuic-color-accent) 15%, var(--stuic-color-background));
	--stuic-color-surface-accent-foreground:      color-mix(in srgb, var(--stuic-color-accent), black 50%);
	--stuic-color-surface-accent-border:          color-mix(in srgb, var(--stuic-color-accent) 30%, var(--stuic-color-background));
	--stuic-color-surface-destructive:            color-mix(in srgb, var(--stuic-color-destructive) 15%, var(--stuic-color-background));
	--stuic-color-surface-destructive-foreground: color-mix(in srgb, var(--stuic-color-destructive), black 50%);
	--stuic-color-surface-destructive-border:     color-mix(in srgb, var(--stuic-color-destructive) 30%, var(--stuic-color-background));
	--stuic-color-surface-warning:                color-mix(in srgb, var(--stuic-color-warning) 15%, var(--stuic-color-background));
	--stuic-color-surface-warning-foreground:     color-mix(in srgb, var(--stuic-color-warning), black 50%);
	--stuic-color-surface-warning-border:         color-mix(in srgb, var(--stuic-color-warning) 30%, var(--stuic-color-background));
	--stuic-color-surface-success:                color-mix(in srgb, var(--stuic-color-success) 15%, var(--stuic-color-background));
	--stuic-color-surface-success-foreground:     color-mix(in srgb, var(--stuic-color-success), black 50%);
	--stuic-color-surface-success-border:         color-mix(in srgb, var(--stuic-color-success) 30%, var(--stuic-color-background));
	--stuic-color-surface:                        #e2e8f0;
	--stuic-color-surface-hover:                  color-mix(in oklab, var(--stuic-color-surface), var(--stuic-color-foreground) 10%);
	--stuic-color-surface-active:                 color-mix(in oklab, var(--stuic-color-surface), var(--stuic-color-foreground) 20%);
	--stuic-color-surface-foreground:             #0f172a;
	--stuic-color-surface-foreground-hover:       #0f172a;
	--stuic-color-surface-foreground-active:      #0f172a;
	--stuic-color-surface-1:                      #cbd5e1;
	--stuic-color-surface-1-hover:                color-mix(in oklab, var(--stuic-color-surface-1), var(--stuic-color-foreground) 10%);
	--stuic-color-surface-1-active:               color-mix(in oklab, var(--stuic-color-surface-1), var(--stuic-color-foreground) 20%);
	--stuic-color-surface-1-foreground:           #0f172a;
	--stuic-color-surface-1-foreground-hover:     #0f172a;
	--stuic-color-surface-1-foreground-active:    #0f172a;

	--stuic-color-background:                     #ffffff;
	--stuic-color-background-hover:               #ffffff;
	--stuic-color-background-active:              #ffffff;
	--stuic-color-background-foreground:          #0f172a;
	--stuic-color-background-foreground-hover:    #0f172a;
	--stuic-color-background-foreground-active:   #0f172a;

	--stuic-color-muted:                          #f1f5f9;
	--stuic-color-muted-hover:                    color-mix(in oklab, var(--stuic-color-muted), var(--stuic-color-foreground) 10%);
	--stuic-color-muted-active:                   color-mix(in oklab, var(--stuic-color-muted), var(--stuic-color-foreground) 20%);
	--stuic-color-muted-foreground:               #64748b;
	--stuic-color-muted-foreground-hover:         #64748b;
	--stuic-color-muted-foreground-active:        #64748b;

	--stuic-color-foreground:                     #0f172a;
	--stuic-color-foreground-hover:               #0f172a;
	--stuic-color-foreground-active:              #0f172a;

	--stuic-color-border:                         #cbd5e1;
	--stuic-color-border-hover:                   color-mix(in oklab, var(--stuic-color-border), var(--stuic-color-foreground) 10%);
	--stuic-color-border-active:                  color-mix(in oklab, var(--stuic-color-border), var(--stuic-color-foreground) 20%);

	--stuic-color-input:                          #ffffff;
	--stuic-color-input-hover:                    #f8fafc;
	--stuic-color-input-active:                   color-mix(in oklab, var(--stuic-color-input), var(--stuic-color-foreground) 20%);

	--stuic-color-ring:                           rgba(37, 99, 235, 0.2);
	--stuic-color-ring-hover:                     rgba(37, 99, 235, 0.2);
	--stuic-color-ring-active:                    rgba(37, 99, 235, 0.2);
}

/* prettier-ignore */
:root.dark {
	--stuic-color-primary:                        #3b82f6;
	--stuic-color-primary-hover:                  color-mix(in oklab, var(--stuic-color-primary), white 10%);
	--stuic-color-primary-active:                 color-mix(in oklab, var(--stuic-color-primary), white 20%);
	--stuic-color-primary-foreground:             #ffffff;
	--stuic-color-primary-foreground-hover:       #ffffff;
	--stuic-color-primary-foreground-active:      #ffffff;

	--stuic-color-accent:                         #8b5cf6;
	--stuic-color-accent-hover:                   color-mix(in oklab, var(--stuic-color-accent), white 10%);
	--stuic-color-accent-active:                  color-mix(in oklab, var(--stuic-color-accent), white 20%);
	--stuic-color-accent-foreground:              #ffffff;
	--stuic-color-accent-foreground-hover:        #ffffff;
	--stuic-color-accent-foreground-active:       #ffffff;

	--stuic-color-destructive:                    #ef4444;
	--stuic-color-destructive-hover:              color-mix(in oklab, var(--stuic-color-destructive), white 10%);
	--stuic-color-destructive-active:             color-mix(in oklab, var(--stuic-color-destructive), white 20%);
	--stuic-color-destructive-foreground:         #ffffff;
	--stuic-color-destructive-foreground-hover:   #ffffff;
	--stuic-color-destructive-foreground-active:  #ffffff;

	--stuic-color-warning:                        #fbbf24;
	--stuic-color-warning-hover:                  color-mix(in oklab, var(--stuic-color-warning), white 10%);
	--stuic-color-warning-active:                 color-mix(in oklab, var(--stuic-color-warning), white 20%);
	--stuic-color-warning-foreground:             #000000;
	--stuic-color-warning-foreground-hover:       #000000;
	--stuic-color-warning-foreground-active:      #000000;

	--stuic-color-success:                        #16a34a;
	--stuic-color-success-hover:                  color-mix(in oklab, var(--stuic-color-success), white 10%);
	--stuic-color-success-active:                 color-mix(in oklab, var(--stuic-color-success), white 20%);
	--stuic-color-success-foreground:             #ffffff;
	--stuic-color-success-foreground-hover:       #ffffff;
	--stuic-color-success-foreground-active:      #ffffff;

	--stuic-color-surface-primary:                color-mix(in srgb, var(--stuic-color-primary) 15%, var(--stuic-color-background));
	--stuic-color-surface-primary-foreground:     color-mix(in srgb, var(--stuic-color-primary), white 50%);
	--stuic-color-surface-primary-border:         color-mix(in srgb, var(--stuic-color-primary) 30%, var(--stuic-color-background));
	--stuic-color-surface-accent:                 color-mix(in srgb, var(--stuic-color-accent) 15%, var(--stuic-color-background));
	--stuic-color-surface-accent-foreground:      color-mix(in srgb, var(--stuic-color-accent), white 50%);
	--stuic-color-surface-accent-border:          color-mix(in srgb, var(--stuic-color-accent) 30%, var(--stuic-color-background));
	--stuic-color-surface-destructive:            color-mix(in srgb, var(--stuic-color-destructive) 15%, var(--stuic-color-background));
	--stuic-color-surface-destructive-foreground: color-mix(in srgb, var(--stuic-color-destructive), white 50%);
	--stuic-color-surface-destructive-border:     color-mix(in srgb, var(--stuic-color-destructive) 30%, var(--stuic-color-background));
	--stuic-color-surface-warning:                color-mix(in srgb, var(--stuic-color-warning) 15%, var(--stuic-color-background));
	--stuic-color-surface-warning-foreground:     color-mix(in srgb, var(--stuic-color-warning), white 50%);
	--stuic-color-surface-warning-border:         color-mix(in srgb, var(--stuic-color-warning) 30%, var(--stuic-color-background));
	--stuic-color-surface-success:                color-mix(in srgb, var(--stuic-color-success) 15%, var(--stuic-color-background));
	--stuic-color-surface-success-foreground:     color-mix(in srgb, var(--stuic-color-success), white 50%);
	--stuic-color-surface-success-border:         color-mix(in srgb, var(--stuic-color-success) 30%, var(--stuic-color-background));
	--stuic-color-surface:                        #334155;
	--stuic-color-surface-hover:                  color-mix(in oklab, var(--stuic-color-surface), var(--stuic-color-foreground) 10%);
	--stuic-color-surface-active:                 color-mix(in oklab, var(--stuic-color-surface), var(--stuic-color-foreground) 20%);
	--stuic-color-surface-foreground:             #cbd5e1;
	--stuic-color-surface-foreground-hover:       #cbd5e1;
	--stuic-color-surface-foreground-active:      #cbd5e1;
	--stuic-color-surface-1:                      #475569;
	--stuic-color-surface-1-hover:                color-mix(in oklab, var(--stuic-color-surface-1), var(--stuic-color-foreground) 10%);
	--stuic-color-surface-1-active:               color-mix(in oklab, var(--stuic-color-surface-1), var(--stuic-color-foreground) 20%);
	--stuic-color-surface-1-foreground:           #e2e8f0;
	--stuic-color-surface-1-foreground-hover:     #e2e8f0;
	--stuic-color-surface-1-foreground-active:    #e2e8f0;

	--stuic-color-background:                     #0f172a;
	--stuic-color-background-hover:               #0f172a;
	--stuic-color-background-active:              #0f172a;
	--stuic-color-background-foreground:          #f8fafc;
	--stuic-color-background-foreground-hover:    #f8fafc;
	--stuic-color-background-foreground-active:   #f8fafc;

	--stuic-color-muted:                          #1e293b;
	--stuic-color-muted-hover:                    color-mix(in oklab, var(--stuic-color-muted), var(--stuic-color-foreground) 10%);
	--stuic-color-muted-active:                   color-mix(in oklab, var(--stuic-color-muted), var(--stuic-color-foreground) 20%);
	--stuic-color-muted-foreground:               #94a3b8;
	--stuic-color-muted-foreground-hover:         #94a3b8;
	--stuic-color-muted-foreground-active:        #94a3b8;

	--stuic-color-foreground:                     #f8fafc;
	--stuic-color-foreground-hover:               #f8fafc;
	--stuic-color-foreground-active:              #f8fafc;

	--stuic-color-border:                         #334155;
	--stuic-color-border-hover:                   color-mix(in oklab, var(--stuic-color-border), var(--stuic-color-foreground) 10%);
	--stuic-color-border-active:                  color-mix(in oklab, var(--stuic-color-border), var(--stuic-color-foreground) 20%);

	--stuic-color-input:                          #0f172a;
	--stuic-color-input-hover:                    #1e293b;
	--stuic-color-input-active:                   color-mix(in oklab, var(--stuic-color-input), var(--stuic-color-foreground) 20%);

	--stuic-color-ring:                           rgba(96, 165, 250, 0.25);
	--stuic-color-ring-hover:                     rgba(96, 165, 250, 0.25);
	--stuic-color-ring-active:                    rgba(96, 165, 250, 0.25);
}

/* prettier-ignore */
@supports not (color: color-mix(in oklab, red, blue)) {
	:root {
		--stuic-color-primary-hover:                  #1f55cc;
		--stuic-color-primary-active:                 #1947ae;

		--stuic-color-accent-hover:                   #784fd6;
		--stuic-color-accent-active:                  #6642b7;

		--stuic-color-destructive-hover:              #bf2020;
		--stuic-color-destructive-active:             #a31919;

		--stuic-color-warning-hover:                  #d58908;
		--stuic-color-warning-active:                 #b67406;

		--stuic-color-success-hover:                  #128d3f;
		--stuic-color-success-active:                 #0d7835;

		--stuic-color-surface-primary:                #dee8fc;
		--stuic-color-surface-primary-foreground:     #133276;
		--stuic-color-surface-primary-border:         #bed0f9;
		--stuic-color-surface-accent:                 #eee7fe;
		--stuic-color-surface-accent-foreground:      #462e7b;
		--stuic-color-surface-accent-border:          #dccefc;
		--stuic-color-surface-destructive:            #fadede;
		--stuic-color-surface-destructive-foreground: #6e1313;
		--stuic-color-surface-destructive-border:     #f4bebe;
		--stuic-color-surface-warning:                #fef0da;
		--stuic-color-surface-warning-foreground:     #7b4f06;
		--stuic-color-surface-warning-border:         #fce2b6;
		--stuic-color-surface-success:                #dcf1e4;
		--stuic-color-surface-success-foreground:     #0b5225;
		--stuic-color-surface-success-border:         #b9e3c9;
		--stuic-color-surface-hover:                  #cad0da;
		--stuic-color-surface-active:                 #b2b9c5;
		--stuic-color-surface-1-hover:                #b6c0cd;
		--stuic-color-surface-1-active:               #a1abb9;

		--stuic-color-muted-hover:                    #d7dce2;
		--stuic-color-muted-active:                   #bec3cc;

		--stuic-color-border-hover:                   #b6c0cd;
		--stuic-color-border-active:                  #a1abb9;

		--stuic-color-input-active:                   #c8cbd0;
	}

	:root.dark {
		--stuic-color-primary-hover:                  #5090f8;
		--stuic-color-primary-active:                 #649dfa;

		--stuic-color-accent-hover:                   #956ff8;
		--stuic-color-accent-active:                  #9f81fb;

		--stuic-color-destructive-hover:              #f45c57;
		--stuic-color-destructive-active:             #f8716a;

		--stuic-color-warning-hover:                  #fcc64c;
		--stuic-color-warning-active:                 #fccd66;

		--stuic-color-success-hover:                  #3fad5d;
		--stuic-color-success-active:                 #5ab66f;

		--stuic-color-surface-primary:                #162749;
		--stuic-color-surface-primary-foreground:     #9dc1fb;
		--stuic-color-surface-primary-border:         #1c3767;
		--stuic-color-surface-accent:                 #222149;
		--stuic-color-surface-accent-foreground:      #c5aefb;
		--stuic-color-surface-accent-border:          #342c67;
		--stuic-color-surface-destructive:            #311e2e;
		--stuic-color-surface-destructive-foreground: #f7a2a2;
		--stuic-color-surface-destructive-border:     #522532;
		--stuic-color-surface-warning:                #323029;
		--stuic-color-surface-warning-foreground:     #fddf92;
		--stuic-color-surface-warning-border:         #564928;
		--stuic-color-surface-success:                #102c2f;
		--stuic-color-surface-success-foreground:     #8bd1a5;
		--stuic-color-surface-success-border:         #114134;
		--stuic-color-surface-hover:                  #445264;
		--stuic-color-surface-active:                 #566374;
		--stuic-color-surface-1-hover:                #576477;
		--stuic-color-surface-1-active:               #677385;

		--stuic-color-muted-hover:                    #303b4c;
		--stuic-color-muted-active:                   #444e5e;

		--stuic-color-border-hover:                   #445264;
		--stuic-color-border-active:                  #566374;

		--stuic-color-input-active:                   #363e4f;
	}
}
