/* prettier-ignore */
:root {
	--stuic-color-primary:                        #292524;
	--stuic-color-primary-hover:                  color-mix(in oklab, var(--stuic-color-primary), black 10%);
	--stuic-color-primary-active:                 color-mix(in oklab, var(--stuic-color-primary), black 20%);
	--stuic-color-primary-foreground:             #ffffff;
	--stuic-color-primary-foreground-hover:       #ffffff;
	--stuic-color-primary-foreground-active:      #ffffff;

	--stuic-color-accent:                         #78716c;
	--stuic-color-accent-hover:                   color-mix(in oklab, var(--stuic-color-accent), black 10%);
	--stuic-color-accent-active:                  color-mix(in oklab, var(--stuic-color-accent), black 20%);
	--stuic-color-accent-foreground:              #ffffff;
	--stuic-color-accent-foreground-hover:        #ffffff;
	--stuic-color-accent-foreground-active:       #ffffff;

	--stuic-color-destructive:                    #78716c;
	--stuic-color-destructive-hover:              color-mix(in oklab, var(--stuic-color-destructive), black 10%);
	--stuic-color-destructive-active:             color-mix(in oklab, var(--stuic-color-destructive), black 20%);
	--stuic-color-destructive-foreground:         #ffffff;
	--stuic-color-destructive-foreground-hover:   #ffffff;
	--stuic-color-destructive-foreground-active:  #ffffff;

	--stuic-color-warning:                        #a8a29e;
	--stuic-color-warning-hover:                  color-mix(in oklab, var(--stuic-color-warning), black 10%);
	--stuic-color-warning-active:                 color-mix(in oklab, var(--stuic-color-warning), black 20%);
	--stuic-color-warning-foreground:             #000000;
	--stuic-color-warning-foreground-hover:       #000000;
	--stuic-color-warning-foreground-active:      #000000;

	--stuic-color-success:                        #78716c;
	--stuic-color-success-hover:                  color-mix(in oklab, var(--stuic-color-success), black 10%);
	--stuic-color-success-active:                 color-mix(in oklab, var(--stuic-color-success), black 20%);
	--stuic-color-success-foreground:             #ffffff;
	--stuic-color-success-foreground-hover:       #ffffff;
	--stuic-color-success-foreground-active:      #ffffff;

	--stuic-color-surface-primary:                color-mix(in srgb, var(--stuic-color-primary) 15%, var(--stuic-color-background));
	--stuic-color-surface-primary-foreground:     color-mix(in srgb, var(--stuic-color-primary), black 50%);
	--stuic-color-surface-primary-border:         color-mix(in srgb, var(--stuic-color-primary) 30%, var(--stuic-color-background));
	--stuic-color-surface-accent:                 color-mix(in srgb, var(--stuic-color-accent) 15%, var(--stuic-color-background));
	--stuic-color-surface-accent-foreground:      color-mix(in srgb, var(--stuic-color-accent), black 50%);
	--stuic-color-surface-accent-border:          color-mix(in srgb, var(--stuic-color-accent) 30%, var(--stuic-color-background));
	--stuic-color-surface-destructive:            color-mix(in srgb, var(--stuic-color-destructive) 15%, var(--stuic-color-background));
	--stuic-color-surface-destructive-foreground: color-mix(in srgb, var(--stuic-color-destructive), black 50%);
	--stuic-color-surface-destructive-border:     color-mix(in srgb, var(--stuic-color-destructive) 30%, var(--stuic-color-background));
	--stuic-color-surface-warning:                color-mix(in srgb, var(--stuic-color-warning) 15%, var(--stuic-color-background));
	--stuic-color-surface-warning-foreground:     color-mix(in srgb, var(--stuic-color-warning), black 50%);
	--stuic-color-surface-warning-border:         color-mix(in srgb, var(--stuic-color-warning) 30%, var(--stuic-color-background));
	--stuic-color-surface-success:                color-mix(in srgb, var(--stuic-color-success) 15%, var(--stuic-color-background));
	--stuic-color-surface-success-foreground:     color-mix(in srgb, var(--stuic-color-success), black 50%);
	--stuic-color-surface-success-border:         color-mix(in srgb, var(--stuic-color-success) 30%, var(--stuic-color-background));
	--stuic-color-surface:                        #e7e5e4;
	--stuic-color-surface-hover:                  color-mix(in oklab, var(--stuic-color-surface), var(--stuic-color-foreground) 10%);
	--stuic-color-surface-active:                 color-mix(in oklab, var(--stuic-color-surface), var(--stuic-color-foreground) 20%);
	--stuic-color-surface-foreground:             #1c1917;
	--stuic-color-surface-foreground-hover:       #1c1917;
	--stuic-color-surface-foreground-active:      #1c1917;
	--stuic-color-surface-1:                      #d6d3d1;
	--stuic-color-surface-1-hover:                color-mix(in oklab, var(--stuic-color-surface-1), var(--stuic-color-foreground) 10%);
	--stuic-color-surface-1-active:               color-mix(in oklab, var(--stuic-color-surface-1), var(--stuic-color-foreground) 20%);
	--stuic-color-surface-1-foreground:           #1c1917;
	--stuic-color-surface-1-foreground-hover:     #1c1917;
	--stuic-color-surface-1-foreground-active:    #1c1917;

	--stuic-color-background:                     #fafaf9;
	--stuic-color-background-hover:               #fafaf9;
	--stuic-color-background-active:              #fafaf9;
	--stuic-color-background-foreground:          #1c1917;
	--stuic-color-background-foreground-hover:    #1c1917;
	--stuic-color-background-foreground-active:   #1c1917;

	--stuic-color-muted:                          #f5f5f4;
	--stuic-color-muted-hover:                    color-mix(in oklab, var(--stuic-color-muted), var(--stuic-color-foreground) 10%);
	--stuic-color-muted-active:                   color-mix(in oklab, var(--stuic-color-muted), var(--stuic-color-foreground) 20%);
	--stuic-color-muted-foreground:               #78716c;
	--stuic-color-muted-foreground-hover:         #78716c;
	--stuic-color-muted-foreground-active:        #78716c;

	--stuic-color-foreground:                     #1c1917;
	--stuic-color-foreground-hover:               #1c1917;
	--stuic-color-foreground-active:              #1c1917;

	--stuic-color-border:                         #d6d3d1;
	--stuic-color-border-hover:                   color-mix(in oklab, var(--stuic-color-border), var(--stuic-color-foreground) 10%);
	--stuic-color-border-active:                  color-mix(in oklab, var(--stuic-color-border), var(--stuic-color-foreground) 20%);

	--stuic-color-input:                          #fafaf9;
	--stuic-color-input-hover:                    #f5f5f4;
	--stuic-color-input-active:                   color-mix(in oklab, var(--stuic-color-input), var(--stuic-color-foreground) 20%);

	--stuic-color-ring:                           rgba(41, 37, 36, 0.2);
	--stuic-color-ring-hover:                     rgba(41, 37, 36, 0.2);
	--stuic-color-ring-active:                    rgba(41, 37, 36, 0.2);
}

/* prettier-ignore */
:root.dark {
	--stuic-color-primary:                        #e7e5e4;
	--stuic-color-primary-hover:                  color-mix(in oklab, var(--stuic-color-primary), white 10%);
	--stuic-color-primary-active:                 color-mix(in oklab, var(--stuic-color-primary), white 20%);
	--stuic-color-primary-foreground:             #000000;
	--stuic-color-primary-foreground-hover:       #000000;
	--stuic-color-primary-foreground-active:      #000000;

	--stuic-color-accent:                         #78716c;
	--stuic-color-accent-hover:                   color-mix(in oklab, var(--stuic-color-accent), white 10%);
	--stuic-color-accent-active:                  color-mix(in oklab, var(--stuic-color-accent), white 20%);
	--stuic-color-accent-foreground:              #ffffff;
	--stuic-color-accent-foreground-hover:        #ffffff;
	--stuic-color-accent-foreground-active:       #ffffff;

	--stuic-color-destructive:                    #78716c;
	--stuic-color-destructive-hover:              color-mix(in oklab, var(--stuic-color-destructive), white 10%);
	--stuic-color-destructive-active:             color-mix(in oklab, var(--stuic-color-destructive), white 20%);
	--stuic-color-destructive-foreground:         #ffffff;
	--stuic-color-destructive-foreground-hover:   #ffffff;
	--stuic-color-destructive-foreground-active:  #ffffff;

	--stuic-color-warning:                        #a8a29e;
	--stuic-color-warning-hover:                  color-mix(in oklab, var(--stuic-color-warning), white 10%);
	--stuic-color-warning-active:                 color-mix(in oklab, var(--stuic-color-warning), white 20%);
	--stuic-color-warning-foreground:             #000000;
	--stuic-color-warning-foreground-hover:       #000000;
	--stuic-color-warning-foreground-active:      #000000;

	--stuic-color-success:                        #78716c;
	--stuic-color-success-hover:                  color-mix(in oklab, var(--stuic-color-success), white 10%);
	--stuic-color-success-active:                 color-mix(in oklab, var(--stuic-color-success), white 20%);
	--stuic-color-success-foreground:             #ffffff;
	--stuic-color-success-foreground-hover:       #ffffff;
	--stuic-color-success-foreground-active:      #ffffff;

	--stuic-color-surface-primary:                color-mix(in srgb, var(--stuic-color-primary) 15%, var(--stuic-color-background));
	--stuic-color-surface-primary-foreground:     color-mix(in srgb, var(--stuic-color-primary), white 50%);
	--stuic-color-surface-primary-border:         color-mix(in srgb, var(--stuic-color-primary) 30%, var(--stuic-color-background));
	--stuic-color-surface-accent:                 color-mix(in srgb, var(--stuic-color-accent) 15%, var(--stuic-color-background));
	--stuic-color-surface-accent-foreground:      color-mix(in srgb, var(--stuic-color-accent), white 50%);
	--stuic-color-surface-accent-border:          color-mix(in srgb, var(--stuic-color-accent) 30%, var(--stuic-color-background));
	--stuic-color-surface-destructive:            color-mix(in srgb, var(--stuic-color-destructive) 15%, var(--stuic-color-background));
	--stuic-color-surface-destructive-foreground: color-mix(in srgb, var(--stuic-color-destructive), white 50%);
	--stuic-color-surface-destructive-border:     color-mix(in srgb, var(--stuic-color-destructive) 30%, var(--stuic-color-background));
	--stuic-color-surface-warning:                color-mix(in srgb, var(--stuic-color-warning) 15%, var(--stuic-color-background));
	--stuic-color-surface-warning-foreground:     color-mix(in srgb, var(--stuic-color-warning), white 50%);
	--stuic-color-surface-warning-border:         color-mix(in srgb, var(--stuic-color-warning) 30%, var(--stuic-color-background));
	--stuic-color-surface-success:                color-mix(in srgb, var(--stuic-color-success) 15%, var(--stuic-color-background));
	--stuic-color-surface-success-foreground:     color-mix(in srgb, var(--stuic-color-success), white 50%);
	--stuic-color-surface-success-border:         color-mix(in srgb, var(--stuic-color-success) 30%, var(--stuic-color-background));
	--stuic-color-surface:                        #44403c;
	--stuic-color-surface-hover:                  color-mix(in oklab, var(--stuic-color-surface), var(--stuic-color-foreground) 10%);
	--stuic-color-surface-active:                 color-mix(in oklab, var(--stuic-color-surface), var(--stuic-color-foreground) 20%);
	--stuic-color-surface-foreground:             #d6d3d1;
	--stuic-color-surface-foreground-hover:       #d6d3d1;
	--stuic-color-surface-foreground-active:      #d6d3d1;
	--stuic-color-surface-1:                      #57534e;
	--stuic-color-surface-1-hover:                color-mix(in oklab, var(--stuic-color-surface-1), var(--stuic-color-foreground) 10%);
	--stuic-color-surface-1-active:               color-mix(in oklab, var(--stuic-color-surface-1), var(--stuic-color-foreground) 20%);
	--stuic-color-surface-1-foreground:           #e7e5e4;
	--stuic-color-surface-1-foreground-hover:     #e7e5e4;
	--stuic-color-surface-1-foreground-active:    #e7e5e4;

	--stuic-color-background:                     #1c1917;
	--stuic-color-background-hover:               #1c1917;
	--stuic-color-background-active:              #1c1917;
	--stuic-color-background-foreground:          #fafaf9;
	--stuic-color-background-foreground-hover:    #fafaf9;
	--stuic-color-background-foreground-active:   #fafaf9;

	--stuic-color-muted:                          #292524;
	--stuic-color-muted-hover:                    color-mix(in oklab, var(--stuic-color-muted), var(--stuic-color-foreground) 10%);
	--stuic-color-muted-active:                   color-mix(in oklab, var(--stuic-color-muted), var(--stuic-color-foreground) 20%);
	--stuic-color-muted-foreground:               #a8a29e;
	--stuic-color-muted-foreground-hover:         #a8a29e;
	--stuic-color-muted-foreground-active:        #a8a29e;

	--stuic-color-foreground:                     #fafaf9;
	--stuic-color-foreground-hover:               #fafaf9;
	--stuic-color-foreground-active:              #fafaf9;

	--stuic-color-border:                         #44403c;
	--stuic-color-border-hover:                   color-mix(in oklab, var(--stuic-color-border), var(--stuic-color-foreground) 10%);
	--stuic-color-border-active:                  color-mix(in oklab, var(--stuic-color-border), var(--stuic-color-foreground) 20%);

	--stuic-color-input:                          #1c1917;
	--stuic-color-input-hover:                    #292524;
	--stuic-color-input-active:                   color-mix(in oklab, var(--stuic-color-input), var(--stuic-color-foreground) 20%);

	--stuic-color-ring:                           rgba(231, 229, 228, 0.25);
	--stuic-color-ring-hover:                     rgba(231, 229, 228, 0.25);
	--stuic-color-ring-active:                    rgba(231, 229, 228, 0.25);
}

/* prettier-ignore */
@supports not (color: color-mix(in oklab, red, blue)) {
	:root {
		--stuic-color-primary-hover:                  #221f1e;
		--stuic-color-primary-active:                 #1c1918;

		--stuic-color-accent-hover:                   #67615d;
		--stuic-color-accent-active:                  #57524e;

		--stuic-color-destructive-hover:              #67615d;
		--stuic-color-destructive-active:             #57524e;

		--stuic-color-warning-hover:                  #928c89;
		--stuic-color-warning-active:                 #7c7774;

		--stuic-color-success-hover:                  #67615d;
		--stuic-color-success-active:                 #57524e;

		--stuic-color-surface-primary:                #dbdad9;
		--stuic-color-surface-primary-foreground:     #151312;
		--stuic-color-surface-primary-border:         #bbbab9;
		--stuic-color-surface-accent:                 #e6e5e4;
		--stuic-color-surface-accent-foreground:      #3c3936;
		--stuic-color-surface-accent-border:          #d3d1cf;
		--stuic-color-surface-destructive:            #e6e5e4;
		--stuic-color-surface-destructive-foreground: #3c3936;
		--stuic-color-surface-destructive-border:     #d3d1cf;
		--stuic-color-surface-warning:                #eeedeb;
		--stuic-color-surface-warning-foreground:     #54514f;
		--stuic-color-surface-warning-border:         #e1e0de;
		--stuic-color-surface-success:                #e6e5e4;
		--stuic-color-surface-success-foreground:     #3c3936;
		--stuic-color-surface-success-border:         #d3d1cf;
		--stuic-color-surface-hover:                  #d0cecd;
		--stuic-color-surface-active:                 #bab7b6;
		--stuic-color-surface-1-hover:                #c1bebc;
		--stuic-color-surface-1-active:               #ada9a7;

		--stuic-color-muted-hover:                    #dcdcdb;
		--stuic-color-muted-active:                   #c4c4c2;

		--stuic-color-border-hover:                   #c1bebc;
		--stuic-color-border-active:                  #ada9a7;

		--stuic-color-input-active:                   #c8c7c6;
	}

	:root.dark {
		--stuic-color-primary-hover:                  #e9e8e7;
		--stuic-color-primary-active:                 #eceae9;

		--stuic-color-accent-hover:                   #857e7a;
		--stuic-color-accent-active:                  #918c88;

		--stuic-color-destructive-hover:              #857e7a;
		--stuic-color-destructive-active:             #918c88;

		--stuic-color-warning-hover:                  #b0aba7;
		--stuic-color-warning-active:                 #b9b4b1;

		--stuic-color-success-hover:                  #857e7a;
		--stuic-color-success-active:                 #918c88;

		--stuic-color-surface-primary:                #3a3836;
		--stuic-color-surface-primary-foreground:     #f3f2f2;
		--stuic-color-surface-primary-border:         #595655;
		--stuic-color-surface-accent:                 #2a2624;
		--stuic-color-surface-accent-foreground:      #bcb8b6;
		--stuic-color-surface-accent-border:          #383331;
		--stuic-color-surface-destructive:            #2a2624;
		--stuic-color-surface-destructive-foreground: #bcb8b6;
		--stuic-color-surface-destructive-border:     #383331;
		--stuic-color-surface-warning:                #312e2b;
		--stuic-color-surface-warning-foreground:     #d3d1cf;
		--stuic-color-surface-warning-border:         #464240;
		--stuic-color-surface-success:                #2a2624;
		--stuic-color-surface-success-foreground:     #bcb8b6;
		--stuic-color-surface-success-border:         #383331;
		--stuic-color-surface-hover:                  #54504d;
		--stuic-color-surface-active:                 #65615e;
		--stuic-color-surface-1-hover:                #66625d;
		--stuic-color-surface-1-active:               #75726d;

		--stuic-color-muted-hover:                    #3b3736;
		--stuic-color-muted-active:                   #4d4a49;

		--stuic-color-border-hover:                   #54504d;
		--stuic-color-border-active:                  #65615e;

		--stuic-color-input-active:                   #423f3d;
	}
}
