/* prettier-ignore */
:root {
	--stuic-color-primary:                        #7c3aed;
	--stuic-color-primary-hover:                  color-mix(in oklab, var(--stuic-color-primary), black 10%);
	--stuic-color-primary-active:                 color-mix(in oklab, var(--stuic-color-primary), black 20%);
	--stuic-color-primary-foreground:             #ffffff;
	--stuic-color-primary-foreground-hover:       #ffffff;
	--stuic-color-primary-foreground-active:      #ffffff;

	--stuic-color-accent:                         #f43f5e;
	--stuic-color-accent-hover:                   color-mix(in oklab, var(--stuic-color-accent), black 10%);
	--stuic-color-accent-active:                  color-mix(in oklab, var(--stuic-color-accent), black 20%);
	--stuic-color-accent-foreground:              #ffffff;
	--stuic-color-accent-foreground-hover:        #ffffff;
	--stuic-color-accent-foreground-active:       #ffffff;

	--stuic-color-destructive:                    #dc2626;
	--stuic-color-destructive-hover:              color-mix(in oklab, var(--stuic-color-destructive), black 10%);
	--stuic-color-destructive-active:             color-mix(in oklab, var(--stuic-color-destructive), black 20%);
	--stuic-color-destructive-foreground:         #ffffff;
	--stuic-color-destructive-foreground-hover:   #ffffff;
	--stuic-color-destructive-foreground-active:  #ffffff;

	--stuic-color-warning:                        #f59e0b;
	--stuic-color-warning-hover:                  color-mix(in oklab, var(--stuic-color-warning), black 10%);
	--stuic-color-warning-active:                 color-mix(in oklab, var(--stuic-color-warning), black 20%);
	--stuic-color-warning-foreground:             #ffffff;
	--stuic-color-warning-foreground-hover:       #ffffff;
	--stuic-color-warning-foreground-active:      #ffffff;

	--stuic-color-success:                        #059669;
	--stuic-color-success-hover:                  color-mix(in oklab, var(--stuic-color-success), black 10%);
	--stuic-color-success-active:                 color-mix(in oklab, var(--stuic-color-success), black 20%);
	--stuic-color-success-foreground:             #ffffff;
	--stuic-color-success-foreground-hover:       #ffffff;
	--stuic-color-success-foreground-active:      #ffffff;

	--stuic-color-surface-primary:                color-mix(in srgb, var(--stuic-color-primary) 15%, var(--stuic-color-background));
	--stuic-color-surface-primary-foreground:     color-mix(in srgb, var(--stuic-color-primary), black 50%);
	--stuic-color-surface-primary-border:         color-mix(in srgb, var(--stuic-color-primary) 30%, var(--stuic-color-background));
	--stuic-color-surface-accent:                 color-mix(in srgb, var(--stuic-color-accent) 15%, var(--stuic-color-background));
	--stuic-color-surface-accent-foreground:      color-mix(in srgb, var(--stuic-color-accent), black 50%);
	--stuic-color-surface-accent-border:          color-mix(in srgb, var(--stuic-color-accent) 30%, var(--stuic-color-background));
	--stuic-color-surface-destructive:            color-mix(in srgb, var(--stuic-color-destructive) 15%, var(--stuic-color-background));
	--stuic-color-surface-destructive-foreground: color-mix(in srgb, var(--stuic-color-destructive), black 50%);
	--stuic-color-surface-destructive-border:     color-mix(in srgb, var(--stuic-color-destructive) 30%, var(--stuic-color-background));
	--stuic-color-surface-warning:                color-mix(in srgb, var(--stuic-color-warning) 15%, var(--stuic-color-background));
	--stuic-color-surface-warning-foreground:     color-mix(in srgb, var(--stuic-color-warning), black 50%);
	--stuic-color-surface-warning-border:         color-mix(in srgb, var(--stuic-color-warning) 30%, var(--stuic-color-background));
	--stuic-color-surface-success:                color-mix(in srgb, var(--stuic-color-success) 15%, var(--stuic-color-background));
	--stuic-color-surface-success-foreground:     color-mix(in srgb, var(--stuic-color-success), black 50%);
	--stuic-color-surface-success-border:         color-mix(in srgb, var(--stuic-color-success) 30%, var(--stuic-color-background));
	--stuic-color-surface:                        #e4e4e7;
	--stuic-color-surface-hover:                  color-mix(in oklab, var(--stuic-color-surface), var(--stuic-color-foreground) 10%);
	--stuic-color-surface-active:                 color-mix(in oklab, var(--stuic-color-surface), var(--stuic-color-foreground) 20%);
	--stuic-color-surface-foreground:             #18181b;
	--stuic-color-surface-foreground-hover:       #18181b;
	--stuic-color-surface-foreground-active:      #18181b;
	--stuic-color-surface-1:                      #d4d4d8;
	--stuic-color-surface-1-hover:                color-mix(in oklab, var(--stuic-color-surface-1), var(--stuic-color-foreground) 10%);
	--stuic-color-surface-1-active:               color-mix(in oklab, var(--stuic-color-surface-1), var(--stuic-color-foreground) 20%);
	--stuic-color-surface-1-foreground:           #18181b;
	--stuic-color-surface-1-foreground-hover:     #18181b;
	--stuic-color-surface-1-foreground-active:    #18181b;

	--stuic-color-background:                     #fafafa;
	--stuic-color-background-hover:               #fafafa;
	--stuic-color-background-active:              #fafafa;
	--stuic-color-background-foreground:          #18181b;
	--stuic-color-background-foreground-hover:    #18181b;
	--stuic-color-background-foreground-active:   #18181b;

	--stuic-color-muted:                          #f4f4f5;
	--stuic-color-muted-hover:                    color-mix(in oklab, var(--stuic-color-muted), var(--stuic-color-foreground) 10%);
	--stuic-color-muted-active:                   color-mix(in oklab, var(--stuic-color-muted), var(--stuic-color-foreground) 20%);
	--stuic-color-muted-foreground:               #71717a;
	--stuic-color-muted-foreground-hover:         #71717a;
	--stuic-color-muted-foreground-active:        #71717a;

	--stuic-color-foreground:                     #18181b;
	--stuic-color-foreground-hover:               #18181b;
	--stuic-color-foreground-active:              #18181b;

	--stuic-color-border:                         #d4d4d8;
	--stuic-color-border-hover:                   color-mix(in oklab, var(--stuic-color-border), var(--stuic-color-foreground) 10%);
	--stuic-color-border-active:                  color-mix(in oklab, var(--stuic-color-border), var(--stuic-color-foreground) 20%);

	--stuic-color-input:                          #ffffff;
	--stuic-color-input-hover:                    #fafafa;
	--stuic-color-input-active:                   color-mix(in oklab, var(--stuic-color-input), var(--stuic-color-foreground) 20%);

	--stuic-color-ring:                           rgba(139, 92, 246, 0.2);
	--stuic-color-ring-hover:                     rgba(139, 92, 246, 0.2);
	--stuic-color-ring-active:                    rgba(139, 92, 246, 0.2);
}

/* prettier-ignore */
:root.dark {
	--stuic-color-primary:                        #8b5cf6;
	--stuic-color-primary-hover:                  color-mix(in oklab, var(--stuic-color-primary), white 10%);
	--stuic-color-primary-active:                 color-mix(in oklab, var(--stuic-color-primary), white 20%);
	--stuic-color-primary-foreground:             #ffffff;
	--stuic-color-primary-foreground-hover:       #ffffff;
	--stuic-color-primary-foreground-active:      #ffffff;

	--stuic-color-accent:                         #f43f5e;
	--stuic-color-accent-hover:                   color-mix(in oklab, var(--stuic-color-accent), white 10%);
	--stuic-color-accent-active:                  color-mix(in oklab, var(--stuic-color-accent), white 20%);
	--stuic-color-accent-foreground:              #ffffff;
	--stuic-color-accent-foreground-hover:        #ffffff;
	--stuic-color-accent-foreground-active:       #ffffff;

	--stuic-color-destructive:                    #ef4444;
	--stuic-color-destructive-hover:              color-mix(in oklab, var(--stuic-color-destructive), white 10%);
	--stuic-color-destructive-active:             color-mix(in oklab, var(--stuic-color-destructive), white 20%);
	--stuic-color-destructive-foreground:         #ffffff;
	--stuic-color-destructive-foreground-hover:   #ffffff;
	--stuic-color-destructive-foreground-active:  #ffffff;

	--stuic-color-warning:                        #fbbf24;
	--stuic-color-warning-hover:                  color-mix(in oklab, var(--stuic-color-warning), white 10%);
	--stuic-color-warning-active:                 color-mix(in oklab, var(--stuic-color-warning), white 20%);
	--stuic-color-warning-foreground:             #000000;
	--stuic-color-warning-foreground-hover:       #000000;
	--stuic-color-warning-foreground-active:      #000000;

	--stuic-color-success:                        #10b981;
	--stuic-color-success-hover:                  color-mix(in oklab, var(--stuic-color-success), white 10%);
	--stuic-color-success-active:                 color-mix(in oklab, var(--stuic-color-success), white 20%);
	--stuic-color-success-foreground:             #000000;
	--stuic-color-success-foreground-hover:       #000000;
	--stuic-color-success-foreground-active:      #000000;

	--stuic-color-surface-primary:                color-mix(in srgb, var(--stuic-color-primary) 15%, var(--stuic-color-background));
	--stuic-color-surface-primary-foreground:     color-mix(in srgb, var(--stuic-color-primary), white 50%);
	--stuic-color-surface-primary-border:         color-mix(in srgb, var(--stuic-color-primary) 30%, var(--stuic-color-background));
	--stuic-color-surface-accent:                 color-mix(in srgb, var(--stuic-color-accent) 15%, var(--stuic-color-background));
	--stuic-color-surface-accent-foreground:      color-mix(in srgb, var(--stuic-color-accent), white 50%);
	--stuic-color-surface-accent-border:          color-mix(in srgb, var(--stuic-color-accent) 30%, var(--stuic-color-background));
	--stuic-color-surface-destructive:            color-mix(in srgb, var(--stuic-color-destructive) 15%, var(--stuic-color-background));
	--stuic-color-surface-destructive-foreground: color-mix(in srgb, var(--stuic-color-destructive), white 50%);
	--stuic-color-surface-destructive-border:     color-mix(in srgb, var(--stuic-color-destructive) 30%, var(--stuic-color-background));
	--stuic-color-surface-warning:                color-mix(in srgb, var(--stuic-color-warning) 15%, var(--stuic-color-background));
	--stuic-color-surface-warning-foreground:     color-mix(in srgb, var(--stuic-color-warning), white 50%);
	--stuic-color-surface-warning-border:         color-mix(in srgb, var(--stuic-color-warning) 30%, var(--stuic-color-background));
	--stuic-color-surface-success:                color-mix(in srgb, var(--stuic-color-success) 15%, var(--stuic-color-background));
	--stuic-color-surface-success-foreground:     color-mix(in srgb, var(--stuic-color-success), white 50%);
	--stuic-color-surface-success-border:         color-mix(in srgb, var(--stuic-color-success) 30%, var(--stuic-color-background));
	--stuic-color-surface:                        #27272a;
	--stuic-color-surface-hover:                  color-mix(in oklab, var(--stuic-color-surface), var(--stuic-color-foreground) 10%);
	--stuic-color-surface-active:                 color-mix(in oklab, var(--stuic-color-surface), var(--stuic-color-foreground) 20%);
	--stuic-color-surface-foreground:             #a1a1aa;
	--stuic-color-surface-foreground-hover:       #a1a1aa;
	--stuic-color-surface-foreground-active:      #a1a1aa;
	--stuic-color-surface-1:                      #3f3f46;
	--stuic-color-surface-1-hover:                color-mix(in oklab, var(--stuic-color-surface-1), var(--stuic-color-foreground) 10%);
	--stuic-color-surface-1-active:               color-mix(in oklab, var(--stuic-color-surface-1), var(--stuic-color-foreground) 20%);
	--stuic-color-surface-1-foreground:           #d4d4d8;
	--stuic-color-surface-1-foreground-hover:     #d4d4d8;
	--stuic-color-surface-1-foreground-active:    #d4d4d8;

	--stuic-color-background:                     #09090b;
	--stuic-color-background-hover:               #09090b;
	--stuic-color-background-active:              #09090b;
	--stuic-color-background-foreground:          #fafafa;
	--stuic-color-background-foreground-hover:    #fafafa;
	--stuic-color-background-foreground-active:   #fafafa;

	--stuic-color-muted:                          #18181b;
	--stuic-color-muted-hover:                    color-mix(in oklab, var(--stuic-color-muted), var(--stuic-color-foreground) 10%);
	--stuic-color-muted-active:                   color-mix(in oklab, var(--stuic-color-muted), var(--stuic-color-foreground) 20%);
	--stuic-color-muted-foreground:               #71717a;
	--stuic-color-muted-foreground-hover:         #71717a;
	--stuic-color-muted-foreground-active:        #71717a;

	--stuic-color-foreground:                     #fafafa;
	--stuic-color-foreground-hover:               #fafafa;
	--stuic-color-foreground-active:              #fafafa;

	--stuic-color-border:                         #3f3f46;
	--stuic-color-border-hover:                   color-mix(in oklab, var(--stuic-color-border), var(--stuic-color-foreground) 10%);
	--stuic-color-border-active:                  color-mix(in oklab, var(--stuic-color-border), var(--stuic-color-foreground) 20%);

	--stuic-color-input:                          #09090b;
	--stuic-color-input-hover:                    #18181b;
	--stuic-color-input-active:                   color-mix(in oklab, var(--stuic-color-input), var(--stuic-color-foreground) 20%);

	--stuic-color-ring:                           rgba(167, 139, 250, 0.25);
	--stuic-color-ring-hover:                     rgba(167, 139, 250, 0.25);
	--stuic-color-ring-active:                    rgba(167, 139, 250, 0.25);
}

/* prettier-ignore */
@supports not (color: color-mix(in oklab, red, blue)) {
	:root {
		--stuic-color-primary-hover:                  #6b31ce;
		--stuic-color-primary-active:                 #5a28b0;

		--stuic-color-accent-hover:                   #d43551;
		--stuic-color-accent-active:                  #b52c44;

		--stuic-color-destructive-hover:              #bf2020;
		--stuic-color-destructive-active:             #a31919;

		--stuic-color-warning-hover:                  #d58908;
		--stuic-color-warning-active:                 #b67406;

		--stuic-color-success-hover:                  #04825a;
		--stuic-color-success-active:                 #036e4c;

		--stuic-color-surface-primary:                #e7ddf8;
		--stuic-color-surface-primary-foreground:     #3e1d77;
		--stuic-color-surface-primary-border:         #d4c0f6;
		--stuic-color-surface-accent:                 #f9dee3;
		--stuic-color-surface-accent-foreground:      #7a202f;
		--stuic-color-surface-accent-border:          #f8c2cb;
		--stuic-color-surface-destructive:            #f5dada;
		--stuic-color-surface-destructive-foreground: #6e1313;
		--stuic-color-surface-destructive-border:     #f1baba;
		--stuic-color-surface-warning:                #f9ecd6;
		--stuic-color-surface-warning-foreground:     #7b4f06;
		--stuic-color-surface-warning-border:         #f8deb2;
		--stuic-color-surface-success:                #d5ebe4;
		--stuic-color-surface-success-foreground:     #034b35;
		--stuic-color-surface-success-border:         #b0dcce;
		--stuic-color-surface-hover:                  #cdcdd0;
		--stuic-color-surface-active:                 #b6b6b9;
		--stuic-color-surface-1-hover:                #bfbfc3;
		--stuic-color-surface-1-active:               #aaaaae;

		--stuic-color-muted-hover:                    #dbdbdc;
		--stuic-color-muted-active:                   #c2c2c4;

		--stuic-color-border-hover:                   #bfbfc3;
		--stuic-color-border-active:                  #aaaaae;

		--stuic-color-input-active:                   #cbcbcc;
	}

	:root.dark {
		--stuic-color-primary-hover:                  #956ff8;
		--stuic-color-primary-active:                 #9f81fb;

		--stuic-color-accent-hover:                   #f8596d;
		--stuic-color-accent-active:                  #fc6f7d;

		--stuic-color-destructive-hover:              #f45c57;
		--stuic-color-destructive-active:             #f8716a;

		--stuic-color-warning-hover:                  #fcc64c;
		--stuic-color-warning-active:                 #fccd66;

		--stuic-color-success-hover:                  #43c08d;
		--stuic-color-success-active:                 #5fc899;

		--stuic-color-surface-primary:                #1c152e;
		--stuic-color-surface-primary-foreground:     #c5aefb;
		--stuic-color-surface-primary-border:         #302252;
		--stuic-color-surface-accent:                 #2c1117;
		--stuic-color-surface-accent-foreground:      #fa9faf;
		--stuic-color-surface-accent-border:          #501924;
		--stuic-color-surface-destructive:            #2c1214;
		--stuic-color-surface-destructive-foreground: #f7a2a2;
		--stuic-color-surface-destructive-border:     #4e1b1c;
		--stuic-color-surface-warning:                #2d240f;
		--stuic-color-surface-warning-foreground:     #fddf92;
		--stuic-color-surface-warning-border:         #524012;
		--stuic-color-surface-success:                #0a231d;
		--stuic-color-surface-success-foreground:     #88dcc0;
		--stuic-color-surface-success-border:         #0b3e2e;
		--stuic-color-surface-hover:                  #39393c;
		--stuic-color-surface-active:                 #4c4c4e;
		--stuic-color-surface-1-hover:                #4f5056;
		--stuic-color-surface-1-active:               #616167;

		--stuic-color-muted-hover:                    #2a2a2d;
		--stuic-color-muted-active:                   #3e3e41;

		--stuic-color-border-hover:                   #4f5056;
		--stuic-color-border-active:                  #616167;

		--stuic-color-input-active:                   #303032;
	}
}
